section.container.about-banner-wrap
    .about-banner.d-flex.align-items-center.hght100
        .col-md-5.order-md-1.about-banner__textwrap
            .about-banner__text
                h1.h2heading eShakti grow 20 times in the last 7 years to leadership
                p Deliver clothing that is made just for you. It is not enough that fashion looks good on the mannequin - it needs to look good on YOU!
        .col-md-7.order-md-0.about-banner__imgwrap
            .about-banner__img
                img(src="./assets/images/home/banner-img1.png", alt="")

section.home-contest
    .container
        .row.align-items-center
            .col-sm-5.home-contest__text
                h3.h3heading About eshakti
                p ‘Something Happened’ is a contest that helps us hear your stories. We also reward the best of them. Here are the winning entries of our last contest. We hope you will share your special eShakti story in the current Something Happened Contest.We hope you will share your special eShakti story in the current Something Happened Contest.

            .col-sm-7.home-contest__img.pb-0
                .home-contest__imgbox(style="background-image: url('./assets/images/home/contestant-img1.jpg')")
                .home-contest__imgbox(style="background-image: url('./assets/images/home/contestant-img2.jpg')")

section.about-brand
    .container
        .about-brand__intro
            h2.section-heading What The Brand Means
            p The feedback from customers says three things most often. With an eShakti, they feel confident, they get compliments – and they feel feminine
        
        .about-brand__cust
            .col-md-4
                img(src="./assets/images/about/about-custeasy.svg", alt="")
                p Customization is easy
            .col-md-4
                img(src="./assets/images/about/about-custfast.svg", alt="")
                p Customization is fast
            .col-md-4
                img(src="./assets/images/about/about-custaff.svg", alt="")
                p Customization is affordable

section.about-content
    .container
        .about-content__box
            .about-content__boximg
                img(src="./assets/images/about/about-content.jpg", alt="")

            .about-content__boxtext
                h3 Opportunity
                p ‘Something Happened’ is a contest that helps us hear your stories. We also reward the best of them. Here are the winning entries of our last contest. We hope you will share your special eShakti story in the current Something Happened Contest.We hope you will share your special eShakti story in the current Something Happened Contest. ‘Something Happened’ is a contest that helps us hear your stories. 

        .about-content__box
            .about-content__boximg
                img(src="./assets/images/about/about-content.jpg", alt="")

            .about-content__boxtext
                h3 Opportunity
                p ‘Something Happened’ is a contest that helps us hear your stories. We also reward the best of them. Here are the winning entries of our last contest. We hope you will share your special eShakti story in the current Something Happened Contest.We hope you will share your special eShakti story in the current Something Happened Contest. ‘Something Happened’ is a contest that helps us hear your stories. 

section.home-feedback.about-feedback
    .container
        h2.section-heading Feedback of the day
        .home-feedback__box
            p I could write about all the wonderful features of eShakti, such as the creative and varied clothing designs, the well-designed and informative product descriptions on the website


        
        .review-cardwrap
            ul.row
                li.col-md-4.d-md-flex
                    .review-card
                        .d-flex.align-items-center 
                            .user-pic   
                                img(src="assets/images/cust-speaks/user-pic.png", alt="user-pic")
                            div 
                                ul.ratings.five
                                    li
                                        .icon-starfill
                                    li
                                        .icon-starfill
                                    li
                                        .icon-starfill
                                    li
                                        .icon-starfill
                                    li
                                        .icon-starfill
                                p Just the way I expected
                        p.review I asked if it was possible to have the elastic seamed waist have the elastic just in the back, and was happy that eShakti could do that. The result is super flattering, thank you! 
                        p - Dorothea Parrish , PA
                        p.date 20/02/2020
                li.col-md-4.d-md-flex
                    .review-card
                        .d-flex.align-items-center 
                            .user-pic   
                                img(src="assets/images/cust-speaks/user-pic.png", alt="user-pic")
                            div 
                                ul.ratings.three
                                    li
                                        .icon-starfill
                                    li
                                        .icon-starfill
                                    li
                                        .icon-starfill
                                    li
                                        .icon-starfill
                                    li
                                        .icon-starfill
                                p Stunning designs
                        p.review The quality of the dresses are incredible. I now own over 10 dresses and I love all of them!
                        p - Erica Morales
                        p.date 20/02/2020
                li.col-md-4.d-md-flex
                    .review-card
                        .d-flex.align-items-center 
                            .user-pic   
                                img(src="assets/images/cust-speaks/user-pic.png", alt="user-pic")
                            div 
                                ul.ratings.four
                                    li
                                        .icon-starfill
                                    li
                                        .icon-starfill
                                    li
                                        .icon-starfill
                                    li
                                        .icon-starfill
                                    li
                                        .icon-starfill
                                p Great customization 
                        p.review I love the workmanship and the lining in the dress and pockets! The quality of the fabric is great also. I'm excited to have found your company.
                        p - Sherry Nash
                        p.date 20/02/2020

            a(href="#").web-link Show more

    
        