section.affiliate-content
    h1.h2heading Become an eShakti affiliate

    section.about-content
        .container.custom-container
            .about-content__box
                .about-content__boximg
                    img(src="./assets/images/about/about-content.jpg", alt="")

                .about-content__boxtext
                    h3 Be part of a Mission
                    p At eShakti, we never want to tell a woman her size is not available. We believe that all women have the right to wear affordable fashion that is made for them and makes them look their absolute best.
                    p As an eShakti affiliate, you can now be part of a brand that empowers women to get clothes that best suit their personal size and style, all at an affordable price!
            .about-content__box
                .about-content__boximg
                    img(src="./assets/images/about/about-content.jpg", alt="")

                .about-content__boxtext
                    h3 How does it work
                    p eShakti is partnered with the top affiliate networks to assure accurate reporting to you. Sign up on any of these networks for access to log in and access our text links, banners and the constantly updated product feed. The commission rates along with cookie duration would all be specified on each network. Payments are directly handled by the networks so it absolutely hassle free!

    section.about-content.affiliate-list
        .container.custom-container
            .about-content__box
                .about-content__boximg
                    img(src="./assets/images/affiliate/affiliate-img.png", alt="")

                .about-content__boxtext
                    h3 Why eShakti
                    ul
                        li
                            p Only brand in the world that offers size 0-36W & Custom Size / Style on Women's apparel

                        li One of the highest commission rates in the industry
                        li eShakti has been extensively covered by top magazines like Glamour, Oprah, Essence, Woman's World, Redbook and appeared on popular shows.
                        li
                            p Popular on all social media including Pinterest, Facebook, Twitter & Polyvore

            .affiliate-list__box
                p.heading
                    strong Join in any of the programs
                ul
                    li
                        img(src="./assets/images/affiliate/affiliate-logo1.png", alt="")
                    li
                        a(href="#")
                            img(src="./assets/images/affiliate/affiliate-logo2.png", alt="")
                    li
                        img(src="./assets/images/affiliate/affiliate-logo3.png", alt="")
                p Email us at : 
                    a(href="mailto:affiliates@eshakti.com") affiliates@eshakti.com