section.contest-content
    h1.h2heading Something happened contest winners

    .container.custom-container
        ul.nav(role='tablist')
            li.nav-item.pb-0
                a.nav-link.active(data-toggle='tab' href='#year-2019' role='tab') 2019
            li.nav-item.pb-0
                a.nav-link(data-toggle='tab' href='#year-2018' role='tab') 2018                      
    .tab-content
        #year-2019.tab-pane.fade.show.active
            section.about-content
                .container.custom-container
                    .about-content__box
                        .about-content__boximg
                            img(src="./assets/images/contest/contest-img.jpg", alt="")

                        .about-content__boxtext
                            h3 First Price
                            p To quote the Rolling Stones, “She comes in colors everywhere....” Here is MY @eshakti story! #eshakti Whenever I need a dress for something special, I mark out a few weeks in advance on my calendar so I can have my fave, affordable online store, eShakti, make something *perfect*. When I saw this rainbow dress, I just knew it was the one for my venue’s 3rd anniversary party. I raised the neckline a smidge (I love that the designs are customizable!), rocked the dress in 100 degree Texas heat, and literally got complimented all day. I will definitely keep ordering from eShakti. I tell all of my friends!
                            p
                                strong - Dorothea Parrish , PA
                    .about-content__box
                        .about-content__boximg
                            img(src="./assets/images/contest/contest-img.jpg", alt="")

                        .about-content__boxtext
                            h3 Second Price
                            p To quote the Rolling Stones, “She comes in colors everywhere....” Here is MY @eshakti story! #eshakti Whenever I need a dress for something special, I mark out a few weeks in advance on my calendar so I can have my fave, affordable online store, eShakti, make something *perfect*. When I saw this rainbow dress, I just knew it was the one for my venue’s 3rd anniversary party. I raised the neckline a smidge (I love that the designs are customizable!), rocked the dress in 100 degree Texas heat, and literally got complimented all day. I will definitely keep ordering from eShakti. I tell all of my friends!
                            p
                                strong - Dorothea Parrish , PA
        #year-2018.tab-pane.fade
            section.about-content
                .container.custom-container
                    .about-content__box
                        .about-content__boximg
                            img(src="./assets/images/about/about-content.jpg", alt="")

                        .about-content__boxtext
                            h3 Opportunity
                            p ‘Something Happened’ is a contest that helps us hear your stories. We also reward the best of them. Here are the winning entries of our last contest. We hope you will share your special eShakti story in the current Something Happened Contest.We hope you will share your special eShakti story in the current Something Happened Contest. ‘Something Happened’ is a contest that helps us hear your stories. 
                            p
                                strong - Dorothea Parrish , PA
                    .about-content__box
                        .about-content__boximg
                            img(src="./assets/images/about/about-content.jpg", alt="")

                        .about-content__boxtext
                            h3 Opportunity
                            p ‘Something Happened’ is a contest that helps us hear your stories. We also reward the best of them. Here are the winning entries of our last contest. We hope you will share your special eShakti story in the current Something Happened Contest.We hope you will share your special eShakti story in the current Something Happened Contest. ‘Something Happened’ is a contest that helps us hear your stories. 
                            p
                                strong - Dorothea Parrish , PA

section.contest-entries
    .container
        h2.section-heading More entries that we loved

        ul.masonry
            li.contest-entries__box
                .contest-entries__img(style="background-image: url('assets/images/contest/contest-entry.jpg')")
                .contest-entries__text
                    p.d-flex.justify-content-between
                        strong - Dorothea Parrish , PA
                        span 25th Mar 2019
                    p Finding a good dress that fits can be so hard, but that first moment when you put it on and fall in love sticks in your brain. Having a company that you know you can customize a dress however you want--your exact measurements, your height, sleeve length, neckline, etc. Also, the most important part...they all have POCKETS! I have just fallen in love with shopping from #eshakti When you're 5'10" finding a dress that's long enough isn't hard with eShakti. You should check them out @ eshakti.com (though you might be sucked into scrolling through dresses for hours 😉😂)
            li.contest-entries__box
                .contest-entries__img(style="background-image: url('assets/images/contest/contest-entry.jpg')")
                .contest-entries__text
                    p.d-flex.justify-content-between
                        strong - Erica Morales
                        span 25th Mar 2019
                    p At our last performance, people raved about our matching dresses, wondering where we got them. It's certainly not easy finding dresses that fit us and don't require major alterations. So we were thrilled to discover www.eshakti.com this year. Their dresses fit us perfectly right out of the box! Glad Brenda Thoresen discovered them! #eShakti
            li.contest-entries__box
                .contest-entries__img(style="background-image: url('assets/images/contest/contest-entry.jpg')")
                .contest-entries__text
                    p.d-flex.justify-content-between
                        strong - Lily Tadeo
                        span 25th Mar 2019
                    p Just a quick shoutout to #eShakti for relieving one big MOB stress. I liked your customization platform so much, I actually ordered 4 dresses over 3 months. All were a perfect fit and now I am decked out for events for the year. Thanks for helping me find a dress I love. Custom and mail order y’all!!! www.eshakti.com

            li.contest-entries__box
                .contest-entries__img(style="background-image: url('assets/images/contest/contest-entry.jpg')")
                .contest-entries__text
                    p.d-flex.justify-content-between
                        strong - Rebecca Friedman
                        span 25th Mar 2019
                    p When you order dress online and you have the power to customize the style at your own flattering fit, you end up ordering more. Being petite (5”), it’s still a challenge to find the right size with a perfect fit. That whenever I bought something that I really like, I usually bring it to the alterations and spend more money.
                    p Sharing this dress from @eshakti that makes me feel the most beautiful. I customize the neckline, sleeves and the length. You just have to provide your measurements and height.