section.sec-customer-speaks
    .container
        .row
            .col-md-6.m-auto.text-center
                h2.page-title Customer Speak
                p.page-desc 
                    | We love to hear from you. 
                    a(href="javascript:void(0)") Click here 
                    | &nbsp; to email us with whatever you'd like to share – whether it’s feedback on our products, customer service.
        ul.row
            li.col-md-4.d-md-flex
                .review-card.no-img
                    .d-flex.align-items-center 
                        .user-pic   
                            img(src="assets/images/cust-speaks/user-pic.png", alt="user-pic")
                        div 
                            ul.ratings.five
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                            p Just the way I expected
                    p.review I asked if it was possible to have the elastic seamed waist have the elastic just in the back, and was happy that eShakti could do that. The result is super flattering, thank you! 
                    p - Dorothea Parrish , PA
                    p.date 20/02/2020
            li.col-md-4.d-md-flex
                .review-card.no-img
                    .d-flex.align-items-center 
                        .user-pic   
                            img(src="assets/images/cust-speaks/user-pic.png", alt="user-pic")
                        div 
                            ul.ratings.three
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                            p Stunning designs
                    p.review The quality of the dresses are incredible. I now own over 10 dresses and I love all of them!
                    p - Erica Morales
                    p.date 20/02/2020
            li.col-md-4.d-md-flex
                .review-card.no-img
                    .d-flex.align-items-center 
                        .user-pic   
                            img(src="assets/images/cust-speaks/user-pic.png", alt="user-pic")
                        div 
                            ul.ratings.four
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                            p Great customization 
                    p.review I love the workmanship and the lining in the dress and pockets! The quality of the fabric is great also. I'm excited to have found your company.
                    p - Sherry Nash
                    p.date 20/02/2020
            li.col-md-4.d-md-flex
                .review-card.no-img
                    .d-flex.align-items-center 
                        .user-pic   
                            img(src="assets/images/cust-speaks/user-pic.png", alt="user-pic")
                        div 
                            ul.ratings.three
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                            p Stunning designs
                    p.review The quality of the dresses are incredible. I now own over 10 dresses and I love all of them!
                    p - Erica Morales
                    p.date 20/02/2020
            li.col-md-4.d-md-flex
                .review-card.no-img
                    .d-flex.align-items-center 
                        .user-pic   
                            img(src="assets/images/cust-speaks/user-pic.png", alt="user-pic")
                        div 
                            ul.ratings.four
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                            p Great customization 
                    p.review I love the workmanship and the lining in the dress and pockets! The quality of the fabric is great also. I'm excited to have found your company.
                    p - Sherry Nash
                    p.date 20/02/2020
            li.col-md-4.d-md-flex
                .review-card.no-img
                    .d-flex.align-items-center 
                        .user-pic   
                            img(src="assets/images/cust-speaks/user-pic.png", alt="user-pic")
                        div 
                            ul.ratings.five
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                            p Just the way I expected
                    p.review I asked if it was possible to have the elastic seamed waist have the elastic just in the back, and was happy that eShakti could do that. The result is super flattering, thank you! 
                    p - Dorothea Parrish , PA
                    p.date 20/02/2020
            li.col-md-4.d-md-flex
                .review-card.no-img
                    .d-flex.align-items-center 
                        .user-pic   
                            img(src="assets/images/cust-speaks/user-pic.png", alt="user-pic")
                        div 
                            ul.ratings.four
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                            p Great customization 
                    p.review I love the workmanship and the lining in the dress and pockets! The quality of the fabric is great also. I'm excited to have found your company.
                    p - Sherry Nash
                    p.date 20/02/2020
            li.col-md-4.d-md-flex
                .review-card.no-img
                    .d-flex.align-items-center 
                        .user-pic   
                            img(src="assets/images/cust-speaks/user-pic.png", alt="user-pic")
                        div 
                            ul.ratings.five
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                            p Just the way I expected
                    p.review I asked if it was possible to have the elastic seamed waist have the elastic just in the back, and was happy that eShakti could do that. The result is super flattering, thank you! 
                    p - Dorothea Parrish , PA
                    p.date 20/02/2020
            li.col-md-4.d-md-flex
                .review-card.no-img
                    .d-flex.align-items-center 
                        .user-pic   
                            img(src="assets/images/cust-speaks/user-pic.png", alt="user-pic")
                        div 
                            ul.ratings.five
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                                li
                                    .icon-starfill
                            p Just the way I expected
                    p.review I asked if it was possible to have the elastic seamed waist have the elastic just in the back, and was happy that eShakti could do that. The result is super flattering, thank you! 
                    p - Dorothea Parrish , PA
                    p.date 20/02/2020

        .row
            .col-12
                ul.page-pagination
                    li
                        a(href="javascript:void(0)") &lt;
                    li.active
                        a(href="javascript:void(0)") 1
                    li
                        a(href="javascript:void(0)") 2
                    li
                        a(href="javascript:void(0)") 3
                    li
                        a(href="javascript:void(0)") 4
                    li.active
                        a(href="javascript:void(0)") &gt;