.how-work-content
    .container
        .how-work-banner(style="background-image: url('./assets/images/how-works/how-work-banner.jpg')")
            h1.section-heading We Design. You Customize
            a(href="#" data-toggle="modal" data-target=".video-popup")
                i.icon-play

        .how-work-boxwrap
            .about-content__box
                .about-content__boximg
                    img(src="./assets/images/how-works/how-work-img.jpg", alt="")

                .about-content__boxtext
                    h3 1. Pick your favourite design
                    p Choose one (or many) of the dresses, tops, and bottoms in the eShakti collection.
                    a(href="#").web-link Shop styles now

            .about-content__box
                .about-content__boximg
                    img(src="./assets/images/how-works/how-work-img.jpg", alt="")

                .about-content__boxtext
                    h3 2. Tell us your measurements
                    p Whether you choose to customize your item or not, we’ll always need to know at least your height to give you a great fit.
                    a(href="#").web-link See our size & fitting guide

            .about-content__box
                .about-content__boximg
                    img(src="./assets/images/how-works/how-work-img.jpg", alt="")

                .about-content__boxtext
                    h3 3. Customize your design to suit your style
                    p Choose one (or many) of the dresses, tops, and bottoms in the eShakti collection.
                    a(href="#").web-link Join eShakti

            .about-content__box
                .about-content__boximg
                    img(src="./assets/images/how-works/how-work-img.jpg", alt="")

                .about-content__boxtext
                    h3 4. Get ready for your customized clothing
                    p Choose one (or many) of the dresses, tops, and bottoms in the eShakti collection.
                    a(href="#").web-link See shipping Info