section.sec-styles
    .container
        .row
            .col-12.text-center
                h4 Media Speak
        ul.row
            li.col-md-6.col-lg-4.d-flex
                .media-card
                    .img-c(style="background-image: url('assets/images/media-speaks/image-1.png')")
                    .content
                        .d-flex.justify-content-between.align-items-center
                            p 25th Mar 2019
                            .logo(style="background-image: url('assets/images/media-speaks/logo-1.png')")
                        h6 A customized dress - with pockets? Coming right up from eShakti
                        p.desc If you’ve ever waited eagerly for the UPS guy to deliver your new outfit -- only to find the dress that looked so gorgeous on the web is the wrong color for your complexion
            li.col-md-6.col-lg-4.d-flex
                .media-card
                    .img-c(style="background-image: url('assets/images/media-speaks/image-2.png')")
                    .content
                        .d-flex.justify-content-between.align-items-center
                            p 25th Mar 2019
                            .logo(style="background-image: url('assets/images/media-speaks/logo-2.png')")
                        h6 eShakti now lets customer change the garment style with just a click 
                        p.desc If you’ve ever waited eagerly for the UPS guy to deliver your new outfit -- only to find the dress that looked so gorgeous.
            li.col-md-6.col-lg-4.d-flex
                .media-card
                    .img-c(style="background-image: url('assets/images/media-speaks/image-3.png')")
                    .content
                        .d-flex.justify-content-between.align-items-center
                            p 25th Mar 2019
                            .logo(style="background-image: url('assets/images/media-speaks/logo-3.png')")
                        h6 The personalization factor
                        p.desc If you’ve ever waited eagerly for the UPS guy to deliver your new outfit -- only to find the dress that looked so gorgeous on the web is the wrong color for your complexion
            li.col-md-6.col-lg-4.d-flex
                .media-card
                    .img-c(style="background-image: url('assets/images/media-speaks/image-4.png')")
                    .content
                        .d-flex.justify-content-between.align-items-center
                            p 25th Mar 2019
                            .logo(style="background-image: url('assets/images/media-speaks/logo-2.png')")
                        h6 eShakti now lets customer change the garment style with just a click 
                        p.desc If you’ve ever waited eagerly for the UPS guy to deliver your new outfit -- only to find the dress that looked so gorgeous.
            li.col-md-6.col-lg-4.d-flex
                .media-card
                    .img-c(style="background-image: url('assets/images/media-speaks/image-5.png')")
                    .content
                        .d-flex.justify-content-between.align-items-center
                            p 25th Mar 2019
                            .logo(style="background-image: url('assets/images/media-speaks/logo-3.png')")
                        h6 The personalization factor
                        p.desc If you’ve ever waited eagerly for the UPS guy to deliver your new outfit -- only to find the dress that looked so gorgeous on the web is the wrong color for your complexion
            li.col-md-6.col-lg-4.d-flex
                .media-card
                    .img-c(style="background-image: url('assets/images/media-speaks/image-6.png')")
                    .content
                        .d-flex.justify-content-between.align-items-center
                            p 25th Mar 2019
                            .logo(style="background-image: url('assets/images/media-speaks/logo-1.png')")
                        h6 A customized dress - with pockets? Coming right up from eShakti
                        p.desc If you’ve ever waited eagerly for the UPS guy to deliver your new outfit -- only to find the dress that looked so gorgeous on the web is the wrong color for your complexion
