section.sec-styles
    .container
        .row
            .col-12.text-center
                h4 Real Fashion For Real People
        ul.masonry-fashion
            li.real-card.brick 
                .img-c(style="background-image: url('assets/images/real-fashion/image-1.png')")
                .content
                    h6 Super cute yellow Jumpsuit
                    p.desc If you’ve ever waited eagerly for the UPS guy to deliver your new outfit -- only to find the dress that looked so gorgeous on the web is the wrong color for your complexion
                    .d-flex.justify-content-between.align-items-center
                        .d-flex.justify-content-between.align-items-center
                            .logo
                                .icon.icon-instagram
                            p Erica Morales
                        a(href="javascript:void(0)") Shop this look
            li.real-card.brick 
                .img-c(style="background-image: url('assets/images/real-fashion/image-2.png')")
                .content
                    h6 Made to your own personal measurements
                    p.desc Eshakti are an online women's fashion company that offers fully customizable apparel in sizes 0-36W. They have a wide range of products from dresses to denim in a range of accessible price points. Every style they offer can be made to your own personal measurements.
                    .d-flex.justify-content-between.align-items-center
                        .d-flex.justify-content-between.align-items-center
                            .logo
                                .icon.icon-instagram
                            p Alex Faafetai
                        a(href="javascript:void(0)") Shop this look
            li.real-card.brick 
                .img-c(style="background-image: url('assets/images/real-fashion/image-3.png')")
                .content
                    h6 My custome dress by eshakti
                    p.desc If you’ve ever waited eagerly for the UPS guy to deliver your new outfit -- only to find the dress that looked so gorgeous on the web is the wrong color for your complexion
                    .d-flex.justify-content-between.align-items-center
                        .d-flex.justify-content-between.align-items-center
                            .logo
                                .icon.icon-instagram
                            p Callie, Florida
                        a(href="javascript:void(0)") Shop this look
            
            li.real-card.brick 
                .img-c(style="background-image: url('assets/images/real-fashion/image-3.png')")
                .content
                    h6 My custome dress by eshakti
                    p.desc If you’ve ever waited eagerly for the UPS guy to deliver your new outfit -- only to find the dress that looked so gorgeous on the web is the wrong color for your complexion
                    .d-flex.justify-content-between.align-items-center
                        .d-flex.justify-content-between.align-items-center
                            .logo
                                .icon.icon-instagram
                            p Callie, Florida
                        a(href="javascript:void(0)") Shop this look
            li.real-card.brick 
                .img-c(style="background-image: url('assets/images/real-fashion/image-1.png')")
                .content
                    h6 Super cute yellow Jumpsuit
                    p.desc If you’ve ever waited eagerly for the UPS guy to deliver your new outfit -- only to find the dress that looked so gorgeous on the web is the wrong color for your complexion
                    .d-flex.justify-content-between.align-items-center
                        .d-flex.justify-content-between.align-items-center
                            .logo
                                .icon.icon-instagram
                            p Erica Morales
                        a(href="javascript:void(0)") Shop this look
            li.real-card.brick 
                .img-c(style="background-image: url('assets/images/real-fashion/image-2.png')")
                .content
                    h6 Made to your own personal measurements
                    p.desc Eshakti are an online women's fashion company that offers fully customizable apparel in sizes 0-36W. They have a wide range of products from dresses to denim in a range of accessible price points. Every style they offer can be made to your own personal measurements.
                    .d-flex.justify-content-between.align-items-center
                        .d-flex.justify-content-between.align-items-center
                            .logo
                                .icon.icon-instagram
                            p Alex Faafetai
                        a(href="javascript:void(0)") Shop this look
            