.accounts-contain
    .container.d-lg-flex.justify-content-end.position-relative
        include ../accounts/left-panel.pug
        +leftpanel('address')

        .address-management-rigt
            include ./shipping-address.pug