.old-address.mb-5
    .old-address-container
        .row
            .col-lg-4
                span.fnt-14-grey Shipping Details
                p Steffy Joseph 
                address 400 Hartford Avenue, Mount street,Bellingham MA 200198.
                
            .col-lg-4
                span.fnt-14-grey Billing Details
                p Steffy Joseph 
                address 400 Hartford Avenue, Mount street,Bellingham MA 200198.
        .row
            .col-12
                .edit-wrp
                    a.edit-txt.mr-2.mr-md-3.js-add-address(href="javascript:void(0)") 
                        i.icon-edit
                        span.pl-1 Edit Address
                    a.edit-txt.ml-2.ml-md-3(href="") 
                        i.icon-delete 
                        span Delete
       
    button.btn-text.mt-3.mt-md-4.py-2.px-3.js-add-address(type="button") + New Address
.from-wrapper.pop-up.address.form-element-container
    form.form-address.form-group-container(data-parsley-validate)
        p.pop-head Shipping Address
        .js-to-validate
            .row
                .col.form-group
                    label(for="") Address Line 1 
                    input.form-input(type="text" data-parsley-trigger="input keyup change" data-parsley-error-message="Please provide your Address" data-parsley-required  )
                    p.shop-info.mt-2 Our shipping partners do not deliver to PO Boxes / APO, Virgin Islands and Puerto Rico addresses. Please provide a full street address.
            .row
                .col.form-group
                    label(for="") Address Line 2
                    input.form-input(type="text" data-parsley-trigger="input keyup change" data-parsley-error-message="Please provide your Address" data-parsley-required )
            .row
                .col-lg-6.form-group
                    label(for="") Zipcode
                    input.form-input(type="text" data-parsley-minlength="6" data-parsley-minlength-message="minimum 6 charectors" 
                    data-parsley-trigger="input keyup change" 
                    data-parsley-error-message="Please enter valid your Zipcode" data-parsley-required)
                .col-lg-6.form-group
                    label(for="") City
                    input.form-input(type="text" data-parsley-error-message="Please provide your City"  data-parsley-required)
            .row
                .col-lg-6.form-group
                    label(for="") State
                    .drop-container
                        .select-style.mr-0
                            span.triangle-icon
                            select.form-input.select-btn.txt-gry-12(required="")
                                option(value="") select
                                option(value='saab') Saab
                                option(value='mercedes') Mercedes
                                option(value='audi') Audi
                            //- input.select-input.d-none(type="text" data-parsley-errors-container="#errorBlock2" data-parsley-error-message="Please select your country" data-parsley-required)
                    #errorBlock2
                .col-lg-6.form-group
                    label(for="") Country
                    .drop-container
                        .select-style.mr-0
                            span.triangle-icon
                            select.form-input.select-btn.txt-gry-12(required="")
                                option(value="") select
                                option(value='saab') Saab
                                option(value='mercedes') Mercedes
                                option(value='audi') Audi
                            //- input.select-input.d-none(type="text" data-parsley-errors-container="#errorBlock1" data-parsley-error-message="Please select your country" data-parsley-required)
                    #errorBlock1
        .js-change-address
            .row
                .col-12
                    .change-address
                        p.pop-head.mb-2 Shipping Information
                        label.label-container.label-container--check
                            | Same as shipping address
                            input.address-checkbox(type="checkbox" name="selectPlant" value="" checked)
                            span.checkmark
                        .change-address-form
                            .row
                                .col.form-group
                                    label(for="") Address Line 1 
                                    input.form-input(type="text" data-parsley-trigger="input keyup change" data-parsley-error-message="Please provide your Address" data-parsley-required  )
                                    p.shop-info.mt-2 Our shipping partners do not deliver to PO Boxes / APO, Virgin Islands and Puerto Rico addresses. Please provide a full street address.
                            .row
                                .col.form-group
                                    label(for="") Address Line 2
                                    input.form-input(type="text" data-parsley-trigger="input keyup change" data-parsley-error-message="Please provide your Address" data-parsley-required )
                            .row
                                .col-lg-6.form-group
                                    label(for="") Zipcode
                                    input.form-input(type="text" data-parsley-minlength="6" data-parsley-minlength-message="minimum 6 charectors" 
                                    data-parsley-trigger="input keyup change" 
                                    data-parsley-error-message="Please enter valid your Zipcode" data-parsley-required)
                                .col-lg-6.form-group
                                    label(for="") City
                                    input.form-input(type="text" data-parsley-error-message="Please provide your City"  data-parsley-required)
                            .row
                                .col-lg-6.form-group
                                    label(for="") State
                                    .drop-container
                                        .select-style.mr-0
                                            span.triangle-icon
                                            select.form-input.select-btn.txt-gry-12(required="")
                                                option(value="") select
                                                option(value='saab') Saab
                                                option(value='mercedes') Mercedes
                                                option(value='audi') Audi
                                            //- input.select-input.d-none(type="text" data-parsley-errors-container="#errorBlock2" data-parsley-error-message="Please select your country" data-parsley-required)
                                    #errorBlock2
                                .col-lg-6.form-group
                                    label(for="") Country
                                    .drop-container
                                        .select-style.mr-0
                                            span.triangle-icon
                                            select.form-input.select-btn.txt-gry-12(required="")
                                                option(value="") select
                                                option(value='saab') Saab
                                                option(value='mercedes') Mercedes
                                                option(value='audi') Audi
                                            //- input.select-input.d-none(type="text" data-parsley-errors-container="#errorBlock1" data-parsley-error-message="Please select your country" data-parsley-required)
                                    #errorBlock1

                    button.address-btn.bttn.bttn__orange.mt-4(type="button") Save 