* {
  box-sizing: border-box;
}

dl,
ol,
p,
ul {
  margin: 0;
}

.is-disabled {
  pointer-events: none;
  cursor: none;
}


body {
  overflow-x: hidden;
  font-family: $opensans;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1text,
.h2text,
.h3text,
.h4text,
.h5text,
.h6text {
  font-family: $playfair;
}

h1,
.h1text,
h2,
.h2text,
h3,
.h3text {
  font-weight: 900;
}

.no-scroll {
  overflow: hidden;
}

a {
  display: inline-block;

  &:hover {
    color: inherit;
  }
}

.web-link {
  @extend .fnt-700;
  color: $text-black;
  line-height: 1.7;
  border-bottom: 1px solid;
}

.discount-bar {
  font-size: 11px;
  line-height: 1.64;
  color: $title-black;
  text-align: center;
  padding: 11px;

  a {
    @extend .fnt-700;
    color: $bnr-red;

    &::after,
    &::before {
      content: " ";
      white-space: pre;
    }

    &:last-of-type:not(:first-of-type) {
      color: $title-black;
      font-weight: normal;
      text-decoration: underline;
      margin-left: 3px;

      &::after,
      &::before {
        display: none;
      }
    }
  }
}