* {
  box-sizing: border-box;
}

dl,
ol,
p,
ul {
  margin: 0;
}

.is-disabled {
  pointer-events: none;
  cursor: none;
}


body {
  overflow-x: hidden;
  font-family: $opensans;
  color: $text-black;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1text,
.h2text,
.h3text,
.h4text,
.h5text,
.h6text {
  font-family: $playfair;
}

h1,
.h1text,
h2,
.h2text,
h3,
.h3text {
  font-weight: 900;
}

.no-scroll {
  overflow: hidden;
}

a {
  display: inline-block;

  &:hover {
    color: inherit;
  }
}

.web-link {
  @extend .fnt-700;
  color: $text-black;
  line-height: 1.7;
  border-bottom: 1px solid;
}

.hght100 {
  height: 100%;
}

[placeholder]:focus::-ms-input-placeholder {
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  opacity: 0;
}

[placeholder]:focus::-moz-placeholder {
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  opacity: 0;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  opacity: 0;
}
