body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 14px;
}

ul,
ol {
  list-style-type: none;
}

.fnt-300 {
  font-weight: 300;
}

.fnt-500 {
  font-weight: 500;
}
.fnt-400 {
  font-weight: 400 !important;
}

.fnt-600 {
  font-weight: 600 !important;
}

.fnt-700 {
  font-weight: 700;
}

.fnt-800 {
  font-weight: 800;
}

.h2heading {
  font-size: 32px;
  
  @include bp("tab") {
    font-size: 37px;
  }
  
  @include bp("desktop-1200") {
    font-size: 42px;
  }
}

.h3heading {
  font-size: 28px;
   
  @include bp("tab") {
    font-size: 30px;
  }
  
  @include bp("desktop-1200") {
    font-size: 32px;
  } 
}

.fnt-xs {
  font-size: 12px;
  line-height: 22px;
  @include bp("tab") {
    font-size: 13px;
  }
}

.fnt-sm {
  font-size: 12px;
  line-height: 22px;

  @include bp("tab") {
    font-size: 14px;
    line-height: 24px;
  }
}


// section-headings

.section-heading {
  font-size: 28px;
  line-height: 1.3;
  color: $title-black;
  
  @include bp("tab") {
    font-size: 32px;
  }
  
  @include bp("desktop-1200") {
    font-size: 36px;
  }

  @include bpmax("phone") {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
  }
}
