// Section Cart
section
    .container
        .row
            // Cart items information
            .col-md-8
                .cart-items
                    .cart-items__head
                        .cart-title
                            h2.cart-title__text.d-inline-block Your Shopping Bag
                            p.d-inline-block
                                | 2
                                span  items
                        .cart-item-DiscList.row.text-uppercase
                            span.d-block.float-left.col-8 item
                            span.d-block.float-left.col-2 price
                            span.d-block.float-left.col-2 qty
                    .cart-items__info
            // Cart items checkout link
            .col-md-4
            