.main-div {
    width: 400px;
    height: 2000px;
    background: red;
}

body {
/* Disables pull-to-refresh but allows overscroll glow effects. */
    overscroll-behavior-y: contain;
}

html.overflow-hidden {
    overflow: hidden;
}

.scroll-div {
    position: fixed;
    top: calc(100% - 100px);
    background: blue;
    width: 400px;
    height: 100vh;
    overflow: hidden;
    transition: all 0.3s ease;

    &.active {
        overflow: auto;
    }
}

.content {
    height: 100%;
    color: white;
    overflow: hidden;
}

.mystyle .content {
    overflow: auto;

    // &.attop {
    //     touch-action: pan-down;
    // }
}