.about-banner-wrap {
    padding-top: 130px;
    padding-bottom: 60px;

    @include bpmax('tab-mid') {
        padding-top: 100px;
        padding-bottom: 40px;
    }

    @include bpmax('phone-lg') {
        padding-top: 90px;
        padding-bottom: 30px;
    }

    @include bpmax('phone') {
        height: auto;
        padding-bottom: 15px;
        padding-top: 75px;
    }

    @media only screen and (max-width: 479.9px) {
        padding-bottom: 0px;
    }

    @include bp('tab') {
        height: 520px;
    }

    @include bp('desktop') {
        height: 610px;
    }

    @media only screen and (min-width: 1300px) {
        height: 700px;
        padding-top: 150px;
    }
}

.about-banner {
    background-image: linear-gradient(184deg, #eae9e7 0%, #e7e6e4 100%);
    flex-wrap: wrap;

    &__textwrap {
        max-width: 47.25%;
        flex: 0 0 47.25%;

        @include bpmax('phone-lg') {
            max-width: none;
            flex: none;
            width: 100%;
            padding: 40px 30px 0;
        }

        @media only screen and (max-width: 479.9px) {
            padding: 30px 20px 0;
        }
    }

    &__imgwrap {
        max-width: 52.25%;
        flex: 0 0 52.25%;
        height: 100%;
        padding-top: 30px;

        @include bpmax('phone-lg') {
            max-width: none;
            flex: none;
            width: 100%;
            height: 400px;
        }

        @include bpmax('phone') {
            height: 300px;
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        height: 100%;
        background: #e9e8e6;

        img {
            height: 100%;
        }
    }

    &__text {
        max-width: 372px;

        > *:last-child {
            margin-bottom: 0;
        }

        @include bpmax('tab') {
            max-width: 295px;
        }

        @include bpmax('phone-lg') {
            max-width: none;
        }

        .h2heading {
            line-height: 1.05;
            color: $bnr-black;
        }

        span {
            color: $bnr-red;
        }

        p {
            margin: 20px 0 25px;
        }
    }
}

.about-brand {
    padding: 60px 0;

    @include bpmax("desktop") {
        padding: 50px 0;
    }

    @include bpmax("tab-mid") {
        padding: 45px 0; 
    }

    @include bpmax('phone') {
        padding: 35px 0;
    }

    &__intro {
        max-width: 550px;
        padding: 0 12.5;
        margin: 0 auto;
        width: 100%;
        text-align: center;

        p {
            margin-top: 10px;
        }
    }

    &__cust {
        margin-top: 40px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;

        @include bpmax('phone-lg') {
            margin-top: 30px;
        }

        > div {
            max-width: none;
            flex: none;
            margin-right: 50px;
            width: auto;

            @include bpmax('tab-mid') {
                margin-right: 30px;
            }

            @include bpmax('phone') {
                margin-right: 15px;
                padding: 0 10px;
            }

            @media only screen and (max-width: 479.9px) {
                margin-right: 0;
                width: 50%;
                margin-top: 20px;

                &:nth-of-type(-n+2) {
                    margin-top: 0;
                }
            }

            &:last-of-type {
                margin-right: 0;
            }
        }

        img {
            height: 48px;
            width: auto;

            @include bpmax('phone') {
                height: 40px;
            }
        }

        p {
            color: #3f4145;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.43;
            margin-top: 12px;

            @include bpmax('tab-mid') {
                max-width: 110px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.about-content {
    padding: 60px 0;
    background-color: #f9f9f9;

    @include bpmax("desktop") {
        padding: 50px 0;
    }

    @include bpmax("tab-mid") {
        padding: 45px 0; 
    }

    @include bpmax('phone') {
        padding: 35px 0;
    }

    &__box {
        display: flex;
        margin-top: 60px;
        flex-wrap: wrap;

        &:first-of-type {
            margin-top: 0;
        }

        @include bpmax('tab-mid') {
            margin-top: 45px;
        }

        @include bpmax('phone-lg') {
            margin-top: 30px;
        }

        &img {
            width: 54%;
            display: flex;
            align-items: center;
            
            img {
                width: 100%;
            }

            @include bpmax('phone-lg') {
                width: 100%;
            }
        }

        &text {
            width: 46%;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include bpmax('desktop') {
                padding-left: 65px;
            }

            @include bpmax('tab-mid') {
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 40px;
            }

            @include bpmax('phone-lg') {
                width: 100%;
                padding-left: 0;
                padding-top: 20px;
            }
        }

        h3 {
            color: $title-black;
            font-size: 32px;
            font-weight: 900;
            line-height: 1;

            @include bpmax('tab-mid') {
                font-size: 29px;
            }

            @include bpmax('phone-lg') {
                margin-bottom: 0;
            }

            @include bpmax('phone') {
                font-size: 26px;
            }
        }

        p {
            color: $text-black;
            line-height: 1.5;
            margin-top: 15px;
        }

        &:nth-of-type(even) {
            flex-direction: row-reverse;

            .about-content__boxtext {
                padding-left: 0;
                padding-right: 80px;
                
                @include bpmax('desktop') {
                    padding-right: 65px;
                }
    
                @include bpmax('tab-mid') {
                    padding-right: 40px;
                }
            }

            @include bpmax('phone-lg') {
                flex-direction: row;
            }
        }
    }
}

.about-feedback {
    .home-feedback__box {
        width: 680px;
        
        p {
            line-height: 1.5;
        }
    }
    
    .review-cardwrap {
        text-align: left;
        margin-top: 50px;

        @include bpmax('tab-mid') {
            margin-top: 40px;

            .row {
                margin-left: -7.5px;
                margin-right: -7.5px;

                > [class*="col-"] {
                    padding: 0 7.5px;
                }
            }
        }

        .web-link {
            display: table;
            margin: 0 auto;
            margin-top: 15px;

            @include bpmax('tab-mid') {
                margin-top: 5px;
            }
        }
    }
}