.sec-customer-speaks {
    padding: 200px 0 55px;

    .page-title {
        color: #202225;
        font-size: 42px;
        font-weight: 900;
        line-height: 1.1;
        margin-bottom: 20px;
    }

    .page-desc {
        color: #3f4145;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        margin-bottom: 33px;

        a {
            color: #3f4145;
            font-weight: 600;
            border-bottom: 1px solid #3f4145;
        }
    }

    @media(max-width: 767px) {
        padding: 90px 0 50px;

        .page-title {
            font-size: 28px;
            margin-bottom: 15px;
        }

        .page-desc {
            font-size: 12px;
            max-width: 350px;
            margin: 0 auto 35px;
        }
    }

    @media(max-width: 991px) {
        padding: 110px 0 50px;
    }
}

.review-card {
    width: 100%;
    padding: 24px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    margin-bottom: 24px;

    .user-pic {
        width: 70px;
        height: 70px;
        margin-right: 16px;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .ratings {
        display: flex;
        margin-bottom: 10px;

        li {
            height: 20px;
            width: 20px;
            position: relative;
            margin-right: 3px;

            .icon-starfill {
                font-size: 18px;
            }

            &:nth-child(1) {
                .icon-starfill::before {
                    color: #f25c50;
                }
            }
        }

        &.two {
            li {
                &:nth-child(2) {
                    .icon-starfill::before {
                        color: #f25c50;
                    }
                }
            }
        }

        &.three {
            li {
                &:nth-child(2),
                &:nth-child(3) {
                    .icon-starfill::before {
                        color: #f25c50;
                    }
                }
            }
        }

        &.four {
            li {
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    .icon-starfill::before {
                        color: #f25c50;
                    }
                }
            }
        }

        &.five {
            li {
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    .icon-starfill::before {
                        color: #f25c50;
                    }
                }
            }
        }
    }

    p {
        color: #3f4145;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.4;
    }

    .review {
        font-weight: 400;
        margin: 24px 0 15px;
        font-style: italic;
    }

    .date {
        font-size: 12px;
        font-weight: 400;
        margin-top: 10px;
    }

    &.no-img {
        .user-pic {
            display: none;
        }

        .review {
            margin: 16px 0 15px;
        }
    }

    @media(max-width: 992px) {
        padding: 20px;
        margin-bottom: 25px;

        .user-pic {
            width: 50px;
            height: 50px;
            margin-right: 13px;
        }

        p {
            font-size: 13px;
        }

        .review {
            margin: 20px 0 15px;
        }

        &.no-img {
            .review {
                margin: 14px 0 15px;
            }
        }
    }
}

.page-pagination {
    display: flex;
    margin: auto;
    max-width: fit-content;

    li {
        margin-right: 16px;

        a {
            opacity: 0.7;
            color: #3f4145;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 700;
        }

        &.active {
            a {
                opacity: 1;
                border-bottom: 1px solid #3f4145;
            }
        }

        &:last-child,
        &:first-child {
            a {
                border: none !important;
            }
        }
    }
}
