// Product-details

.prod-label  {
    @extend .fnt-xxs;
    text-transform: uppercase;
    letter-spacing: $letter-spacing03;
    font-weight: 700;
    color: $title-black;
}

.prdt-caption {
    @extend .fnt-xxs;
    font-weight: 600;
    letter-spacing: 0.18px;
    color: $text-black;
    display: block;
}

.text-des-s {
    @extend .fnt-xxxs;
    color: $selection-label;
}

// Product content

.dress-details {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 1.2rem;
}

.pdp-name {
    font-family: $opensans;
    color: $black;
    font-weight: 600;
    margin: {
        top: .2rem;
        bottom: .2rem;
    };
}
.pdp-title {
    @extend .fnt-xxs;
    font-weight: 600;
    letter-spacing: $letter-spacing03;
}
.product-info {
    &__style-code {
        @extend .fnt-xxs;
        color: rgba($color: #1f1f1f, $alpha: .7);
    }
}

// Product price

.product-price {
    margin : {
        top: .8rem;
        bottom: 1rem;
    }
    &__text {
        color: #f25c50;
        letter-spacing: 0.4px;
        font-weight: 700;
        @extend .fnt-xlg;
        letter-spacing: $letter-spacing04;
    }
}

.reviews {
    display: flex;
    align-items: center;
    &__rating {
        @extend .fnt-xxs;
        color: #252424;
    }
}

// Product-sizes info

.pdt-size-select {
    @include bpmax("phone-lg") {
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 1rem;
    }
}

.pdp-size-container {
    padding: {
        top: .8rem;
        bottom: .8rem;
    };
}

.prd-size {
    @include bp("desktop-1200") {
        display: flex;
    }
    // @media screen and (min-width:1024px) {
    //     flex-direction: column;
        
    // }
    // @media screen and (min-width:1336px) {
    //     flex-direction: row;   
    // }
}

.size {
    margin-right: 5px;
    @include bp("tab") {
        margin-bottom: .8rem;
    }
    @include bp("desktop-1200") {
        margin-bottom: 1.2rem;
    }
    // @extend .flex-center;
}

.size-hd {
    color: #3f4145;
    @extend .fnt-sm;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    display: block;
}

.size-number {
    // width: 40px;
    // height: 31px;
    // border: 1px solid #e0e2e3;
    background-color: $white;
    @extend .fnt-xxs;
    letter-spacing: $letter-spacing02;
    font-weight: 600;
    display: inline-block;
    margin: {
        right: .3rem;
        top: .2rem;
    }
    label {
        position: relative;
        top: 1px;
        margin-bottom: 0;
        color: #72777e;
        cursor: pointer;
        @extend .flex-center;
    }
    &__label{
        width: 40px;
        height: 31px;
        border: 1px solid #e0e2e3;
    }
}

// size selections

.size-select {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.size-select:checked + .size-number__label {
    background: $black;
    color: $white;
}

.icon-modify {
    cursor: pointer;
    position: relative;
    top: 2px;
}

.text-des {
    font-size: 10px;
    line-height: 20px;
    color: rgba(47, 47, 47, .8);
    @include bp("tab") {
        font-size: 11px;
        line-height: 22px;
    }
}

.learn-link {
    @extend .txt-gry-12;
    color: #0f0f0f;
    font-weight: 600;
    text-decoration: underline;
}

.seletion-label {
    font-size: 13px;
    line-height: 23px;
    font-weight: 600;
    color: $selection-label;
}

.select-style {
    margin-top: 8px;
    position: relative;
    padding: 0;
    background-color: #fcfcfc;
    margin-right: 21px;
    &--height {
        .select_wrap ul {
            min-width: 90px !important;
            &.open {
                min-width: 90px !important;
            }
        }
    }
}

.select-style select {
    padding: 5px 8px;
    // width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

}

.select-style select:focus {
    outline: none;
}

.select-label {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: $letter-spacing03;
}

// colors

.prd-color {
    &__label {
        color: #1f1f1f;
        margin-bottom: .5rem;
        display: block;
    }
}


//Product recent items

.product-recent-view {
    padding-top: 1rem;
    @include bpmax("phone-lg") {
        overflow: hidden;
    }
    @media screen and (min-width: 768px){
        padding-top: 2rem;
        
    }
    @media screen and (min-width: 1024px){
        padding-top: 4rem;
        
    }
   &__title {
       font-family: $opensans;
       text-transform: uppercase;
       @extend .fnt-xlg;
       @extend .fnt-600;
   }
}

.card-slider-overide {
    .swiper-slide{
        @include bpmax("phone-lg") {
            padding: {
                right: 1rem;
                left: 1rem;           
            }
        }
    }
    @include bp("tab") {
        flex-wrap: wrap;
    }
}

.btn-wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include bpmax("phone-lg") {
        background-color: #ffffff;
        position: sticky;
        bottom: 0;
        z-index: 10;
    }
    .btn-addCart {
        border: none;
        width: 100%;
        @media screen and (min-width:767px){
        width: auto;
            
        }
    }
}
.size-active {
    background-color: #000000;
    clear: #fff;
}