.product-listing {
    
    padding-top: 5rem;
    @media screen and (min-width: 768px) {
        
        padding-top: 6rem;
    }
    @media screen and (min-width: 992px) {
        
        padding-top: 9rem;
    }
    @media screen and (min-width: 1024px) {
        
        padding-top: 11rem;
    }
   
    font-style: $opensans;
    
    .share {
        cursor: pointer;
    }
    .drk-gry {
        color: $title-black;
    }
    .lt-gry {
        color: #83868a !important;
    }
    .nav-link {
        color: #2a2a2a;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 16px;
            height: 16px;
            border: 1px solid #a2a2a2;
            background-color: #ffffff;
            border-radius: 50%;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
        }
        &.active::after {
            position: absolute;
            content: '';
            width: 16px;
            height: 16px;
            border: 4px solid #f25c50;
            border-radius: 50%;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
        }
       
    }
    .select-style select {
        cursor: pointer;
        padding: 5px 8px;
        border: none;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
    }
    
    .select-style select:focus {
        outline: none;
    }
    .triangle-icon {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 6px solid #a1a1a1;
    }
    .select-Height {
        padding:12px 0;
        border-top: 1px solid #d7d9dc;
        border-bottom: 1px solid #d7d9dc;

    }
    .swiper-pagination-bullets {
        position: absolute;
        bottom: -40px !important;
        left: 50% !important;
        transform: translate(-50%,-50%);
        .swiper-pagination-bullet {
            margin-right: 7px;
            background-color: #929498 !important;
        }
        .swiper-pagination-bullet-active {
            background-color: #949aa5 !important    ;
        }
    }
}
.model-22 {
    font-family: $playfair;;
    font-size: 22px !important;
    font-weight: 900;
    letter-spacing: 0.51px;
}
.model-wrp {
    height: 708px;
   
}
.product-modal {
    background: rgba(255, 255, 255, 0.9);
    padding-right: 0 !important;
    
    .modal-dialog {
        overflow: visible !important;
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
    }
    .share-icon {
        width: 9px;
        height: 11px;
    }
    .custom-style {
        position: relative;
        background-color: #f9fafb;
        padding: 30px;
      
        @include bp("desktop-1200") {
            padding: 50px;
         
          }
    }
   
    .style-contain {
        
        .check-wrp {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .txt-gry-12 {
        color: #969696;
        // font-family: "Open Sans";
        font-size: 12px;
        font-weight: 400;

    }
   
   #myTab {
    .active {
        border-bottom: 1px solid #ffffff !important;
        background-color: #ffffff;
    }
   }    
    .style-head {
        color: #000000;
        @media screen and (max-width:767px ){
            margin-right: -4px;
            padding: 12px 20px;
            border: 1px solid #c7c9cb;
            background-color: #fafafa;
            
        }
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.28px;
        text-transform: uppercase;
    }
    .img-wrp {
        width: 50px;
        height: 50px;
        border: 1px solid transparent;
        background-color: #f1f1f1;
        transition: all 0.3s ease;
        margin-bottom: 0;
    }
    .img-txt {
        color: #c1c3c6;
        font-size: 10px;
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
        white-space: normal;

        &__inner-txt {
            font-size: 8px;
            text-transform: uppercase;
            opacity: 0.69;
            color: #aeb0b2;
        }
    }
    .img-container {
        width: 50px !important;
        cursor: pointer;
    }
    .modal-lg {
        .modal-content {
            box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
            background-color: #ffffff;
            overflow: hidden;
            @media screen and (min-width:1404px ){
                padding-top: 40px;
             
                
            }
            @media screen and (max-width:767px ){
                padding-bottom: 20px;
                
            }
        }
    }
    .slide-item {
        // margin-right: 40px;
    }
    .style-model-content {
        // display: inline-block;
        @include bp("tab") {
            display: block;
            
          }
        // & .active {
        //     @media screen and (max-width:767px ){
        //         display: flex;
                
        //     }
        // }
    }
    .style-model-content:not(:last-child){
        @include bp("tab") {
            margin-bottom: 20px
            
          }
        @include bp("desktop-lg") {
            margin-bottom: 55px;
            
          }
    }
    .model-img {
        width: 75px;
        // width: 148px;
        height: 275px;
        // height: 507px; 
        @media screen and (min-width: 375px){
            width: 74px;
            // height: 314px;
            
            
        }            
        @media screen and (min-width: 378px){
            height: 249px;
            // height: 312px;
            // height: 518px;
        }            
        // @media screen and (min-width: 414px){
        //     width: 324px;
        //     height: 432px;;
        // }            
        // @media screen and (min-width: 768px){
        //      height: 314px; 
        // }
        @media screen and (min-width: 992px){
             height: 314px; 
        }
        // @media screen and (min-width: 768px){
        //     width: 322px;
        //     height: 518px;
        // }
        @media screen and (min-width:1024px) {
            width: 148px;
            height: 507px; 
        }            
        // @media screen and (min-width: 1404px){
            
        // }            
        position: relative;
   
        .left-arm {
            position: absolute;
            top: 0;
            left: 0;
            width: 19px;
            // width: 38px;
            // @media screen and (min-width: 378px){
            //     width: 134px;
            // } 
            // @media screen and (max-width: 374px){
            // } 
            @media screen and (min-width:1024px) {
                width: 38px;
                height: 266px;
            }            
            // @media screen and (min-width: 1404px){
            //     width: 155px;
            //     height: 292px;
            // }
        }
        .right-arm {
            position: absolute;
            top: 0;
            right: 0;
            // width: 46px;
            width: 23px;
            
            @media screen and (min-width: 425px){
                
                // width: 47px;
            } 
            // @media screen and (max-width: 374px){
                
            // } 
            @media screen and (min-width:1024px) {
                width: 46px;
                height: 266px;
            }            
            // @media screen and (min-width: 1404px){
            //     width: 147px;
            //     height: 292px;
            // }
        }
        .neck-body {
            position: absolute;
            top: 0;
            // right: 46px;
            // width: 66px;
            right: 23px;
            width: 33px;
            
            // @media screen and (min-width: 378px){
            //     right: 45px;
            //     width: 63px;
            // } 
            @media screen and (min-width: 768px){
                

            } 
            @media screen and (min-width:1024px) {
                right: 45px;
                width: 66px;
                height: 266px;
                
            }            
            // @media screen and (min-width: 1404px){
            //     right: 147px;
            //     width: 73px;
            //     height: 292px;
            // }
            
        }
        .length {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            // width: 100%;
            width: 74px;
            height: 142px;
            // height: 180px;
            @media screen and (min-width: 425px){
               
                height: 116px;
                
            }
            @media screen and (min-width: 992px){
                width: 148px;
                height: 242px;
                
            }
        }
    }
    .savedItem {
        transition: ease-out .5 all;

        
    }
    .js-style-slider {
        width: 100%;
        .close-card {
            & span {
                left: 8px;
            }
        }
    }
    .share-style {
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 5px;
        display: flex;
        align-items: center;
        color: $title-black;
        @media screen and (min-width:768px)and (max-height:1024px) {
        bottom: 33px;
            
        }

        i {
            font-size: 16px;
            margin-right: 7px;
        }

        span {
            font-weight: 600;
            color: $title-black;
        }
    }
    .style-card {
        position: relative;
        border: 1px solid #e4e4e4;
        background-color: #ffffff;
        width: 100%;
        height: 335px;
        padding: 8px;
        text-align: center;
    }
    .card-wrp {
        width: 200px;
    }
    .saved-img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: center;
        display: inline-block;
    }
    
    
    .modal-content {
        overflow: auto !important;
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
        border: none;
        border-radius: 0;
    }

    .modal-dialog {
        height: 90vh;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
          }
          
          /* Hide scrollbar for IE and Edge */
          & {
            -ms-overflow-style: none;
          }
          
        @media screen and (max-width:767px ){
            width: 96%;
        }
        @media screen and (min-width:992px ){
            // max-width: 900px;
            max-width: 920px;
        }
        @media screen and (min-width:1404px ){
            max-width: 1180px;
            
        }
        

    }

    .prd-sub-txt {
        text-transform: none;
        color: #83868a;
        font-size: 13px;
        font-weight: normal;
    }

    .custom-modal-head {
        margin: 0;
        margin-top: 30px;
        @include bp("desktop-1200") {
            padding: 0 17px;
          }

        &__img {
            @media screen and (max-width:767px ){
                // width: 100% ;
                
            }
            @media screen and (min-width:992px ){
                // max-width: 285px;
                flex: none;
                
            }
        }

        &__opt {
            position: relative;
            @include bp("desktop-1200") {
                // max-width: calc(100% - 285px);
                flex: none;
              }
    
        }
    }

    .custom-modal-foot {
        border-top: 1px solid #e9eef0;
        padding: 10px 17px;

        margin-top: 15px;
        margin-bottom: 15px;
        @include bp("desktop-1200") {
            padding: 20px 17px;
            margin: 0;
          }
          .bttn {
            @media (max-width: 375px) {
                padding-left: 11px;
                padding-right: 11px;
                font-size: 11px;
            }
        }
    }

    .custom-modal-heading {
        flex: none;
        width: 100%;
        max-width: 430px;
        padding: 0 15px;
    }

    .container {
        max-width: 100%;
    }

    .close-modal {
        z-index: 11;
        width: 32px;
        height: 32px;
        color:#a3abb0;
        font-size: 20px;
        line-height: 1;
        border-radius: 50%;
        padding: 0;
        border: 1px solid #c2cfd4;
        background-color: $white;
        position: absolute;
        left: calc(100%  - 38px);
        top: 3px;
        cursor: pointer;
        pointer-events: all;

        @media screen and (min-width: 768px) {
            left: calc(100%  + 8px);
        }
    }
    .img-zoom-close {
        z-index: 11;
        top:20px !important;
        left: calc(100% - 50px) !important;
    }
}

// closed button

.close-card, .btn-close-sm {
    z-index: 111;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 8px;
    right: 8px;
    
    position: absolute;
     & span {
         position:inherit;
         height: 11px;
         width: 2px;
         background-color: #585d61;
         transform: rotate(-45deg);
         &:first-child {
             transform: rotate(-45deg);
            
         }
         &:last-child {
             transform: rotate(45deg);
            
         }
     }

}



.style-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.slide-img {
    width: 149px;
    height: 545px;
}
.slide-img-thumb {
    width: 200px;
    height: 175px;
}

.style-check:checked {
    & +.img-wrp  {
        border: none !important;
        .style-img {
            border-radius: 3px;
            border: 1px solid #f25c50 !important;
        }
    }
}
// .product-details ~ .modal-backdrop {
//     background-color: #ffffff;
//     opacity: 0.9;
// }
.slider-style-thumb .gallery-thumbs {
    padding: 15px 0 15px 15px;
    // width: 80% !important;
    height: 100% !important;
    background-color: #f4f5f7;
}

.thumb-wrp {
    // padding: 10px 0;
    height: 190px !important;
}


.slider-style-thumb {
    .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
      }
      .swiper-slide {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 40%;
        // @include bp('desktop') {
        //     background-position: 40%;
            
        // }
        
    }
    
    .gallery-top {
        white-space: normal;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 460px;
        width: 100%;
        border: 1px solid #ebebeb;
        background-color: #ffffff;
        
        @include bp('desktop') {
            height: 620px;
        }
        // margin-bottom: 28px;
    }
    .gallery-wrp {
        
        width: 64%;
        
        @media screen and (min-width: 425px) {
            width: 73%;
        }
        @media screen and (min-width: 768px) {
            width: 64%;
        }
        @media screen and (min-width: 1336px) {
            width: 72%;
        }
        & .swiper-slide {
            cursor: pointer;
            padding: 30px;
            text-align: center;
            width: 100% !important;
            & img {
                height: 100%;
            }
        }
    }
    .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        
    }

    .gallery-thumbs .swiper-slide {
        width: 25%;
        background-position: center;
        height: 100%;
        // opacity: 0.4;
      }
      .preview-img {
        padding: 15px 15px 15px 0;
      }
      .thumb-slide-img {
          
        object-fit: scale-down;
        background-position: center;
        width: 120px;
        // height: 190px;
        border: 1px solid #464748;
        background-color: #ffffff;
        // margin-right: 12px;
      }
      .preve-img-text  {
        width: 120px;
        margin-right: 20px;
      }
}
.swiper-arrow {
    .arrow {
        cursor: pointer;
        transform: translate(-50%,-50%);
        z-index: 11;
        border-radius: 50%;
        width: 23px;
        height: 23px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        position: absolute;
        & span {
            border: solid #bec0c5;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
    .arrow:first-child {
        top: 50%;
        left: 28px;
        & span {
            transform: translate(-50%,-50%) rotate(-230deg);
        }
        
    }.arrow:last-child {
        top: 50%;
        right: 10px;
        & span {    
            transform:translate(-50%,-50%) rotate(-45deg);
        }
    }
}

// Product info styling

.style-guid {
    // display: table;
    z-index: 11;
    text-align: center;
    padding-top: 1.2rem;
    // position: absolute;
    // right: 0;
    // top: 50%;
    // transform: translateY(-50%);
    background-color: #f9f9f9;
    @include bpmax('tab-sm') {
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 1rem;
    }
    @include bp('desktop') {
        padding-top: 3rem; 

    }
    &__des{
        @extend .fnt-xxxs;
        color: $title-black;
        font-weight: 600;
    }
    .neck-type {
        line-height: inherit !important;
    }
}

.img-card-wrp {
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
        margin-bottom: 4px;

    }
    @include bp('tab-') {
        margin-bottom: 40px;
    }
    @include bp('desktop') {
        margin-bottom: 40px;
    }
}
.custom-stye-br {
    border: 1px solid rgba(20, 19, 19, .15);
}

.fnt-12 {
    font-size: 10px;
    @media screen and (min-width: 768px) {
        font-size: 12px;

    }
}
.fnt-12-black {
    padding: 7px 5px;
    color: $title-black;
    background-color: #ffffff;
    font-size: 12px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: $letter-spacing02;
    @media screen and (min-width: 768px) {
        padding: 10px 18px;
    }
    // text-decoration: underline;
}

.saveditem-container {
    border-top: 1px solid #e9eef0;
    // border-bottom: 1px solid #e9eef0;
    padding: 20px 32px;
    display: none;

    .swiper-slide {
        width: auto;
    }
}

.saved-btn {
    display: none;
    margin-left: auto;
}
.procced-btn {
    display: block;
}
.more-info {
    display: none;
}

.fullPopUp {
    width: 100% !important;
    height: 100% !important;
    max-width: 100%;
    
    .modal-content {
        position: relative;
        width: 100%;
        height: 100%;

    }
    .tab-img {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        left: 30px;
        width: 150px;
        height: 100%;
        left: 30px;
        top: 0;
        position: absolute;
        & img {
            cursor: pointer;
            width: 75px;
            height: 100px;
            object-fit: contain;
        }
    }
    .model-img-tab-container {
        width: 100%;
        height: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        cursor: zoom-out;

    }
}

.img-modal-lg {
    .close-modal {
        cursor: pointer;
        z-index: 11;
        width: 32px;
        height: 32px;
        color:#a3abb0;
        font-size: 20px;
        line-height: 1;
        border-radius: 50%;
        padding: 0;
        border: 1px solid #c2cfd4;
        background-color: $white;
        position: absolute;
        left: calc(100% - 36px);
        top: 10px;
        cursor: pointer;
        @media screen and (max-width : 776px){
            left: calc(100% - 48px);

        }
    }
}
.save-btn-foot {
    position: relative;
    .save-item-btns {
        // position: absolute;
        display: none;
        transform: translateY(73px);
        opacity: 0; 
        transition: ease-in-out .9s ;
        transition-property: transition,opacity;
    }
    .save-btn-transition {
        display: flex;
        transform: translateY(0);
        
        opacity: 1;
        transition:  ease-in-out .9s ;
        transition-property: transition,opacity;
    }
    .procced-save-style {
        display: block;
        opacity: 1;
        transform: translateY(0);
        transition: ease-in-out .7s ;
        transition-property:opacity, transform;
    }
    .procced-save-style-transiton {
        display: none;
        opacity: 0;
        transform: translateY(40px);
        transition: ease-in-out .7s ;
        transition-property:opacity, transform;
    }
}

.size-modal {
    .size-modal-dialog {
        max-width: 745px !important;
        background-color: #ffffff;
        height: 300px;
        width: 96%;
        @media screen and (min-width:768px){
            width: 87%;
            max-height: 369px;
            
        }
        
    }
    .modal-content {
        // height: 100%;
        padding: 10px 10px 16px 10px;
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
        border: none;
        @media screen and (min-width:425px){
            padding: 32px 65px 53px 48px;
              
        }
        
    }
    .head-text {
        font-style: $opensans !important;
        // color: $title-black;
        color: #000000;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 22px;
        @media screen and (min-width:768px ){
            font-size: 18px;
   
        }
    }
    .img-wrp {
        /* Style for "Mask" */
        padding: 4px;
        min-width: 240px;
        height: 240px;
        border: 1px solid #dadcde;
        background-color: #ffffff;
    }
    h5 {
        color: #2e333d;
        font-family: $opensans !important;
        font-size: 14px;
        font-weight: 600;
    }
    .sub-text {
        color: #2e333d;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.3px;
    }
    .close-modal {
        z-index: 11;
        width: 32px;
        height: 32px;
        color:#a3abb0;
        font-size: 20px;
        line-height: 1;
        border-radius: 50%;
        padding: 0;
        border: 1px solid #c2cfd4;
        background-color: $white;
        position: absolute;
        left: calc(100% + 10px);
        top: 3px;
        cursor: pointer;
        @media screen and (max-width:425px){
            top: 8px;
            left: calc(100% - 36px);

        }

    }
    .measure-dialog {
        max-height: 501px !important;
        .measure-card {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}
.fnt-11 {
    color: $title-black;
    font-size: 11px;
    font-weight: 400;
}
.product-custome-content {
    height: 100%;
}
.js-size-model {
    cursor: pointer;
}
.js-address-wrp {
    height: 100%;
}
.custom-product-model {
    .fade {
        @media screen and (min-width:768px ){
            opacity: 1 !important;
          
        }
    }
    .swiper-arrow .arrow:first-child {
        top: 28%;
        left: 24px;

        @media screen and (min-width:768px ){
            
            left: 24px;
          
        }
    }
    .swiper-arrow .arrow:last-child {
        top: 28%;
        right: 0;
    }
}

.js-product-details-modal {
    .head-txt {
        color: #2a2a2a;
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 12px;
        border-bottom: 1px solid #e5e5e5;
    }
    .product-sub {
        padding-top: 20px;
        color: #2a2a2a;
        font-size: 14px;
        font-weight: 400;
    }
    .product-details-dialog {
        max-width: 630px !important;
        height: auto;
        width: 96%;
        background-color: #ffffff;
       
        
    }
    .modal-content {
        // height: 100%;
        padding: 10px 10px 16px 15px;
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
        border: none;
        @media screen and (min-width:425px){
            padding: 50px;
              
        }
        
    }
    .product-details-list {
        padding-right: 10px;
        max-height: 380px;
        height: auto;
    }
}

.left-container {
   
    margin-left: auto;
    @media (max-width: 575px){ 
        width: 100%; 
        padding-left: 10px;
        
    }
    @media (min-width: 576px){  
        max-width: calc(((100% - 540px) / 2) + 540px);
        
    }
    @media (min-width: 768px){
        max-width: calc(((100% - 720px) / 2) + 720px);

    }
    @media (min-width: 992px){
        max-width: calc(((100% - 960px) / 2) + 960px);
    }
    @media (min-width: 1200px){
        max-width: calc(((100% - 1140px) / 2) + 1140px);

    }
}
.product-details-cards {
    
    // padding-left: 10px;
    .swiper-arrow .arrow:first-child {
        top: 35% !important;
        left: 14px !important;
    }
    .swiper-arrow .arrow:last-child {
        top: 35% !important;
        
    }
}
.btn-visible-true {
    visibility: visible !important;
}
.js-proceed {
    visibility: hidden;
}
.popUp-container {
    position: relative;
}

.styleThumbSlider {
    width: calc(100% - 15px);
    @media screen and (min-width:992px){
        width: calc(100% - 50px);
        
    }
    position: relative;

    .swiper-container {
        width: calc(100% - 75px);
        @media screen and (min-width:992px){
            width: calc(100% - 100px);
           
            
        }
    }

    label.swiper-slide:last-of-type {
        margin-right: 0 !important;
    }

    .arrow.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
.border-bttm-row {
    border-top: 2px solid #393939;
}