.whislist-number {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.18px;
    margin-left: .3rem;
}

.btn-close-sm {
    width: auto;
    height: auto;
    top: 10px;
    right: 14px;
}