.accounts-contain {
    padding-top: 155px;
    background: #fafafa;
    padding-bottom: 70px;

    @media only screen and (min-width: 1300px) {
        padding-top: 180px;
        padding-bottom: 80px;
    }

    @include bpmax('tab-mid') {
        padding-top: 100px;
    }

    @include bpmax('phone-lg') {
        padding-top: 85px;
    }

    @include bpmax('desktop') {
        padding-bottom: 50px;
    }

    @include bpmax('tab-mid') {
        padding-bottom: 30px;
    }

    &__left {
        width: 255px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.06);
        height: fit-content;
        position: absolute;
        top: 0;
        left: 15px;

        h2 {
            line-height: 1.4;
            font-family: $opensans;
            color: #2a2a2a;
            font-size: 14px;
            font-weight: 700;
            padding: 15px 20px;
            margin-bottom: 0;
        }

        ul {
            background: $white;
            padding: 3.5px 18px;
        }

        a {
            line-height: 1.48;
            color: #4d5156;
            font-size: 13px;
            display: flex;
            align-items: center;
            padding: 15px 0;

            &.active {
                color: $bnr-red;
                font-weight: 600;
            }
        }

        li {
            border-bottom: 1px solid #eaeaea;

            &:last-of-type {
                border-bottom: none;
            }
        }

        i {
            font-size: 14px;
            width: 27px;
            display: inline-block;
        }

        &.sticky {
            @media only screen and (min-width: 992px) {
                position: fixed;
                left: calc((100% - 960px) / 2 + 15px);
                top: 110px;
            }
            
            @media only screen and (min-width: 1200px) {
                position: fixed;
                left: calc((100% - 1140px) / 2 + 15px);
                top: 110px;
            }
            
            @media only screen and (min-width: 1300px) {
                top: 120px;
            }
        }
        
        &.sticky-bottom {
            @media only screen and (min-width: 992px) {
                bottom: 0;
                top: unset;
            }
        }

        &.position-relative {
            top: 0 !important;
            left: 0 !important;
        }

        @media(max-width: 992px) {
            position: relative;
            border: none;
            width: 100%;
            box-shadow: none;
            background: transparent;
            left: 0;
            
            h2 {
                display: none;
            }
            
            ul {
                background: transparent;
                padding: 0;
                margin-bottom: 25px;
                display: flex;
                border-bottom: 1px solid #eaeaea;
                white-space: nowrap;
                overflow-y: auto;

                li {
                    width: fit-content;
                    margin-right: 20px;
                    white-space: nowrap;
                    border: none;

                    a{
                        padding: 10px 0;
                        
                        &.active{
                           border-bottom: 1px solid $bnr-red;
                       }
                    }
                }
            }
        }
    }

    &__right {
        width: calc(100% - 285px);
        margin-left: 30px;

        @include bpmax('tab-mid') {
            width: 100%;
            margin: 0;
        }
    }

    .acc-orders {
        &__card {
            padding: 25px 30px;
            background-color: #ffffff;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.06);
            position: relative;
            margin-bottom: 64px;

            @include bpmax('desktop') {
                padding: 20px;
                margin-bottom: 50px;
            }

            @include bpmax('phone-lg') {
                margin-bottom: 40px;
            }

            @include bpmax('phone') {
                padding: 15px;
            }
            
            &::after {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                background: #e2e2e2;
                left: 0;
                bottom: -32px;

                @include bpmax('desktop') {
                    bottom: -26px;
                }

                @include bpmax('phone-lg') {
                    bottom: -21px;
                }
            }

            &:last-of-type {
                margin-bottom: 0;

                &::after {
                    display: none;
                }
            }
        }

        h2 {
            font-size: 14px;
            line-height: 1.4;
            font-weight: 700;
            font-family: $opensans;
            color: #2a2a2a;
            margin-bottom: 20px;

            @include bpmax('desktop') {
                margin-bottom: 12px;
            }
        }

        &__cardbox {
            margin-bottom: 50px;
            position: relative;
            border-radius: 2px;
            background-color: #f9fafa;
            padding: 22px;

            @include bpmax('desktop') {
                padding: 15px;
                margin-bottom: 40px;
            }

            &::after {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                background: #e2e2e2;
                left: 0;
                bottom: -25px;
                opacity: 0.7;

                @include bpmax('desktop') {
                    bottom: -21px;
                }
            }

            &:last-of-type {
                margin-bottom: 0;

                &::after {
                    display: none;
                }
            }
        }

        &__cardhead {
            padding-top: 2px;
            padding-bottom: 15px;
            border-bottom: 1px solid #e2e2e2;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            @include bpmax('phone') {
                flex-wrap: wrap;
            }

            p {
                color: #2e333d;
                font-size: 12px;
                font-weight: 700;
                padding: 0 18px;
                line-height: 1.42;
                border-right: 1px solid #979797;

                @include bpmax('phone-lg') {
                    padding: 0 13px;
                }

                @include bpmax('phone') {
                    width: 100%;
                    padding: 0 !important;
                    border: none;
                    margin-top: 5px;

                    &:first-of-type {
                        margin-top: 0;
                    }
                }

                &:first-of-type {
                    padding-left: 0;
                }

                &:last-of-type {
                    padding-right: 0;
                    border: none;
                }

                span {
                    font-weight: normal;
                    color: #4d5156;

                    @include bpmax('desktop') {
                        display: block;
                        margin-top: 3px;
                    }

                    @include bpmax('phone') {
                        display: inline-block;
                        margin-top: 0;
                    }
                }

                &.delivered {
                    padding-left: 38px;
                    position: relative;

                    @include bpmax('phone-lg') {
                        padding-left: 32px;
                    }

                    @include bpmax('phone') {
                        padding-left: 20px !important;
                    }

                    &::before {
                        content: "";
                        border-radius: 50%;
                        width: 13px;
                        height: 13px;
                        background-color: #00cc96;
                        position: absolute;
                        left: 18px;
                        top: 2px;

                        @include bpmax('phone-lg') {
                            left: 13px;
                        }

                        @include bpmax('phone') {
                            left: 0;
                        }
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 7px;
                        height: 3.5px;
                        border-left: 1px solid $white;
                        border-bottom: 1px solid $white;
                        top: 6px;
                        left: 21px;
                        transform: rotate(-45deg);

                        @include bpmax('phone-lg') {
                            left: 16px;
                        }

                        @include bpmax('phone') {
                            left: 3px;
                        }
                    }
                }
            }

            .acc-orders__links {
                margin-left: auto;
                display: flex;

                @include bpmax('desktop') {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }

                @include bpmax('phone') {
                    position: absolute;
                    top: auto;
                    right: 15px;
                }

                @media only screen and (max-width: 479.9px) {
                    position: static;
                    margin-top: 10px;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                }
            }

            a {
                opacity: 0.88;
                color: #2e333d;
                font-size: 12px;
                font-weight: 600;
                line-height: 1.3;
                padding-left: 18px;
                position: relative;
                margin-right: 20px;

                @include bpmax('desktop') {
                    margin: 0;
                    margin-bottom: 7px;
                }

                @media only screen and (max-width: 479.9px) {
                    margin: 0;
                    margin-right: 20px;
                }

                &:last-of-type {
                    margin-right: 0;

                    @include bpmax('desktop') {
                        margin-bottom: 0;   
                    }
                }

                i {
                    position: absolute;
                    left: 0;
                    font-size: 110%;
                    top: 2px;
                    color: #55595f;
                    font-weight: 600;

                    &::before {
                        color: inherit;
                    }

                    &.icon-return {
                        width: 13px;
                        height: 13px;
                        border-radius: 50%;
                        border: 1px solid #55595f;

                        &::before {
                            content: "";
                            width: 5px;
                            height: 5px;
                            border-left: 1px solid #55595f;
                            border-bottom: 1px solid #55595f;
                            position: absolute;
                            left: 4px;
                            transform: rotate(45deg);
                            top: 3px;
                        }
                    }

                    &.icon-help {
                        width: 13px;
                        height: 13px;
                        border-radius: 50%;
                        border: 1px solid #55595f;

                        &::before {
                            content: "?";
                            position: absolute;
                            font-size: 10px;
                            font-weight: 700;
                            color: #55595f;
                            font-family: $opensans;
                            left: 3px;
                            top: 1px;
                        }
                    }
                }

                label {
                    cursor: pointer;
                    border-bottom: 1px solid;
                    margin-bottom: 0;
                }
            }
        }

        &__cardbody {
            margin-left: -10px;
            margin-right: -10px;

            h3 {
                padding: 0 10px;
                color: $title-black;
                font-family: $opensans;
                font-size: 12px;
                font-weight: 700;
                margin: 20px 0 0;
                width: 100%;
            }
            
            > div {
                padding: 0 10px;
                margin-top: 30px;

                @include bpmax('desktop') {
                    margin-top: 20px;
                }

                @include bpmax('phone') {
                    margin-top: 15px;
                }

                &:nth-of-type(-n+3) {
                    margin-top: 20px;

                    @include bpmax('desktop') {
                        margin-top: 15px;
                    }
                }

                @include bpmax('desktop') {
                    &:nth-of-type(3) {
                        margin-top: 20px;
                    }
                }

                @include bpmax('phone') {
                    &:nth-of-type(3) {
                        margin-top: 15px;
                    }
                }
            }

            .order-item {
                display: flex;
                align-items: flex-start;

                &__img {
                    width: 84px;

                    @include bpmax('phone-lg') {
                        width: 75px;
                    }

                    @include bpmax('phone') {
                        width: 85px;
                    }

                    img {
                        width: 100%;
                    }
                }

                &__details {
                    width: calc(100% - 84px);
                    padding-left: 12px;

                    @include bpmax('phone-lg') {
                        width: calc(100% - 75px);
                        padding-left: 10px;
                    }

                    @include bpmax('phone') {
                        width: calc(100% - 85px);
                        padding-left: 12px;
                    }
                }
            }

            label {
                cursor: default;
                line-height: 1.4;
                color: $black;
                font-size: 11px;
                margin-bottom: 5px;
            }

            h4 {
                line-height: 1.35;
                color: $black;
                font-family: $opensans;
                font-size: 12px;
                font-weight: normal;
            }

            p.price {
                margin-top: 20px;
                line-height: 1.35;
                color: $black;
                font-size: 12px;
                font-weight: 600;
            }
        }

        &__progress {
            padding: 25px 0 10px;
            position: relative;

            @include bpmax('phone') {
                padding-top: 20px;
            }

            &bar {
                width: calc(100% - 90px);
                background: #e1e2e2;
                height: 2px;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 39px;
                z-index: 1;

                @include bpmax('phone') {
                    width: calc(100% - 76px);
                    top: 34px;
                }

                .status {
                    position: absolute;
                    width: 0;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background: #00cc96;
                }
            }

            &level {
                display: flex;
                justify-content: space-between;
                position: relative;
                z-index: 2;
                margin-left: -5px;
                margin-right: -5px;
            }

            & + .acc-orders__cardbody h3 {
                margin-top: 10px;
            }
        }

        &__stage {
            width: 90px;
            text-align: center;
            padding: 0 5px;

            @include bpmax('phone') {
                width: 76px;
            }

            p {
                line-height: 1.4;
                color: #4d5156;
                font-size: 10px;
                margin-top: 10px;
            }

            .stage-status {
                width: 30px;
                height: 30px;
                border: 1px solid #979797;
                background-color: $white;
                border-radius: 50%;
                margin: 0 auto;
                display: block;
                position: relative;

                &::before {
                    content: "\e911";
                    font-family: 'icomoon';
                    font-size: 12px;
                    color: $white;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                    opacity: 0;
                }

                span {
                    display: inline-block;
                    height: 30px;
                    position: absolute;
                    left: -1px;
                    top: -1px;
                    background-color: #00cc96;
                    border: 1px solid #00cc96;
                    opacity: 0;
                }

                i {
                    color: #707070;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    font-size: 20px;
                    line-height: 1;

                    img {
                        max-width: 18px;
                    }
                }
            }

            &.active .stage-status {
                span {
                    border-radius: 30px;
                    width: 30px;
                    opacity: 1;
                }

                &::before {
                    opacity: 1;
                }
            }
            

            &.partial-active .stage-status {
                background-color: #e6e4e4;
                border-color: #e6e4e4;

                span {
                    border-radius: 30px 0 0 30px;
                    width: 16px;
                    opacity: 1;
                }
            }
        }

        &__payment {
            background-color: #ffffff;
            padding: 32px 0 24px;
            border-bottom: 1px solid #dedede;
            margin-bottom: 24px;
            
            @include bpmax('desktop') {
                padding: 20px 0;
                margin-bottom: 20px;
            }

            h6 {
                color: #2e333d;
                font-family: $opensans;
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 16px;
                display: flex;

                span {
                    margin-left: 6px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }
            }

            label {
                position: relative;
                padding-left: 25px;
                color: #2e333d;
                font-size: 13px;
                line-height: 1.35;
                margin-bottom: 0;
                cursor: pointer;
                font-weight: 700;

                @include bpmax('phone') {
                    font-size: 12px;
                    line-height: 1.45;
                }
            }

            .check-group {
                margin-right: 24px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &__submit {
            button {
                padding: 0 65px;
                width: auto;
                height: 40px;
                margin-right: 20px;
                font-size: 13px;
                
                @include bpmax('desktop') {
                    padding: 0 30px;
                }
            }
        }
    }
}

.accounts-panel {
    &__left {
        max-width: none;
        flex: none;
        width: calc(100% - 380px);

        @include bpmax('desktop') {
            width: calc(100% - 300px);
        }

        @include bpmax('tab-mid') {
            width: 100%;
        }
    }

    &__right {
        max-width: none;
        flex: none;
        width: 380px;

        a {
            color: $title-black;
            font-size: 12px;
            font-weight: 600;
            line-height: 1.33;
            border-bottom: 1px solid;
            margin-top: 11px;
        }

        @include bpmax('desktop') {
            width: 300px;
        }

        @include bpmax('tab-mid') {
            width: 70%;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
        }

        @include bpmax('phone-lg') {
            width: 100%;
            margin-top: 20px;
        }

        @include bpmax('phone') {
            margin-top: 15px;
        }

        h4 {
            font-family: $opensans;
            font-size: 14px;
            font-weight: 700;
            color: $title-black;
            margin-bottom: 20px;
        }

        .address-box {
            border-top: none !important;
            padding: 10px 0;

            h4 {
                font-size: 12px;
                margin-bottom: 8px;
            }

            p {
                color: #72757a;
                font-size: 12px;
                line-height: 1.5;
            }
        }

        .return-card {
            p {
                color: #797b7e;
                font-size: 12px;
                line-height: 1.5;
            }

            h4 {
                font-weight: 600;
                margin-bottom: 12px;
            }
        }
    }

    .acc-orders h2 {
        color: #696c71;
        font-weight: normal;

        strong,
        span {
            color: #2a2a2a;
            font-weight: 700;
        }

        strong {
            position: relative;
            padding-left: 20px;

            &::before {
                content: "";
                position: absolute;
                width: 7px;
                height: 7px;
                border-right: 1px solid;
                border-bottom: 1px solid;
                left: 3px;
                top: 6px;
                transform: rotate(-45deg);
            }
        }
    }

    .acc-orders__bcrumbs {
        color: #696c71;
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 20px;

        @include bpmax('desktop') {
            margin-bottom: 12px;
        }

        @include bpmax('phone') {
            font-size: 12px;
            line-height: 1.8;
        }

        strong,
        span {
            color: #2a2a2a;
            font-weight: 700;
        }

        span {
            margin-left: 4px;
        }

        strong {
            position: relative;
            padding-left: 20px;

            &::before {
                content: "";
                position: absolute;
                width: 7px;
                height: 7px;
                border-right: 1px solid;
                border-bottom: 1px solid;
                left: 3px;
                top: 6px;
                transform: rotate(-45deg);

                @include bpmax('phone') {
                    width: 6px;
                    height: 6px;
                    left: 6px;
                }
            }
        }
    }

    .acc-orders__progress {
        padding-bottom: 0;
    }

    .acc-orders__card {
        h3 {
            color: $title-black;
            font-family: $opensans;
            font-size: 12px;
            font-weight: 700;
            line-height: 1.35;
            margin-bottom: 15px;

            @include bpmax('phone') {
                margin-bottom: 10px;
            }
        }
    }

    .acc-orders__cardbox {
        margin-bottom: 25px;

        h3 {
            margin: 25px 0 5px;

            @media only screen and (max-width: 479.9px) {
                margin: 18px 0 5px;
            }
        }

        &::after {
            display: none;
        }
    }

    .order-content-progress {
        @media only screen and (max-width: 479.9px) {
            padding-top: 10px;
        }
        
        a {
            position: absolute;
            right: 0;
            top: -20px;
            opacity: 0.88;
            color: $title-black;
            font-size: 12px;
            font-weight: 600;
            line-height: 1.3;
            border-bottom: 1px solid;

            @include bpmax('phone') {
                position: static;
                margin-bottom: 10px;
            }

            @media only screen and (max-width: 349.9px) {
                margin-bottom: 5px;
            }
        }

        .acc-orders__progressbar {
            top: 35.5px;
            width: calc(100% - 70px);

            @include bpmax('phone') {
                display: none;
            }
        }
    
        .acc-orders__stage {
            width: 80px;

            @include bpmax('phone') {
                width: 100%;
                text-align: left;
                margin-bottom: 20px;
                display: flex;

                // &:first-of-type {
                //     margin-top: 0;
                // }

                p {
                    display: inline-block;
                    margin-top: 2.5px;
                    font-size: 12px;
                }
            }

            @media only screen and (max-width: 399.9px) {
                margin-bottom: 15px;
            }

            &.partial-active .stage-status span {
                @include bpmax('phone') {
                    width: 22px;
                    height: 12px;
                    border-radius: 30px 30px 0 0;
                }
            }
        }

        .stage-status {
            width: 22px;
            height: 22px;
            border-color: #d1d1d1;
            background-color: #d1d1d1;

            span {
                height: 22px;
            }

            &::before {
                transform: translate(-50%, -50%) scale(0.8);
            }

            @include bpmax('phone') {
                margin: 0;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }
        }

        .active .stage-status span {
            width: 22px;
        }

        .partial-active .stage-status span {
            width: 12px;
        }

        @include bpmax('phone') {
            .acc-orders__progresslevel {
                flex-wrap: wrap;
                justify-content: flex-start;
            }
        }
    }

    .order-content {
        margin: 0;

        @include bpmax('desktop') {
            margin-top: 5px;
        }

        input[type="radio"],
        input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        input[type="checkbox"] {
            & + label {
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 18px;
                    height: 18px;
                    border: 1px solid #b6b9bd;
                    background-color: $white;
                    transition: all 0.2s ease;
                    border-radius: 2px;
                }
    
                &::before {
                    content: "\e911";
                    font-family: 'icomoon';
                    position: absolute;
                    opacity: 0;
                    left: 3px;
                    z-index: 1;
                    font-size: 9px;
                    top: 3.5px;
                    color: $white;
                    transition: all 0.2s ease;
                }
            }

            &:checked + label {
                &::after {
                    border-color: #f25c50;
                    background-color: #f25c50;
                }

                &::before {
                    opacity: 1;
                }
            }
        }

        input[type="radio"] {
            & + label {
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 17px;
                    height: 17px;
                    border-radius: 50%;
                    border: 1px solid #a3adb2;
                    background-color: transparent;
                    transition: all 0.2s ease;
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 3px;
                    top: 3px;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    background-color: $bnr-red;
                    transition: all 0.2s ease;
                    opacity: 0;
                }
            }

            &:checked + label {
                &::after {
                    border-color: $bnr-red;
                }

                &::before {
                    opacity: 1;
                }
            }
        }

        &__returnbox {
            margin-top: 0 !important;
            padding: 0 !important;
            width: 100%;
            display: none;

            h3 {
                padding: 0;
                margin-top: 25px;
                padding-bottom: 3px;

                @include bpmax('desktop') {
                    margin-top: 20px;
                }
            }

            label {
                position: relative;
                padding-left: 25px;
                margin-top: 15px;
                color: #2a2a2a;
                font-size: 13px;
                line-height: 1.35;
                margin-bottom: 0;
                cursor: pointer;

                @include bpmax('desktop') {
                    margin-top: 12px;
                }

                @include bpmax('phone') {
                    font-size: 12px;
                    line-height: 1.45;
                }
            }

            textarea {
                margin-top: 12px;
                max-width: 350px;
                width: 100%;
                height: 98px;
                border: 1px solid #a0a9b0;
                background-color: #ffffff;
                padding: 10px;
                resize: none;
                font-size: 13px;
                line-height: 1.4;

                @include bpmax('desktop') {
                    margin-top: 10px;
                }

                @include bpmax('phone') {
                    margin-top: 8px;
                    font-size: 12px;
                }
            }
        }

        &__check {
            margin: 0 !important;
            padding: 0 !important;
            margin-right: 10px !important;

            @media only screen and (max-width: 479.9px) {
                margin-right: 7px !important;
            }

            label {
                position: relative;
                width: 18px;
                height: 18px;
                cursor: pointer;
            }

            & ~ .order-content__details {
                width: calc(100% - 130px) !important;

                @include bpmax('desktop') {
                    width: calc(100% - 120px) !important;
                }

                @media only screen and (max-width: 479.9px) {
                    width: calc(100% - 110px) !important;
                    margin-right: 0;
                }

                @media only screen and (max-width: 349.9px) {
                    width: calc(100% - 100px) !important;
                    padding-left: 10px !important;
                }
            }

            & ~ .order-content__img {
                @media only screen and (max-width: 479.9px) {
                    width: 85px !important;
                }

                @media only screen and (max-width: 349.9px) {
                    width: 75px !important;
                }
            }
        }
    }

    .acc-orders__cardbody .order-content {
        &__img {
            width: 120px;
            float: left;
            padding: 0;
            margin-top: 0 !important;

            img {
                width: 100%;
            }

            @include bpmax('desktop') {
                width: 100px;
            }

            @media only screen and (max-width: 349.9px) {
                width: 85px;
            }
        }

        &__details {
            width: calc(100% - 120px);
            padding-left: 15px;
            float: left;
            margin-right: -20px;
            margin-top: 0 !important;

            @include bpmax('desktop') {
                width: calc(100% - 100px);
            }

            @include bpmax('phone') {
                padding-right: 0;
                padding-left: 12px;
            }

            @media only screen and (max-width: 349.9px) {
                width: calc(100% - 85px);
            }

            > div {
                margin: 7px 0;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            .cart-color {
                p,
                span {
                    display: inline-block;
                    margin-bottom: 0;
                }
            }

            .cart-price {
                span {
                    display: inline-block;
                    font-size: 12px;
                }

                p {
                    color: #7f8286;
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: 0.22px;
                    text-transform: uppercase;
                    display: inline-block;
                    padding-left: 9px;
                    margin-left: 8px;
                    position: relative;

                    &::before {
                        content: "|";
                        position: absolute;
                        left: -4px;
                        top: -0.5px;
                        color: $black;
                    }

                    span {
                        font-weight: 600;
                        color: inherit;
                    }
                }
            }

            .cart-size {
                p {
                    display: flex;

                    span {
                        margin-left: 3px;
                    }
                }

                a {
                    opacity: 0.9;
                    color: $title-black;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 1.33;
                    border-bottom: 1px solid;
                    margin: 5px 0;
                }
            }

            .custom-size {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                max-width: 400px;

                @include bp('tab') {
                    height: auto !important;
                }

                @include bpmax('phone-lg') {
                    height: 36px;
                    overflow: hidden;
                }
                
                p {
                    max-width: 33.33%;
                    flex: 0 0 33.33%;

                    @include bpmax('phone-lg') {
                        max-width: 50%;
                        flex: 0 0 50%;
                    }

                    @media only screen and (max-width: 399.9px) {
                        max-width: none;
                        flex: none;
                        margin-right: 10px;
                    }
                }
            }

            h3 {
                color: $black;
                font-family: $opensans;
                font-size: 13px;
                font-weight: 400;
                margin: 0;
                padding: 0;
                line-height: 1.4;
            }

            label {
                color: $black;
                font-size: 11px;
                margin: 0;
                margin-bottom: 3px;
                display: block;
            }

            p,
            span {
                color: $text-black;
                font-size: 11px;
                line-height: 1.63;
                display: block;

                span {
                    font-weight: 400;
                    margin-bottom: 0;
                }
            }

            span {
                font-weight: 700;
                margin-bottom: 1px;
            }
        }
    }
}



.dummy  {
    height: 1500px;
    width: 100%;
    background-color: white;
}

.accounts-panel.past-orders .acc-orders__cardbox {
    margin-bottom: 0;

    &:first-of-type {
        padding-bottom: 0;

        &::after {
            display: none;
        }
    }

    &:last-of-type {
        &::after {
            display: none;
        }
    }

    &::after {
        display: block;
        bottom: 1px;
        width: calc(100% - 44px);
        opacity: 1;
        background: #dedede;
        left: 22px;

        @include bpmax('desktop') {
            left: 15px;
            width: calc(100% - 30px);
        }
    }

    h3 {
        margin-bottom: 0;
    }
}