
.field {
    margin-top: 1.5rem;
    margin-bottom: .5rem;

    input {
        font-weight: 600;
    }
}

.form-label {
    @extend .fnt-xs;
    color: $form-label;
    display: block;
    margin-bottom: 6px;
    line-height: 18px;
}

.text-input {
    color: $title-black;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;

    &input {
        border: 1px solid #dadcde;
        background-color: #ffffff;
        padding: 16px;
        width: 100%;
        max-width: 300px;
    }
}

.form-styles .form-input {
    color: $title-black;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    border: 1px solid #dadcde;
    background-color: #ffffff;
    padding: 16px;
    width: 100%;
    max-width: 300px;
    border-radius: 0;

    &.textarea {
        height: 86px;
        max-width: 620px;
        resize: none;
    }

    &.full-w {
        max-width: 645px;
    }
}

.fields-edit {
    position: relative;
    @extend .fnt-xxs;
    padding-left: 1.2rem;
    color: rgba(46, 51, 61, .8);
    padding-top: 12px;

    &::before {
        content: "\e91a";
        font-family: "icomoon";
        position: absolute;
        left: 0;
    }
}