//- p.discount-bar
//-     | 30% discount on your purchase.
//-     a(href="#") Grab it now!
//-     | Ends on 12/06.
//-     a(href="#") Details
    

.offer-bar
    p.offer-bar__head Your exclusive offers ( 
        span 3
        |  available)
    p.offer-bar__toggle All Offers
    .offer-bar-c.container-fluid
        .container
            .row
                .col-12
                    .swiper-container.js-offer-card-swiper
                        .swiper-wrapper
                            // Slides
                            .swiper-slide
                                .offer-bar-card
                                    h6 Gift coupons
                                    .d-flex.align-items-center.justify-content-between
                                        p.price $15.00
                                        p.code 7zest1673b8v
                                    .d-flex.align-items-center.justify-content-between
                                        p.date Ends on 04/30/2020
                                        p.copy-code Copy Code
                            .swiper-slide
                                .offer-bar-card
                                    h6 Gift coupons
                                    .d-flex.align-items-center.justify-content-between
                                        p.price $15.00
                                        p.code 7zest1673b8v
                                    .d-flex.align-items-center.justify-content-between
                                        p.date Ends on 04/30/2020
                                        p.copy-code Copy Code
                            .swiper-slide
                                .offer-bar-card
                                    h6 Gift coupons
                                    .d-flex.align-items-center.justify-content-between
                                        p.price $15.00
                                        p.code 7zest1673b8v
                                    .d-flex.align-items-center.justify-content-between
                                        p.date Ends on 04/30/2020
                                        p.copy-code Copy Code
                    a.web-link(href="#") View Details





//- p.discount-bar
//-     | 30% discount on your purchase.
//-     a(href="#") Grab it now!
//-     | Ends on 12/06.
//-     a(href="#") Details

