footer
    .container
        .row.main-footer
            //START: CONTACT-US
            .main-footer__linkwrap.col-12.col-lg-8
                .main-footer__linkbox
                    h6.main-footer__heading Contact Us
                    ul.main-footer__list
                        li.main-footer__list__item
                            a.footer-link(href="javascript:voi.main-footer__listd(0);")
                                | 855 374 2584
                                span.d-block (Mon-Fri 8am to 4pm PST)
                        li.main-footer__list__item
                            a.footer-link(href="javascript:void(0);") Drop a message 
                
                //START: ORDERS
                .main-footer__linkbox
                    h6.main-footer__heading Orders
                    ul.main-footer__list
                        li.main-footer__list__item
                            a.footer-link(href="javascript:voi.main-footer__listd(0);") Payments & Shipping
                        li.main-footer__list__item
                            a.footer-link(href="javascript:void(0);") Returns & Refunds
                        li.main-footer__list__item
                            a.footer-link(href="javascript:void(0);") Coupons & Gift cards
                       
                //START: PARTNER
                .main-footer__linkbox
                    h6.main-footer__heading Partner
                    ul.main-footer__list
                        li.main-footer__list__item
                            a.footer-link(href="javascript:voi.main-footer__listd(0);") Affiliate Program
                        li.main-footer__list__item
                            a.footer-link(href="javascript:void(0);") Wholesale          
                
                //START: ABOUT
                .main-footer__linkbox
                    h6.main-footer__heading About
                    ul.main-footer__list
                        li.main-footer__list__item
                            a.footer-link(href="javascript:voi.main-footer__listd(0);") eShakti
                        li.main-footer__list__item
                            a.footer-link(href="javascript:voi.main-footer__listd(0);") How it works
                        li.main-footer__list__item
                            a.footer-link(href="javascript:voi.main-footer__listd(0);") Size Chart
                        li.main-footer__list__item
                            a.footer-link(href="javascript:voi.main-footer__listd(0);") Media Speak
                        li.main-footer__list__item
                            a.footer-link(href="javascript:void(0);") Customers Speak
            
            //START: SOCAIL LIST
            .col-12.col-lg-4.text-right
                ul.social-list
                    li.social-list__item
                        a.social-circle(href="javascript:void(0);")
                            i.icon-facebook
                    li.social-list__item
                        a.social-circle(href="javascript:void(0);")
                            i.icon-twitter
                    li.social-list__item
                        a.social-circle(href="javascript:void(0);")
                            i.icon-pinterest
                    li.social-list__item
                        a.social-circle(href="javascript:void(0);")
                            i.icon-tumblr
                    li.social-list__item
                        a.social-circle(href="javascript:void(0);")
                            i.icon-instagram
                
                // START: APPS INFO
                .app-block-list
                    a(href="javascript:void(0);")
                        img.mr-3(src="./assets/images/footer/app-store.png" alt="App-store")
                    a(href="javascript:void(0);")
                        img(src="./assets/images/footer/google-play.png" alt="Google play")

                a.location-dropmodal.d-lg-inline-block.d-none(href="#" data-toggle="modal" data-target="#countrymodal") Argentina

            .col-12.col-lg-4.col-lg-12.text-center.text-lg-left.accredition-img
                a(href="https://www.bbb.org/us/ny/new-york/profile/online-retailer/eshakticom-llc-0121-164035#bbbonlineclick" target="_blank")
                    img(src="./assets/images/footer/accredited-business.png" alt="Google play")
                    .accr-content
                        p Since Nov 2016
                        p As of 03/03/2020
                        span Click for Profile
                    p Rating A+

                a.location-dropmodal.d-lg-none(href="#" data-toggle="modal" data-target="#countrymodal") Argentina

    //START: COPYRIGHT
    .bottom-footer.text-center
        p © Copyright 2019 eShakti


#countrymodal.modal.fade.country-modal(tabindex='-1', role='dialog', aria-labelledby='countrymodal', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            span.close(data-dismiss='modal', aria-label='Close') ×
            .country-modal__content
                ul
                    li
                        input(type="radio" name="country-select" id="argentina")
                        label(for="argentina")
                            img(src="./assets/images/countries/argentina.svg", alt="")
                            | Argentina
                    li
                        input(type="radio" name="country-select" id="australia")
                        label(for="australia")
                            img(src="./assets/images/countries/australia.svg", alt="")
                            | Australia
                    li
                        input(type="radio" name="country-select" id="belgium")
                        label(for="belgium")
                            img(src="./assets/images/countries/belgium.svg", alt="")
                            | Belgium
                    li
                        input(type="radio" name="country-select" id="brazil")
                        label(for="brazil")
                            img(src="./assets/images/countries/brazil.svg", alt="")
                            | Brazil
                    li
                        input(type="radio" name="country-select" id="denmark")
                        label(for="denmark")
                            img(src="./assets/images/countries/argentina.svg", alt="")
                            | Denmark
                    li
                        input(type="radio" name="country-select" id="finland")
                        label(for="finland")
                            img(src="./assets/images/countries/australia.svg", alt="")
                            | Finland
                    li
                        input(type="radio" name="country-select" id="france")
                        label(for="france")
                            img(src="./assets/images/countries/belgium.svg", alt="")
                            | France
                    li
                        input(type="radio" name="country-select" id="germany")
                        label(for="germany")
                            img(src="./assets/images/countries/brazil.svg", alt="")
                            | Germany
                    li
                        input(type="radio" name="country-select" id="greece")
                        label(for="greece")
                            img(src="./assets/images/countries/argentina.svg", alt="")
                            | Greece
                    li
                        input(type="radio" name="country-select" id="india")
                        label(for="india")
                            img(src="./assets/images/countries/australia.svg", alt="")
                            | India
                    li
                        input(type="radio" name="country-select" id="italy")
                        label(for="italy")
                            img(src="./assets/images/countries/belgium.svg", alt="")
                            | Italy
                    li
                        input(type="radio" name="country-select" id="japan")
                        label(for="japan")
                            img(src="./assets/images/countries/brazil.svg", alt="")
                            | Japan
                    li
                        input(type="radio" name="country-select" id="netherlands")
                        label(for="netherlands")
                            img(src="./assets/images/countries/argentina.svg", alt="")
                            | Netherlands
                    li
                        input(type="radio" name="country-select" id="saudi-arabia")
                        label(for="saudi-arabia")
                            img(src="./assets/images/countries/australia.svg", alt="")
                            | Saudi Arabia
                    li
                        input(type="radio" name="country-select" id="singapore")
                        label(for="singapore")
                            img(src="./assets/images/countries/belgium.svg", alt="")
                            | Singapore
                    li
                        input(type="radio" name="country-select" id="south-korea")
                        label(for="south-korea")
                            img(src="./assets/images/countries/brazil.svg", alt="")
                            | South Korea
                    li
                        input(type="radio" name="country-select" id="spain")
                        label(for="spain")
                            img(src="./assets/images/countries/argentina.svg", alt="")
                            | Spain
                    li
                        input(type="radio" name="country-select" id="uae")
                        label(for="uae")
                            img(src="./assets/images/countries/australia.svg", alt="")
                            | UAE
                    li
                        input(type="radio" name="country-select" id="united-kingdom")
                        label(for="united-kingdom")
                            img(src="./assets/images/countries/belgium.svg", alt="")
                            | United kingdom

