.offer-bar
    p.offer-bar__head Your exclusive offers (
        span 3
        |  available)
    p.offer-bar__toggle All Offers
    .offer-bar-c.container-fluid
        .container.p-0
            .row
                .col-12
                    .swiper-container.js-offer-card-swiper
                        .swiper-wrapper
                            // Slides
                            .swiper-slide
                                .offer-bar-card.sale
                                    h6 Fall winter clearance
                                    .d-flex.align-items-center.justify-content-between
                                        .sale-price
                                            p upto
                                            h6.number 40
                                            p.percentage % off
                                        p +
                                        p Privilege Benefits
                                    p.conditions Conditions Apply*
                            .swiper-slide
                                .offer-bar-card
                                    h6 Gift coupons
                                    .d-flex.align-items-center.justify-content-between
                                        p.price $
                                            span 15.00
                                        p.code 7zest1673b8v
                                    .d-flex.align-items-center.justify-content-between
                                        p.date Ends on 
                                            span 04/30/2020
                                        p.copy-code Copy Code
                            .swiper-slide
                                .offer-bar-card
                                    h6 Gift Cards
                                    .d-flex.align-items-center.justify-content-between
                                        p.price $
                                            span 25.00
                                        p.code 289is10972876
                                    .d-flex.align-items-center.justify-content-between
                                        p.date Ends on 
                                            span 04/30/2020
                                        p.copy-code Copy Code
                    a.web-link(href="#") View Details