.row
    .col-6.mb-3
        span.product-name Zapelle
        span.product-type Tuetleneck Cotton Knit Shift Dress
    .swiper-container.js-wishlist-slider.wishslider-container
        ol.swiper-wrapper
            li.col-md-4.col-lg-3.swiper-slide
                .product-card
                    .product-card__view
                        picture
                            source(srcset="")
                            img.img-fluid(src="./assets/images/product-listing/product-3.png", alt="Whislist image")
                        .btn-close-sm
                            span
                            span
                    .product-card__body.pt-2
                        span.product-type Pleat front cotton
                    
            
            li.col-md-4.col-lg-3.swiper-slide
                .product-card
                    .product-card__view
                        picture
                            source(srcset="")
                            img.img-fluid(src="./assets/images/product-listing/product-2.png", alt="Whislist image")
                        .btn-close-sm
                            span
                            span
                    .product-card__body.pt-2
                        span.product-type Mandarin collar,long length,below
            
            li.col-md-4.col-lg-3.swiper-slide
                .product-card
                    .product-card__view
                        picture
                            source(srcset="")
                            img.img-fluid(src="./assets/images/product-listing/product-4.png", alt="Whislist image")
                        .btn-close-sm
                            span
                            span
                    .product-card__body.pt-2
                        span.product-type Mandarin collar,long length,below
            
            li.col-md-4.col-lg-3.swiper-slide
                .product-card
                    .product-card__view
                        picture
                            source(srcset="")
                            img.img-fluid(src="./assets/images/product-listing/product-2.png", alt="Whislist image")
                        .btn-close-sm
                            span
                            span
                    .product-card__body.pt-2
                        span.product-type Roundacollar,long length, Mini
            li.col-md-4.col-lg-3.swiper-slide
                .product-card
                    .product-card__view
                        picture
                            source(srcset="")
                            img.img-fluid(src="./assets/images/product-listing/product-2.png", alt="Whislist image")
                        .btn-close-sm
                            span
                            span
                    .product-card__body.pt-2
                        span.product-type Roundacollar,long length, Mini
            li.col-md-4.col-lg-3.swiper-slide
                .product-card
                    .product-card__view
                        picture
                            source(srcset="")
                            img.img-fluid(src="./assets/images/product-listing/product-2.png", alt="Whislist image")
                        .btn-close-sm
                            span
                            span
                    .product-card__body.pt-2
                        span.product-type Roundacollar,long length, Mini
            li.col-md-4.col-lg-3.swiper-slide
                .product-card
                    .product-card__view
                        picture
                            source(srcset="")
                            img.img-fluid(src="./assets/images/product-listing/product-2.png", alt="Whislist image")
                        .btn-close-sm
                            span
                            span
                    .product-card__body.pt-2
                        span.product-type Roundacollar,long length, Mini
            li.col-md-4.col-lg-3.swiper-slide
                .product-card
                    .product-card__view
                        picture
                            source(srcset="")
                            img.img-fluid(src="./assets/images/product-listing/product-2.png", alt="Whislist image")
                        .btn-close-sm
                            span
                            span
                    .product-card__body.pt-2
                        span.product-type Roundacollar,long length, Mini
            li.col-md-4.col-lg-3.swiper-slide
                .product-card
                    .product-card__view
                        picture
                            source(srcset="")
                            img.img-fluid(src="./assets/images/product-listing/product-2.png", alt="Whislist image")
                        .btn-close-sm
                            span
                            span
                    .product-card__body.pt-2
                        span.product-type Roundacollar,long length, Mini
        .swiper-arrow.d-none.d-md-block
            .arrow.right-arrow
                span
            .arrow.left-arrow
                span
        .swiper-pagination.d-block.d-md-none
// Categories slider
.row.pt-4.pt-md-5
    .col-6.mb-3
        span.product-name Zapelle
        span.product-type Tuetleneck Cotton Knit Shift Dress

    .js-wishlist-slider-more.swiper-container.wishslider-container
        ol.list-item.swiper-wrapper
            li.col-md-4.col-lg-3.swiper-slide
                .product-card
                    .product-card__view
                        picture
                            source(srcset="")
                            img.img-fluid(src="./assets/images/product-listing/product-3.png", alt="Whislist image")
                        .btn-close-sm
                            span
                            span
                    .product-card__body.pt-2
                        span.product-type Pleat front cotton
            
            li.col-md-4.col-lg-3.swiper-slide
                .product-card
                    .product-card__view
                        picture
                            source(srcset="")
                            img.img-fluid(src="./assets/images/product-listing/product-2.png", alt="Whislist image")
                        .btn-close-sm
                            span
                            span
                    .product-card__body.pt-2
                        span.product-type Mandarin collar,long length,below
            
            li.col-md-4.col-lg-3.swiper-slide
                .product-card
                    .product-card__view
                        picture
                            source(srcset="")
                            img.img-fluid(src="./assets/images/product-listing/product-4.png", alt="Whislist image")

                        .btn-close-sm
                            span
                            span
                    .product-card__body.pt-2
                        span.product-type Mandarin collar,long length,below
            li.col-md-4.col-lg-3.swiper-slide
                .product-card
                    .product-card__view
                        picture
                            source(srcset="")
                            img.img-fluid(src="./assets/images/product-listing/product-4.png", alt="Whislist image")

                        .btn-close-sm
                            span
                            span
                    .product-card__body.pt-2
                        span.product-type Mandarin collar,long length,below
            li.col-md-4.col-lg-3.swiper-slide
                .product-card
                    .product-card__view
                        picture
                            source(srcset="")
                            img.img-fluid(src="./assets/images/product-listing/product-4.png", alt="Whislist image")

                        .btn-close-sm
                            span
                            span
                    .product-card__body.pt-2
                        span.product-type Mandarin collar,long length,below
            li.col-md-4.col-lg-3.swiper-slide
                .product-card
                    .product-card__view
                        picture
                            source(srcset="")
                            img.img-fluid(src="./assets/images/product-listing/product-4.png", alt="Whislist image")

                        .btn-close-sm
                            span
                            span
                    .product-card__body.pt-2
                        span.product-type Mandarin collar,long length,below
        .swiper-arrow.d-none.d-md-block
            .arrow.right-arrow
                span
            .arrow.left-arrow
                span
        .swiper-pagination.d-block.d-md-none