.row
    .col-md-3
        // Card1
        .product-card
            .product-card__view
                picture
                    source(srcset="")
                    img.img-fluid(src="./assets/images/product-listing/product-2.png", alt="Whislist image")
            .product-card__body
                .product-info
                    span.product-type Pleat front cotton
                    span.product-cost $39.95
                .favourite
                    i.icon-wishlist
    
    .col-md-3
        // Card1
        .product-card
            .product-card__view
                picture
                    source(srcset="")
                    img.img-fluid(src="./assets/images/product-listing/product-3.png", alt="Whislist image")
            .product-card__body
                .product-info
                    span.product-type Pleat front cotton
                    span.product-cost $39.95
                .favourite
                    i.icon-wishlist
    
    .col-md-3
        .product-card
            .product-card__view
                picture
                    source(srcset="")
                    img.img-fluid(src="./assets/images/product-listing/product-2.png", alt="Whislist image")
            .product-card__body
                .product-info
                    span.product-type Pleat front cotton
                    span.product-cost $39.95
                .favourite
                    i.icon-wishlist