section.pb-4
    .container
        .row
            .col-md-12.plr-mb0 
                picture.banner-container
                    source(srcset="./assets/images/product-listing/banner.png")
                    img.banner-container__view(src="./assets/images/product-listing/banner.png" alt="Discount banner")
                //Banner-text
                //- .bg-banner-content.text-center
                //-     .bg-banner-content__container
                //-         h1.bg-banner-content__heading Dresses
                //-         p.fnt-sm Shop hundereds of styles as shown or change neckline, sleeve, length, to suit you.
                .bg-lght-gray.delivery-patch
                    p 
                        | Faster Delivery - Delivery time brought down to 
                        strike.mx-1 14-17
                        span.delivery-patch__date 9-13 days!
                
