section
    .container
        .row
            .col-md-12
                picture.banner-container
                    source(srcset="./assets/images/product-listing/banner.png")
                    img.banner-container__view(src="./assets/images/product-listing/banner.png" alt="Discount banner")
                .bg-lght-gray.delivery-patch
                    p 
                        | Faster Delivery - Delivery time brought down to 
                        strike.mx-1 14-17
                        span.delivery-patch__date 9-13 days!