// Bread-crumb
section
    .container
        .row
            nav.col-12.py-3(aria-label="breadcrumb")
                ol.breadcrumb
                    li.breadcrumb__item
                        a(href="javascript:void(0);") Home
                    li.breadcrumb__item
                        a(href="javascript:void(0);") Dresses
                    li.breadcrumb__item.active Shift