section.product-recent-view.js-img-lazy
    .left-container
        .row
            .col-12
                h6.pb-2.pb-md-3.product-recent-view__title Recently Viewed
        .row.js-recently-viewed.swiper-container.product-details-cards
            ol.js-products.list-item.swiper-wrapper
                li.js-loading-card.swiper-slide
                    //- img.img-fluid(src="./assets/images/product-listing/product1.png" alt="Product1")
                    include ../../mixins/product-cards.pug
                    +product-card("./assets/images/product-listing/product1.png", "./assets/images/product-listing/product1.png", "Zapelle", "Pleat front cotton", "$39.95")
                li.js-loading-card.swiper-slide
                    +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png", "Elements", "Ruffle flora Print Crepe shift dress", "$39.95")
                li.js-loading-card.swiper-slide
                    +product-card("./assets/images/product-listing/product-3.png", "./assets/images/product-listing/product-3.png",  "Zapelle", "Pleat front cotton", "$39.95")
                li.js-loading-card.swiper-slide
                    +product-card("./assets/images/product-listing/product-3.png", "./assets/images/product-listing/product-3.png",  "Zapelle", "Pleat front cotton", "$39.95")
                li.js-loading-card.swiper-slide
                    +product-card("./assets/images/product-listing/product-3.png", "./assets/images/product-listing/product-3.png",  "Zapelle", "Pleat front cotton", "$39.95")
                li.js-loading-card.swiper-slide
                    +product-card("./assets/images/product-listing/product-3.png", "./assets/images/product-listing/product-3.png",  "Zapelle", "Pleat front cotton", "$39.95")
            .swiper-arrow.d-none.d-md-block
                .arrow.right-arrow-img
                    span
                .arrow.left-arrow-img
                    span
                