.modal.fade.img-modal-lg(tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
  .modal-dialog.modal-lg.fullPopUp.my-0
    .modal-content
        button.close-modal(data-dismiss="modal") &times;
        .model-img-tab-container(style="background-image:url(./assets/images/product-listing/zooming-img/women1.jpg)")
        .tab-img
            img(src="./assets/images/product-listing/zooming-img/women1.jpg", alt="")
            img(src="./assets/images/product-listing/zooming-img/women2.jpg", alt="")
            img(src="./assets/images/product-listing/zooming-img/women3.jpg", alt="")
            img(src="./assets/images/product-listing/zooming-img/women4.jpg", alt="")
            img(src="./assets/images/product-listing/zooming-img/women1.jpg", alt="")
            img(src="./assets/images/product-listing/zooming-img/women2.jpg", alt="")
            img(src="./assets/images/product-listing/zooming-img/women3.jpg", alt="")
            img(src="./assets/images/product-listing/zooming-img/women4.jpg", alt="")