section.product-listing
    .container
        include ../../mixins/dropdown.pug
        .row
            .col-lg-7.slider-style-thumb
                .swiper-container.gallery-top
                    .swiper-wrapper.gallery-wrp.mx-auto
                        .swiper-slide(data-toggle='modal', data-target='.img-modal-lg')
                            img.img-fluid(src="./assets/images/women.png", alt="")
                        .swiper-slide(data-toggle='modal', data-target='.img-modal-lg')
                            img.img-fluid(src="./assets/images/women.png", alt="")
                        .swiper-slide(data-toggle='modal', data-target='.img-modal-lg')
                            img.img-fluid(src="./assets/images/women.png", alt="")
                        .swiper-slide(data-toggle='modal', data-target='.img-modal-lg')
                            img.img-fluid(src="./assets/images/women.png", alt="")
                        .swiper-slide(data-toggle='modal', data-target='.img-modal-lg')
                            img.img-fluid(src="./assets/images/women.png", alt="")
                        .swiper-slide(data-toggle='modal', data-target='.img-modal-lg')
                            img.img-fluid(src="./assets/images/women.png", alt="")
                        .swiper-slide(data-toggle='modal', data-target='.img-modal-lg')
                            img.img-fluid(src="./assets/images/women.png", alt="")
                        .swiper-slide(data-toggle='modal', data-target='.img-modal-lg')
                            img.img-fluid(src="./assets/images/women.png", alt="")
                        //- .swiper-slide(style='background-image:url(./assets/images/women.png)' data-toggle='modal', data-target='.img-modal-lg')
                        //- .swiper-slide(style='background-image:url(./assets/images/women.png)' data-toggle='modal', data-target='.img-modal-lg')
                        //- .swiper-slide(style='background-image:url(./assets/images/women.png)' data-toggle='modal', data-target='.img-modal-lg')
                        //- .swiper-slide(style='background-image:url(./assets/images/women.png)' data-toggle='modal', data-target='.img-modal-lg')
                        //- .swiper-slide(style='background-image:url(./assets/images/women.png)' data-toggle='modal', data-target='.img-modal-lg')
                        //- .swiper-slide(style='background-image:url(./assets/images/women.png)' data-toggle='modal', data-target='.img-modal-lg')
                        //- .swiper-slide(style='background-image:url(./assets/images/women.png)' data-toggle='modal', data-target='.img-modal-lg')
                        //- .swiper-slide(style='background-image:url(./assets/images/women.png)' data-toggle='modal', data-target='.img-modal-lg')
                
                    .style-guid
                        p.style-guid__des.mb-2 Styled by you
                        .img-card-wrp
                            p.prod-label.pb-2.mb-md-1 Neckline
                            .img-wrp
                                img.img50x50(src="./assets/images/style-img.png", alt="")
                                span.neck-type Petre Pan
                            //- img.img-50(src="./assets/images/style-guid.png", alt="")
                            //- p.fnt-12.drk-gry.pt-2 Mandarin Collar
                        .img-card-wrp
                            p.prod-label.pb-2.mb-md-1 Sleeve Type
                            .img-wrp
                                    img.img50x50(src="./assets/images/style-img.png", alt="")
                                    span.neck-type Elbow Length
                        .img-card-wrp
                            p.prod-label.pb-2.mb-md-1 Length
                            .img-wrp
                                img.img50x50(src="./assets/images/style-img.png", alt="")
                                span.neck-type Knee Length
                        a(href="" , data-toggle='modal', data-target='.bd-example-modal-lg').custom-stye-br.fnt-12-black 
                            img(src="./assets/images/product-listing/product-card/customize.svg" alt="customize")
                            span.ml-2.d-none.d-lg-inline-block.text-uppercase Customize style                     
                            span.ml-2.fnt-xxs.d-lg-none Customize                  
                            // Add Arrows
                        .mt-2
                            a.learn-link.fnt-xxs(href="javascript:void(0)") Reset style
                                
                .swiper-pagination-bullets.d-md-none
                    //- .swiper-button-next.swiper-button-white
                    //- .swiper-button-prev.swiper-button-white
                .thumb-wrp.flex-row.d-none.d-md-flex.pb-2
                    .preview-img
                        .swiper-slide.thumb-slide-img(style='background-image:url(./assets/images/thumbimg.png)')
                        
                    .swiper-container.gallery-thumbs
                        .swiper-wrapper
                            .swiper-slide.thumb-slide(style='background-image:url(./assets/images/thumbimg.png)')
                            .swiper-slide.thumb-slide(style='background-image:url(./assets/images/thumbimg.png)')
                            .swiper-slide.thumb-slide(style='background-image:url(./assets/images/thumbimg.png)')
                            .swiper-slide.thumb-slide(style='background-image:url(./assets/images/thumbimg.png)')
                            .swiper-slide.thumb-slide(style='background-image:url(./assets/images/thumbimg.png)')
                            .swiper-slide.thumb-slide(style='background-image:url(./assets/images/thumbimg.png)')
                            .swiper-slide.thumb-slide(style='background-image:url(./assets/images/thumbimg.png)')
                            .swiper-slide.thumb-slide(style='background-image:url(./assets/images/thumbimg.png)')
                            .swiper-slide.thumb-slide(style='background-image:url(./assets/images/thumbimg.png)')
                            .swiper-slide.thumb-slide(style='background-image:url(./assets/images/thumbimg.png)')
                        .swiper-arrow
                            .arrow.right-arrow
                                span
                            .arrow.left-arrow
                                span
                .thumb-text-wrp.d-none.d-md-flex.flex-row
                    .preve-img-text 
                        span.prdt-caption.prdt-caption--modify Style By You
                    .thumb-text    
                        span.prdt-caption.prdt-caption--modify Product As Shown
                
            .col-lg-5.mt-5.mt-md-0.pt-md-3.pt-lg-0
                // Dress-details info
                .dress-details
                    .product-info
                        span.pdp-title ZAPELLE
                        .prod-head.d-flex.justify-content-between.align-items-center
                            h1.fnt-xlg.pdp-name Pleat Front Cotton Chambray Wrap Dress
                            div.favourite.my-auto
                                i.icon-wishlist
                        span.product-info__style-code Style #CL0062013
                    
                    .product-price  
                        span.product-price__text $64.95
                        p.pdt-sell-price.fnt-xxs
                            | or 3 interest-free payments of $18 with Affirm
                            a.learn-link.ml-1(href="#") Learn more
                    .reviews
                        img(src="./assets/images/product-listing/stars.png", alt="")
                        span.pl-3.txt-gry-12.reviews__rating 2 reviews
                    .fnt-xs.drk-gry.py-3 Pleated cotton chambray brings draped flair to our flattering frock that boasts a cross-front with ties at the waist for a wrap silhouette. Available: Additional 3 neckline, 4 sleeve type... 
                        a.js-read-more.learn-link.fnt-700( href="#" data-toggle='modal', data-target='.js-product-details-modal')  Product Details
                    .prd-color.fnt-xxs.mt-1
                        span.prd-color__label.fnt-xxs.mb-2 Color
                        .color-container
                            label.label-container.color-list-item.mb-0
                                input(type="radio" name="color-select" checked)
                                span.checkmark.checkmark--circle.medhi
                                    .checkborder
                            label.label-container.color-list-item.mb-0
                                input(type="radio" name="color-select")
                                span.checkmark.checkmark--circle.black-dark
                                    .checkborder
                            label.label-container.color-list-item.mb-0
                                input(type="radio" name="color-select")
                                span.checkmark.checkmark--circle.mareen
                                    .checkborder
                
                //START: PROJECT-SIZE-CHART
                .pdp-size-container
                    .prd-size.fnt-xs.mt-2.mt-md-0.mb-2.mb-md-0
                        span.select-label.fnt-xs.my-auto.mr-md-4.mr-3 Select Size
                        ul#pills-tab.nav.d-flex.justify-content-xl-between(role='tablist')
                            li.nav-item.ml-2
                                a#pills-home-tab.nav-link.active(data-toggle='pill', href='#pills-home', role='tab', aria-controls='pills-home', aria-selected='true') Standard Size
                            li.ml-2.ml-lg-3.nav-item
                                a#pills-profile-tab.nav-link(data-toggle='pill', href='#pills-profile', role='tab', aria-controls='pills-profile', aria-selected='false') Custom size(Charges apply)
                            
                    #pills-tabContent.tab-content.mb-2
                        
                        #pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab')
                            .row
                                .col-md-10
                                    p.text-des-s XS to 6X sizes are available 
                                        a.learn-link(href="#")  Size Chart
                            .measures-drop-wrp.d-flex.flex-md-wrap.pt-3.pdt-size-select
                                .size.text-center   
                                    span.size-hd XS
                                    span.size-number
                                        input#size01.size-select(type="radio" name="size")
                                        label.size-number__label(for="size01") 0
                                    span.size-number
                                        input#size02.size-select(type="radio" name="size")
                                        label.size-number__label(for="size02") 2

                                .size.text-center  
                                    span.size-hd S
                                    span.size-number
                                        input#sizes1.size-select(type="radio" name="size")
                                        label.size-number__label(for="sizes1") 4
                                    span.size-number
                                        input#sizes2.size-select(type="radio" name="size")
                                        label.size-number__label(for="sizes2") 6

                                .size.text-center   
                                    span.size-hd M
                                    span.size-number
                                        input#sizem1.size-select(type="radio" name="size")
                                        label.size-number__label(for="sizem1") 8
                                    span.size-number
                                        input#sizem2.size-select(type="radio" name="size")
                                        label.size-number__label(for="sizem2") 10
                                .size.text-center   
                                    span.size-hd L
                                    span.size-number
                                        input#sizel1.size-select(type="radio" name="size")
                                        label.size-number__label(for="sizel1") 8
                                    span.size-number
                                        input#sizel2.size-select(type="radio" name="size")
                                        label.size-number__label(for="sizel2") 10
                                .size.text-center   
                                    span.size-hd XL
                                    span.size-number
                                        input#sizexl1.size-select(type="radio" name="size")
                                        label.size-number__label(for="sizexl1") 16
                                    span.size-number
                                        input#sizexl2.size-select(type="radio" name="size")
                                        label.size-number__label(for="sizexl2") 18
                                .size.text-center   
                                    span.size-hd 1X
                                    span.size-number
                                        input#sizex11.size-select(type="radio" name="size")
                                        label.size-number__label(for="sizex11") 16w
                                    span.size-number
                                        input#sizex12.size-select(type="radio" name="size")
                                        label.size-number__label(for="sizex12") 18w
                                .size.text-center   
                                    span.size-hd 2X
                                    span.size-number
                                        input#size2x1.size-select(type="radio" name="size")
                                        label.size-number__label(for="size2x1") 20w
                                    span.size-number
                                        input#size2x2.size-select(type="radio" name="size")
                                        label.size-number__label(for="size2x2") 22w
                                .size.text-center   
                                    span.size-hd 3X
                                    span.size-number
                                        input#size3x1.size-select(type="radio" name="size")
                                        label.size-number__label(for="size3x1") 24w
                                    span.size-number
                                        input#size3x2.size-select(type="radio" name="size")
                                        label.size-number__label(for="size3x2") 26w
                                .size.text-center   
                                    span.size-hd 4X
                                    span.size-number
                                        input#size4x1.size-select(type="radio" name="size")
                                        label.size-number__label(for="size4x1") 28w
                                    span.size-number
                                        input#size4x2.size-select(type="radio" name="size")
                                        label.size-number__label(for="size4x2") 30w
                                .size.text-center   
                                    span.size-hd 5X
                                    span.size-number
                                        input#size5x1.size-select(type="radio" name="size")
                                        label.size-number__label(for="size5x1") 28w
                                    span.size-number
                                        input#size5x2.size-select(type="radio" name="size")
                                        label.size-number__label(for="size5x2") 30w
                                .size.text-center   
                                    span.size-hd 6X
                                    span.size-range.d-flex
                                        .size-number
                                            input#size6x1.size-select(type="radio" name="size")
                                            label.size-number__label(for="size6x1") 28w
                                   
                            
                        #pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='pills-profile-tab')
                            p.text-des
                                | (For custom size and/or custom style, a single fee of $9.95 per garment will apply)
                                a.learn-link(href="#" data-toggle='modal', data-target='.js-size-measure-modal-wrp') Measure
                            .drop-wrp.d-flex.flex-wrap.pt-2

                                .select-style
                                    //- span.triangle-icon
                                    select.txt-gry-12.select_box
                                        option(disabled selected) Choose Size profile
                                        option(value='saab') Saab
                                        option(value='mercedes') Mercedes
                                        option(value='audi') Audi

                                //- .select-style
                                //-     span.triangle-icon
                                //-     select.txt-gry-12
                                //-         option(disable) choose Size profile
                                //-         option(value='saab') Saab
                                //-         option(value='mercedes') Mercedes
                                //-         option(value='audi') Audi
                            
                           
                            .row
                                .col-12
                                    .measures-drop-wrp.d-flex.flex-wrap.pt-4
                                        +dropdown("Shoulder")
                                        +dropdown("Chest ")
                                        +dropdown("Bust ")
                                        +dropdown("Under Bust ")
                                        +dropdown("Hip")
                                        +dropdown("Waist ")
                                        +dropdown("Upper Arms")
                                        
                                        
                                    p.text-des Optional Measurements
                                        i.js-size-model.icon-info.pl-1
                                    p.fnt-xs.drk-gry.my-1 From shoulder high point to 
                                    .drop-wrp.d-flex.flex-wrap.pt-2
                                        +dropdown("Bus Point")
                                        +dropdown("Waist Point  ")
                                        +dropdown("Knee Point ")
                .select-Height.d-flex.align-items-center
                    span.select-label.mr-4 Select Height
                    .select-style.select-style--height.mt-0
                        //- span.triangle-icon
                        select.txt-gry-12.select_box
                            option(disabled selected) select
                            option(value='saab') 9.5
                            option(value='mercedes') 6.7
                            option(value='audi') 7.9
                
                p.text-des-s.mt-2 Selected styles - Mandarin collar, long length, below knee length
                
                .btn-wrp.mt-2.mt-md-3
                    button.px-5.btn.btn--danger.btn-addCart(type="button", data-toggle='modal', data-target='.bd-example-modal-lg-02') Add to Cart
                    
                    //START: SHARE
                    div.share.d-none.d-md-block
                        .flex-center
                            i.mr-2.icon-share
                            span.txt-gry-12.fnt-xxs Share
                        .tooltip-share.tooltip-share--right
                            .tooltip-share__item.pinterest.d-flex
                                i.icon-pinterest.tip-icon
                                p.prd-sub-txt Pinterest
                            .tooltip-share__item.facebook.d-flex
                                i.icon-facebook.tip-icon
                                p.prd-sub-txt Facebook
                            .tooltip-share__item.twitter.d-flex
                                i.icon-twitter.tip-icon
                                p.prd-sub-txt Twitter
            
