.product-modal.modal.fade.bd-example-modal-lg(tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
        .container
            .row.model-head.text-center.justify-content-center
                .col-md-7
                    h4.model-22 Customize your style with eShakti fx
                    p.prd-sub-txt.px-5 You can customize the garment to your style or shop the style 'as shown'.
            .row.pt-4.mt-2
                .col-md-4.d-flex.justify-content-center
                    .model-img
                        img(src="./assets/images/women.png", alt="")
                        .share-style
                            img.mr-2(src="./assets/images/share.svg", alt="")
                            span.txt-gry-12 Share
                .col-md-8
                    .custom-style
                        .style-model-content
                            .style-head.pb-3 Neckline
                            .style-contain.d-flex.flex-wrap 
                                .img-container.mr-4
                                    .img-wrp.d-flex.justify-content-center.align-item-center
                                        span.m-auto.img-txt__inner-txt Default
                                    p.img-txt.pt-2 As shown  collar style
                                .img-container.mr-4 
                                    .img-wrp.border-0
                                        img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                .img-container.mr-4 
                                    .img-wrp.border-0
                                        img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                .img-container.mr-4 
                                    .img-wrp.border-0
                                        img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                .img-container.mr-4 
                                    .img-wrp.border-0
                                        img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                        .style-model-content
                            .style-head.pb-3 Sleeve Type
                            .style-contain.d-flex.flex-wrap 
                                .img-container.mr-4
                                    .img-wrp.d-flex.justify-content-center.align-item-center
                                        span.m-auto.img-txt__inner-txt Default
                                    p.img-txt.pt-2 As shown  collar style
                                .img-container.mr-4 
                                    .img-wrp.border-0
                                        img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                 
                                .img-container.mr-4 
                                    .img-wrp.border-0
                                        img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                .img-container.mr-4 
                                    .img-wrp.border-0
                                        img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                .img-container.mr-4 
                                    .img-wrp.border-0
                                        img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                .img-container.mr-4 
                                    .img-wrp.border-0
                                        img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                        .style-model-content
                            .style-head.pb-3 Length
                            .style-contain.d-flex.flex-wrap 
                                .img-container.mr-4
                                    .img-wrp.d-flex.justify-content-center.align-item-center
                                        span.m-auto.img-txt__inner-txt Default
                                    p.img-txt.pt-2 As shown  collar style
                                .img-container.mr-4 
                                    .img-wrp.border-0
                                        img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                .img-container.mr-4 
                                    .img-wrp.border-0
                                        img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                .img-container.mr-4 
                                    .img-wrp.border-0
                                        img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                .img-container.mr-4 
                                    .img-wrp.border-0
                                        img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan