section.pt-1.pb-4.product-sticky.js-custom-popups
    .container
        .row
            .col-md-3
                include side-filters.pug
            
            .col-md-9.js-img-lazy
                include show-products.pug