section.py-4
    .container
        .row.product-sticky
            .col-md-3
                .product-details-sticky
                    include side-filters.pug
            
            .col-md-9
                include show-products.pug