.product-modal.modal.fade.bd-example-modal-lg(tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
        .container
            .row.model-head.text-center.justify-content-center
                .col-md-5
                    h4.model-22 Customize your style with eShakti fx
                    p.prd-sub-txt.px-5 You can customize the garment to your style or shop the style 'as shown'.
            .row.pt-4.mt-2
                .col-md-4.d-flex.justify-content-center
                    .model-img
                        img.js-style-img.style-img.mt-2(src="./assets/images/women.png", alt="")
                        .share-style
                            img.share-icon.mr-2(src="./assets/images/share.svg", alt="")
                            span.txt-gry-12 Share
                .col-md-8
                    .custom-style
                        .style-model-content
                            .style-head.pb-3 Neckline
                            .style-contain.d-flex.flex-wrap 
                                .img-container.mr-4
                                    input#check1.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png" checked)
                                    label(for="check1" ).img-wrp.d-flex.justify-content-center.align-item-center
                                        span.m-auto.img-txt__inner-txt Default
                                    p.img-txt.pt-2 As shown  collar style
                                .img-container.mr-4
                                    input#check2.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                    label(for="check2" ).img-wrp
                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                .img-container.mr-4
                                    input#check3.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                    label(for="check3").img-wrp
                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                .img-container.mr-4
                                    input#check4.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                    label(for="check4").img-wrp
                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                .img-container.mr-4
                                    input#check5.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                    label(for="check5").img-wrp
                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                        .style-model-content
                            .style-head.pb-3 Sleeve Type
                            .style-contain.d-flex.flex-wrap 
                                .img-container.mr-4
                                    input#check6.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png" checked)
                                    label(for="check6").img-wrp.d-flex.justify-content-center.align-item-center
                                        span.m-auto.img-txt__inner-txt Default
                                    p.img-txt.pt-2 As shown  collar style
                                .img-container.mr-4
                                    input#check7.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                    label(for="check7").img-wrp
                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                 
                                .img-container.mr-4
                                    input#check8.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                    label(for="check8").img-wrp
                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                .img-container.mr-4
                                    input#check9.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                    label(for="check9").img-wrp
                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                .img-container.mr-4
                                    input#check10.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                    label(for="check10").img-wrp
                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                .img-container.mr-4
                                    input#check11.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                    label(for="check11").img-wrp
                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                        .style-model-content
                            .style-head.pb-3 Length
                            .style-contain.d-flex.flex-wrap 
                                .img-container.mr-4
                                    input#check12.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png" checked)
                                    label(for="check12").img-wrp.d-flex.justify-content-center.align-item-center
                                        span.m-auto.img-txt__inner-txt Default
                                    p.img-txt.pt-2 As shown  collar style
                                .img-container.mr-4
                                    input#check13.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png") 
                                    label(for="check13").img-wrp
                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                .img-container.mr-4
                                    input#check14.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png") 
                                    label(for="check14").img-wrp
                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                .img-container.mr-4
                                    input#check15.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png") 
                                    label(for="check15").img-wrp
                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
                                .img-container.mr-4
                                    input#check16.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png") 
                                    label(for="check16").img-wrp
                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                    p.img-txt.pt-2  Petre Pan
            .row
                .col.d-flex.justify-content-end.pt-md-3.mt-1
                    button.js-btn-proceed.bttn.bttn__orange.mr-3(type="button") Proceed with the style
                    button.bttn.bttn__white.ml-1(type="button") Save Style
                
            .savedItem
                p.style-head.pb-3 Saved Styles 
                    span (3 items)
                .dynaic-slide-wrapper.d-flex
                    ul.slide-item-wrp
                        li.slide-item
                            .style-card
                                img.saved-img(src="./assets/images/saved-item.png", alt="")
                                .close-icon
                                    span
                                    span
                            p.fnt-11.pt-2 As shown
                    .swiper-container.js-style-slider
                        ul.swiper-wrapper