.modal.fade.size-modal.js-product-details-modal(tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
    .modal-dialog.modal-sm.product-details-dialog
        button.close-modal(data-dismiss="modal") &times;
        .modal-content.js-measure-content.measure-dialog
            .container.p-0
                .model-head
                    ul.product-details-list
                        li.head-txt Product Details
                        li.product-sub Wide and low sweetheart neck, V-back.
                        li.product-sub Dolman cap sleeves, contrast banded trim.
                        li.product-sub Mid-calf length dips to 3" above the ankle length at back.
                        li.product-sub Slips on overhead.
                        li.product-sub Inner shoulder bra strap keeps.
                        li.product-sub 95% cotton/5% spandex, jersey knit, light structured feel, light stretch, midweight.
                        li.product-sub Machine wash cold.
                        li.product-sub Model is wearing our size M/8, cut for her height of 5'10.8".
