
//MODEL 2 
.product-modal.modal.fade.bd-example-modal-lg.custom-product-model.custom-popup-v2(tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
  .modal-dialog.modal-lg
    button.close-modal(data-dismiss="modal") &times;
    .modal-content.pt-5.product-custome-content.pb-0
        .model-wrp.js-custom-scroll.h-100
            .container.p-0
                .row.model-head.text-center.justify-content-center.m-0
                    .custom-modal-heading
                        h4.model-22 Customize your style with eShakti fx
                        p.prd-sub-txt.px-5 You can customize the garment to your style or shop the style 'as shown'.
                .overflowScroll
                    .row.custom-modal-head
                        .col-6.col-lg-4.d-flex.flex-column.justify-content-center.custom-modal-head__img.order-2.order-md-1.pt-3.pt-md-0
                            .model-img.mx-auto.mb-auto
                                .left-arm
                                    img.img.img-fluid(src="./assets/images/product-listing/parts/left.png", alt="")
                                .neck-body
                                    img.img.img-fluid(src="./assets/images/product-listing/parts/face.png", alt="")
                                .right-arm
                                    img.img.img-fluid(src="./assets/images/product-listing/parts/right.png", alt="")
                                .length
                                    img.img.img-fluid(src="./assets/images/product-listing/parts/length.png", alt="")
                            a(href="#").share-style.share.d-none.d-md-block
                                i.icon-share
                                .tooltip-share
                                    .tooltip-share__item.pinterest.d-flex
                                        i.icon-pinterest.tip-icon
                                        p.prd-sub-txt Pinterest
                                    .tooltip-share__item.facebook.d-flex
                                        i.icon-facebook.tip-icon
                                        p.prd-sub-txt Facebook
                                    .tooltip-share__item.twitter.d-flex
                                        i.icon-twitter.tip-icon
                                        p.prd-sub-txt Twitter
                                span.txt-gry-12 Share
                            p.fnt-11.text-center.pb-2.d-none.d-md-block As Shown - Mandarin collar, Elbow length, Mini 
                            
                        .col-lg-8.custom-modal-head__opt.order-1.order-md-2
                            ul#myTab.nav.d-flex.d-md-none(role='tablist')
                                li.nav-item.mt-2
                                    a#neck-tab.nav-link.style-head.active(data-toggle='tab' href='#neck' role='tab' aria-controls='home' aria-selected='true') Neckline
                                li.nav-item.mt-2
                                    a#sleeve-tab.nav-link.style-head(data-toggle='tab' href='#sleeve' role='tab' aria-controls='profile' aria-selected='false') Sleeve Type
                                li.nav-item.mt-2
                                    a#length-tab.nav-link.style-head(data-toggle='tab' href='#length' role='tab' aria-controls='contact' aria-selected='false') Length
                            #myTabContent.tab-content.custom-style.mt-2.mt-md-3.mt-lg-0
                                #neck.tab-pane.fade.show.active.style-model-content.neckline
                                    .style-head.pb-md-3.d-none.d-md-block Neckline
                                    .style-contain.d-flex
                                        label(for="check1" ).img-container
                                            input#check1.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png" checked)
                                            .img-wrp.d-flex.justify-content-center.align-item-center
                                                span.style-img.text-center.pt-3.m-auto.img-txt__inner-txt Default
                                            p.img-txt.pt-2 As shown collar style
                                        .styleThumbSlider
                                            .swiper-container.js-prod-v2-neck
                                                .swiper-wrapper
                                                    
                                                    label.swiper-slide(for="check211" ).img-container.mr-4
                                                        input#check211.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                                        .img-wrp
                                                            img.style-img(src="./assets/images/style-img.png", alt="")
                                                        p.img-txt.pt-2 Petre Pan
                                                    label.swiper-slide(for="check311").img-container.mr-4
                                                        input#check311.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                                        .img-wrp
                                                            img.style-img(src="./assets/images/style-img.png", alt="")
                                                        p.img-txt.pt-2 Mandarin Collar
                                                    label.swiper-slide(for="check411").img-container.mr-4
                                                        input#check411.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                                        .img-wrp
                                                            img.style-img(src="./assets/images/style-img.png", alt="")
                                                        p.img-txt.pt-2 Round Collar
                                                    label.swiper-slide(for="check511").img-container.mr-4
                                                        input#check511.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                                        .img-wrp
                                                            img.style-img(src="./assets/images/style-img.png", alt="")
                                                        p.img-txt.pt-2 Petre Pan
                                            .swiper-arrow
                                                .arrow.right-arrow-necklineSLider-v2
                                                    span
                                                .arrow.left-arrow-necklineSLider-v2
                                                    span

                                        
                                #sleeve.tab-pane.fade.style-model-content.sleeve
                                    .style-head.pb-md-3.d-none.d-md-block Sleeve Type
                                    .style-contain.d-flex
                                        label(for="check1" ).img-container
                                            input#check1.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png" checked)
                                            .img-wrp.d-flex.justify-content-center.align-item-center
                                                span.style-img.text-center.pt-3.m-auto.img-txt__inner-txt Default
                                            p.img-txt.pt-2 As shown collar style
                                        .styleThumbSlider
                                            .swiper-container.js-prod-v2-sleev 
                                                .swiper-wrapper
                                                    
                                                    label.swiper-slide(for="check711").img-container.mr-4
                                                        input#check711.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                                        .img-wrp
                                                            img.style-img(src="./assets/images/style-img.png", alt="")
                                                        p.img-txt.pt-2 Sleeveless
                                                    
                                                    label.swiper-slide(for="check811").img-container.mr-4
                                                        input#check811.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                                        .img-wrp
                                                            img.style-img(src="./assets/images/style-img.png", alt="")
                                                        p.img-txt.pt-2 Elbow Length
                                                    label.swiper-slide(for="check911").img-container.mr-4
                                                        input#check911.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                                        .img-wrp
                                                            img.style-img(src="./assets/images/style-img.png", alt="")
                                                        p.img-txt.pt-2 Bracelet Length
                                                    label.swiper-slide(for="check101").img-container.mr-4
                                                        input#check101.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                                        .img-wrp
                                                            img.style-img(src="./assets/images/style-img.png", alt="")
                                                        p.img-txt.pt-2 Sleeveless
                                                    label.swiper-slide(for="check111").img-container.mr-4
                                                        input#check111.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                                        .img-wrp
                                                            img.style-img(src="./assets/images/style-img.png", alt="")
                                                        p.img-txt.pt-2 Elbow Length
                                            .swiper-arrow
                                                .arrow.right-arrow-sleeveSLider-v2
                                                    span
                                                .arrow.left-arrow-sleeveSLider-v2
                                                    span
                                        
                                #length.tab-pane.fade.style-model-content.length
                                    .style-head.pb-md-3.d-none.d-md-block Length
                                    .style-contain.d-flex
                                        label(for="check1" ).img-container
                                            input#check1.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png" checked)
                                            .img-wrp.d-flex.justify-content-center.align-item-center
                                                span.style-img.text-center.pt-3.m-auto.img-txt__inner-txt Default
                                            p.img-txt.pt-2 As shown collar style
                                        .styleThumbSlider
                                            .swiper-container.js-prod-v2-length.px-4 
                                                .swiper-wrapper
                                                    
                                                    label.swiper-slide(for="check131").img-container.mr-4
                                                        input#check131.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png") 
                                                        .img-wrp
                                                            img.style-img(src="./assets/images/style-img.png", alt="")
                                                        p.img-txt.pt-2 Mini
                                                    label.swiper-slide(for="check141").img-container.mr-4
                                                        input#check141.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png") 
                                                        .img-wrp
                                                            img.style-img(src="./assets/images/style-img.png", alt="")
                                                        p.img-txt.pt-2 Knee Length
                                                    label.swiper-slide(for="check151").img-container.mr-4
                                                        input#check151.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png") 
                                                        .img-wrp
                                                            img.style-img(src="./assets/images/style-img.png", alt="")
                                                        p.img-txt.pt-2 Below Knee Length
                                                    label.swiper-slide(for="check161").img-container.mr-4
                                                        input#check161.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png") 
                                                        .img-wrp
                                                            img.style-img(src="./assets/images/style-img.png", alt="")
                                                        p.img-txt.pt-2 Mini
                                            .swiper-arrow
                                                .arrow.right-arrowlengthSLider-v2
                                                    span
                                                .arrow.left-arrowlengthSLider-v2
                                                    span
                            .saved-styles__subImages.w-100
                                .swiper-container.js-customSlide-v2
                                    ul.swiper-wrapper                 
                                    .swiper-pagination-bullets.d-flex.justify-content-center.mt-3.mt-md-0

        //- .row.custom-modal-foot
        //-     .col.d-flex.justify-content-center.justify-content-md-end
        //-         a.bttn.bttn__orange.mr-3(type="button", data-dismiss="modal") Proceed with the style
        //-         button.js-btn-save.bttn.bttn__white.ml-1.mr-md-3.mr-xl-0(type="button") Save Style
        .custom-modal-foot.save-btn-foot
            .d-flex.justify-content-center.justify-content-md-end.position-relative
                
                button.js-save-style-item.procced-save-style.bttn.bttn__orange.ml-1.mr-md-3.mr-xl-0(type="button") Save the Style
                .save-item-btns
                    button.mr-md-3.create-more-styles.bttn(type="button") + Create more style
                    button.bttn.bttn__orange.proced-more-style.ml-1.mr-md-3.mr-xl-0(type="button") Proceed with the style