.product-modal.modal.fade.bd-example-modal-lg(tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
  .modal-dialog.modal-lg
    button.close-modal(data-dismiss="modal") &times;
    .modal-content.pt-5
        .model-wrp
            .container.p-0
                .row.model-head.text-center.justify-content-center.m-0
                    .custom-modal-heading
                        h4.model-22 Customize your style with eShakti fx
                        p.prd-sub-txt.px-5 You can customize the garment to your style or shop the style 'as shown'.
                .overflowScroll
                    .row.custom-modal-head
                        .col-lg-5.d-flex.justify-content-center.custom-modal-head__img.order-2.order-md-1
                            .model-img
                                .left-arm
                                    img.img.img-fluid(src="./assets/images/product-listing/parts/left-sleeve.png", alt="")
                                .neck-body
                                    img.img.img-fluid(src="./assets/images/product-listing/parts/neck.png", alt="")
                                .right-arm
                                    img.img.img-fluid(src="./assets/images/product-listing/parts/right-sleeve.png", alt="")
                                .length
                                    img.img.img-fluid(src="./assets/images/product-listing/parts/length.png", alt="")
                            a(href="#").share-style
                                i.icon-share
                                span.txt-gry-12 Share
                        .col-lg-7.custom-modal-head__opt.order-1.order-md-2
                            ul#myTab.nav.d-flex.d-md-none(role='tablist')
                                li.nav-item.mt-2
                                    a#neck-tab.nav-link.style-head.active(data-toggle='tab' href='#neck' role='tab' aria-controls='home' aria-selected='true') Neckline
                                li.nav-item.mt-2
                                    a#sleeve-tab.nav-link.style-head(data-toggle='tab' href='#sleeve' role='tab' aria-controls='profile' aria-selected='false') Sleeve Type
                                li.nav-item.mt-2
                                    a#length-tab.nav-link.style-head(data-toggle='tab' href='#length' role='tab' aria-controls='contact' aria-selected='false') Length
                            #myTabContent.tab-content.custom-style.mt-2.mt-md-0
                                #neck.tab-pane.fade.show.active.style-model-content.neckline
                                    .style-head.pb-md-3.d-none.d-md-block Neckline
                                    .style-contain
                                        label(for="check10" ).img-container.mr-4
                                            input#check10.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png" checked)
                                            .img-wrp.d-flex.justify-content-center.align-item-center
                                                span.style-img.text-center.pt-3.m-auto.img-txt__inner-txt Default
                                            p.img-txt.pt-2 As shown collar style
                                        label(for="check20" ).img-container.mr-4
                                            input#check20.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                            .img-wrp
                                                img.style-img(src="./assets/images/style-img.png", alt="")
                                            p.img-txt.pt-2 Petre Pan
                                        label(for="check30").img-container.mr-4
                                            input#check30.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                            .img-wrp
                                                img.style-img(src="./assets/images/style-img.png", alt="")
                                            p.img-txt.pt-2 Mandarin Collar
                                        label(for="check40").img-container.mr-4
                                            input#check40.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                            .img-wrp
                                                img.style-img(src="./assets/images/style-img.png", alt="")
                                            p.img-txt.pt-2 Round Collar
                                        label(for="check50").img-container.mr-4
                                            input#check50.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                            .img-wrp
                                                img.style-img(src="./assets/images/style-img.png", alt="")
                                            p.img-txt.pt-2 Petre Pan
                                        
                                #sleeve.tab-pane.fade.style-model-content.sleeve
                                    .style-head.pb-md-3.d-none.d-md-block Sleeve Type
                                    .style-contain 
                                        label(for="check60").img-container.mr-4
                                            input#check60.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png" checked)
                                            .img-wrp.d-flex.justify-content-center.align-item-center
                                                span.style-img.text-center.pt-3.m-auto.img-txt__inner-txt Default
                                            p.img-txt.pt-2 As shown  collar style
                                        label(for="check70").img-container.mr-4
                                            input#check70.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                            .img-wrp
                                                img.style-img(src="./assets/images/style-img.png", alt="")
                                            p.img-txt.pt-2 Sleeveless
                                        
                                        label(for="check80").img-container.mr-4
                                            input#check80.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                            .img-wrp
                                                img.style-img(src="./assets/images/style-img.png", alt="")
                                            p.img-txt.pt-2 Elbow Length
                                        label(for="check90").img-container.mr-4
                                            input#check90.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                            .img-wrp
                                                img.style-img(src="./assets/images/style-img.png", alt="")
                                            p.img-txt.pt-2 Bracelet Length
                                        label(for="check100").img-container.mr-4
                                            input#check100.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                            .img-wrp
                                                img.style-img(src="./assets/images/style-img.png", alt="")
                                            p.img-txt.pt-2 Sleeveless
                                        label(for="check101").img-container.mr-4
                                            input#check101.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                            .img-wrp
                                                img.style-img(src="./assets/images/style-img.png", alt="")
                                            p.img-txt.pt-2 Elbow Length
                                        
                                #length.tab-pane.fade.style-model-content.length
                                    .style-head.pb-md-3.d-none.d-md-block Length
                                    .style-contain 
                                        label(for="check102").img-container.mr-4
                                            input#check102.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png" checked)
                                            .img-wrp.d-flex.justify-content-center.align-item-center
                                                span.style-img.text-center.pt-3.m-auto.img-txt__inner-txt Default
                                            p.img-txt.pt-2 As shown collar style
                                        label(for="check103").img-container.mr-4
                                            input#check103.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png") 
                                            .img-wrp
                                                img.style-img(src="./assets/images/style-img.png", alt="")
                                            p.img-txt.pt-2 Mini
                                        label(for="check104").img-container.mr-4
                                            input#check104.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png") 
                                            .img-wrp
                                                img.style-img(src="./assets/images/style-img.png", alt="")
                                            p.img-txt.pt-2 Knee Length
                                        label(for="check105").img-container.mr-4
                                            input#check105.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png") 
                                            .img-wrp
                                                img.style-img(src="./assets/images/style-img.png", alt="")
                                            p.img-txt.pt-2 Below Knee Length
                                        label(for="check106").img-container.mr-4
                                            input#check106.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png") 
                                            .img-wrp
                                                img.style-img(src="./assets/images/style-img.png", alt="")
                                            p.img-txt.pt-2 Mini
                            ul.mt-2.w-100.saved-styles__subImages.d-flex.flex-wrap.justify-content-center.jsustify-content-md-around                 
                 
        .row.custom-modal-foot.save-btn-foot
            .col.d-flex.justify-content-center.justify-content-md-end.position-relative
                
                button.js-save-style-item.procced-save-style.bttn.bttn__orange.ml-1.mr-md-3.mr-xl-0(type="button") Save the Style
                .save-item-btns
                    button.mb-3.mb-md-0.mr-md-3.create-more-styles.bttn(type="button") + Create more style
                    button.bttn.bttn__orange.ml-1.mr-md-3.mr-xl-0(type="button") Proceed with the style
                