.product-modal.modal.fade.bd-example-modal-lg.custom-product-model(tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
  .modal-dialog.modal-lg
    button.close-modal(data-dismiss="modal") &times;
    .modal-content.pt-5.product-custome-content.pb-0
        .model-wrp.js-custom-scroll
            .container.p-0
                .row.model-head.text-center.justify-content-center.m-0
                    .custom-modal-heading
                        h4.model-22 Customize your style with eShakti fx
                        p.prd-sub-txt.px-5 You can customize the garment to your style or shop the style 'as shown'.
                .overflowScroll
                    .row.custom-modal-head
                        .col-lg-4.d-flex.flex-column.justify-content-center.custom-modal-head__img.order-2.order-md-1.position-relative.pt-3.pt-md-0
                            .model-img.mx-auto
                                .left-arm
                                    img.img.img-fluid(src="./assets/images/product-listing/parts/left.png", alt="")
                                .neck-body
                                    img.img.img-fluid(src="./assets/images/product-listing/parts/face.png", alt="")
                                .right-arm
                                    img.img.img-fluid(src="./assets/images/product-listing/parts/right.png", alt="")
                                .length
                                    img.img.img-fluid(src="./assets/images/product-listing/parts/length.png", alt="")
                            a(href="#").share-style.share
                                i.icon-share
                                .tooltip-share
                                    .tooltip-share__item.pinterest.d-flex
                                        i.icon-pinterest.tip-icon
                                        p.prd-sub-txt Pinterest
                                    .tooltip-share__item.facebook.d-flex
                                        i.icon-facebook.tip-icon
                                        p.prd-sub-txt Facebook
                                    .tooltip-share__item.twitter.d-flex
                                        i.icon-twitter.tip-icon
                                        p.prd-sub-txt Twitter
                                span.txt-gry-12 Share
                                
                            p.fnt-11.text-center.pb-2 As Shown - Mandarin collar, Elbow length, Mini 
                            
                        .col-lg-8.custom-modal-head__opt.order-1.order-md-2
                            ul#myTab.nav.d-flex.d-md-none(role='tablist')
                                li.nav-item.mt-2
                                    a#neck-tab.nav-link.style-head.active(data-toggle='tab' href='#neck' role='tab' aria-controls='home' aria-selected='true') Neckline
                                li.nav-item.mt-2
                                    a#sleeve-tab.nav-link.style-head(data-toggle='tab' href='#sleeve' role='tab' aria-controls='profile' aria-selected='false') Sleeve Type
                                li.nav-item.mt-2
                                    a#length-tab.nav-link.style-head(data-toggle='tab' href='#length' role='tab' aria-controls='contact' aria-selected='false') Length
                            #myTabContent.tab-content.custom-style.mt-2.mt-md-3.mt-lg-0
                                #neck.tab-pane.fade.show.active.style-model-content.neckline
                                    .style-head.pb-md-3.d-none.d-md-block Neckline
                                    .style-contain.d-flex
                                        label(for="check1" ).img-container
                                            input#check1.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png" checked)
                                            .img-wrp.d-flex.justify-content-center.align-item-center
                                                span.style-img.text-center.pt-3.m-auto.img-txt__inner-txt Default
                                            p.img-txt.pt-2 As shown collar style
                                        .swiper-container.js-necklineSLider.px-4.px-lg-5
                                            .swiper-wrapper
                                                
                                                label.swiper-slide(for="check2" ).img-container.mr-4
                                                    input#check2.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                                    .img-wrp
                                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                                    p.img-txt.pt-2 Petre Pan
                                                label.swiper-slide(for="check3").img-container.mr-4
                                                    input#check3.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                                    .img-wrp
                                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                                    p.img-txt.pt-2 Mandarin Collar
                                                label.swiper-slide(for="check4").img-container.mr-4
                                                    input#check4.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                                    .img-wrp
                                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                                    p.img-txt.pt-2 Round Collar
                                                label.swiper-slide(for="check5").img-container.mr-4
                                                    input#check5.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                                    .img-wrp
                                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                                    p.img-txt.pt-2 Petre Pan
                                                label.swiper-slide(for="check5").img-container.mr-4
                                                    input#check5.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                                    .img-wrp
                                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                                    p.img-txt.pt-2 Petre Pan
                                                label.swiper-slide(for="check5").img-container.mr-4
                                                    input#check5.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                                    .img-wrp
                                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                                    p.img-txt.pt-2 Petre Pan
                                                label.swiper-slide(for="check5").img-container.mr-4
                                                    input#check5.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                                                    .img-wrp
                                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                                    p.img-txt.pt-2 Petre Pan
                                            .swiper-arrow
                                                .arrow.right-arrow-necklineSLider
                                                    span
                                                .arrow.left-arrow-necklineSLider
                                                    span
                                        
                                #sleeve.tab-pane.fade.style-model-content.sleeve
                                    .style-head.pb-md-3.d-none.d-md-block Sleeve Type
                                    .style-contain.d-flex
                                        label(for="check1" ).img-container
                                            input#check1.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png" checked)
                                            .img-wrp.d-flex.justify-content-center.align-item-center
                                                span.style-img.text-center.pt-3.m-auto.img-txt__inner-txt Default
                                            p.img-txt.pt-2 As shown collar style
                                        

                                        .swiper-container.js-sleeveSLider.px-4.px-lg-5
                                            .swiper-wrapper 
                                    
                                                label.swiper-slide(for="check7").img-container.mr-4
                                                    input#check7.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                                    .img-wrp
                                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                                    p.img-txt.pt-2 Sleeveless
                                                
                                                label.swiper-slide(for="check8").img-container.mr-4
                                                    input#check8.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                                    .img-wrp
                                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                                    p.img-txt.pt-2 Elbow Length
                                                label.swiper-slide(for="check9").img-container.mr-4
                                                    input#check9.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                                    .img-wrp
                                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                                    p.img-txt.pt-2 Bracelet Length
                                                label.swiper-slide(for="check10").img-container.mr-4
                                                    input#check10.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                                    .img-wrp
                                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                                    p.img-txt.pt-2 Sleeveless
                                                label.swiper-slide(for="check11").img-container.mr-4
                                                    input#check11.d-none.style-check(type="radio" name="sleeveType" data-src="./assets/images/women.png") 
                                                    .img-wrp
                                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                                    p.img-txt.pt-2 Elbow Length
                                            .swiper-arrow
                                                .arrow.right-arrow-sleeveSLider
                                                    span
                                                .arrow.left-arrow-sleeveSLider
                                                    span
                                        
                                        
                                #length.tab-pane.fade.style-model-content.length
                                    .style-head.pb-md-3.d-none.d-md-block Length
                                    .style-contain.d-flex
                                        label(for="check1" ).img-container
                                            input#check1.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png" checked)
                                            .img-wrp.d-flex.justify-content-center.align-item-center
                                                span.style-img.text-center.pt-3.m-auto.img-txt__inner-txt Default
                                            p.img-txt.pt-2 As shown collar style
                                        .swiper-container.js-lengthSLider.px-4.px-lg-5 
                                            .swiper-wrapper
                                                label.swiper-slide(for="check13").img-container.mr-4
                                                    input#check13.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png") 
                                                    .img-wrp
                                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                                    p.img-txt.pt-2 Mini
                                                label.swiper-slide(for="check14").img-container.mr-4
                                                    input#check14.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png") 
                                                    .img-wrp
                                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                                    p.img-txt.pt-2 Knee Length
                                                label.swiper-slide(for="check15").img-container.mr-4
                                                    input#check15.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png") 
                                                    .img-wrp
                                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                                    p.img-txt.pt-2 Below Knee Length
                                                label.swiper-slide(for="check16").img-container.mr-4
                                                    input#check16.d-none.style-check(type="radio" name="length" data-src="./assets/images/women.png") 
                                                    .img-wrp
                                                        img.style-img(src="./assets/images/style-img.png", alt="")
                                                    p.img-txt.pt-2 Mini
                                            .swiper-arrow
                                                .arrow.right-arrowlengthSLider
                                                    span
                                                .arrow.left-arrowlengthSLider
                                                    span
                    
                    .container.saveditem-container.mt-3
                        .savedItem
                            p.style-head.pb-md-3.d-none.d-md-block Saved Styles 
                                span (3 items)
                            .dynaic-slide-wrapper.d-flex.flex-column.flex-md-row
                                ul.slide-item-wrp
                                    li.slide-item
                                        .card-wrp
                                            .style-card
                                                img.saved-img(src="./assets/images/women.png", alt="")
                                                
                                
                                            p.fnt-11.pt-2 As shown
                                .swiper-container.js-style-slider.mt-3.mt-md-0
                                    ul.swiper-wrapper
        .custom-modal-foot
            .d-flex.justify-content-center.justify-content-md-end
                a.bttn.bttn__orange.mr-3.js-proceed(href="javascript:void()0;" , data-dismiss="modal") Proceed with the style
                button.js-btn-save.bttn.bttn__white.ml-1.mr-md-3.mr-xl-0(type="button") Save Style
                //- .container.saveditem-container.border-0
                //-     .fixed-btn 
                //-         button.saved-btn.js-btn-save.js-btn-proceed.bttn.bttn__orange(type="button") Proceed with the style
