section.review.pb-2.pb-md-5
    .container
        .row
            .col-12
                span.header-txt Reviews (3)
                img.img-fluid.mt-3(src="./assets/images/review-section.png", alt="")