.row
    .col-md-12.js-product-header
        .products-header.mb-4.px-3
            span.products-header__label showing 133 products
            .products-header__right-info
                .products-filter-view.d-flex
                    span.products-header__label View:
                    a(href="javascript:void(0);").list-view-btn
                        span.rect-box
                        span.rect-box
                    a(href="javascript:void(0);").grid-view-btn
                        span.rect-box
                        span.rect-box
                        span.rect-box
                        span.rect-box
                .filter-sort
                    span.products-header__label Sortby:
        .product-alert.bg-lght-gray.mx-3
            span
                | All displayed products are available with
                span.text-hilght Peter Pan 
                | Necklines.
        ol.js-products.row.list-item.px-3
            li.col-md-6
                //- img.img-fluid(src="./assets/images/product-listing/product1.png" alt="Product1")
                include ../../mixins/product-cards.pug
                +product-card("./assets/images/product-listing/product1.png", "./assets/images/product-listing/product1.png", "Zapelle", "Pleat front cotton", "$39.95")
            li.col-md-6
                +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png", "Elements", "Ruffle flora Print Crepe shift dress", "$39.95")
            li.col-md-6
                +product-card("./assets/images/product-listing/product-3.png", "./assets/images/product-listing/product-3.png",  "Zapelle", "Pleat front cotton", "$39.95")
            li.col-md-6
                +product-card("./assets/images/product-listing/product1.png", "./assets/images/product-listing/product1.png", "Elements", "Ruffle flora Print Crepe shift dress", "$39.95")
            li.col-md-6
                +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png",  "Zapelle", "Pleat front cotton", "$39.95")
            li.col-md-6
                +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png",  "Zapelle", "Pleat front cotton", "$39.95")
            li.col-md-6
                +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png",  "Zapelle", "Pleat front cotton", "$39.95")
            li.col-md-6
                +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png",  "Zapelle", "Pleat front cotton", "$39.95")
            li.col-md-6
                +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png",  "Zapelle", "Pleat front cotton", "$39.95")
        

