.row
    .col-md-12.js-product-header
        .products-header.mb-3.mb-md-4.px-1.px-md-3
            span.products-header__label.mt-4.mt-md-0 Showing 133 products
            .products-header__right-info
                .product-filter-mob.order-1
                    span.products-header__label.mobile-label filter
                .products-filter-view.d-flex.order-3.order-md-2
                    span.products-header__label View:
                    a.view-item(href="javascript:void(0);").list-view-btn.active
                        span.rect-box
                        span.rect-box
                    a.view-item(href="javascript:void(0);").grid-view-btn
                        span.rect-box
                        span.rect-box
                        span.rect-box
                        span.rect-box
                .filter-sort
                    .dropdown.products-header__label
                        span Sortby:
                        button#dLabel.dropdown-select.bttn.bttn__white.p-0.mx-1( style="color: #15171a;" type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | New Arrival
                        span.caret
                        ul.dropdown-menu(aria-labelledby='dLabel')
                            li Best Sellers
                            li Price High to low
                            li Price low to High
                      
            
        .product-alert.bg-lght-gray.mx-3
            span
                | All displayed products are available with
                span.text-hilght Peter Pan 
                | Necklines.
        
        ol.js-products.row.list-item.px-2.px-md-3
            li.col-md-6
                //- img.img-fluid(src="./assets/images/product-listing/product1.png" alt="Product1")
                include ../../mixins/product-cards.pug
                +product-card("./assets/images/product-listing/product1.png", "./assets/images/product-listing/product1.png", "Zapelle", "Pleat front cotton", "$39.95")
            li.col-md-6
                +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png", "Elements", "Ruffle flora Print Crepe shift dress", "$39.95")
            li.col-md-6
                +product-card("./assets/images/product-listing/product-3.png", "./assets/images/product-listing/product-3.png",  "Zapelle", "Pleat front cotton", "$39.95")
            li.col-md-6
                +product-card("./assets/images/product-listing/product1.png", "./assets/images/product-listing/product1.png", "Elements", "Ruffle flora Print Crepe shift dress", "$39.95")
            li.col-md-6
                +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png",  "Zapelle", "Pleat front cotton", "$39.95")
            li.col-md-6
                +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png",  "Zapelle", "Pleat front cotton", "$39.95")
            li.col-md-6
                +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png",  "Zapelle", "Pleat front cotton", "$39.95")
            li.col-md-6
                +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png",  "Zapelle", "Pleat front cotton", "$39.95")
            li.col-md-6
                +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png",  "Zapelle", "Pleat front cotton", "$39.95")
        

