.row
    .col-md-12.js-product-header
        .products-header.mb-2.mb-md-4.px-1.px-md-3
            span.products-header__label.mt-3.mb-2.mt-md-0 Showing 133 products
            .products-header__right-info
                .product-filter-mob.order-1
                    img(src="./assets/images/product-listing/filter.svg" alt="Filters Icon")
                    span.products-header__label.mobile-label filter
                .products-filter-view.d-flex.order-3.order-md-2
                    span.products-header__label View:
                    a.view-item(href="javascript:void(0);").list-view-btn.active
                        span.rect-box
                        span.rect-box
                    a.view-item(href="javascript:void(0);").grid-view-btn
                        span.rect-box
                        span.rect-box
                        span.rect-box
                        span.rect-box
                //- .filter-sort.order-2.order-md-3
                //-     img.d-inline-block.d-md-none(src="./assets/images/product-listing/sort.svg" alt="Sort Icon")
                //-     span.products-header__label.mobile-label Sortby:
                
                // Sortby
                .filter-sort.order-2.order-md-3
                    img.d-inline-block.d-md-none(src="./assets/images/product-listing/sort.svg" alt="Sort Icon")
                    span.products-header__label.mobile-label Sortby:
                    .dropdown.products-header__label.d-md-inline-block.dropdown-sort
                        button#dLabel.dropdown-select.bttn.bttn__white.p-0.mx-1(style="color: #15171a;" type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | New Arrival
                        span.caret
                        .btn-close.btn-close-sort
                            img(src="./assets/images/product-listing/close.svg" alt="close button")
                        ul.dropdown-menu.mt-3.mt-md-0(aria-labelledby='dLabel')
                            li Best Sellers
                            li Price High to low
                            li Price low to High
            
        .product-alert.bg-lght-gray.mx-3
            span
                | All displayed products are available with
                span.text-hilght Peter Pan 
                | Necklines.
        
        ol.js-products.row.list-item.px-2.px-md-3
            li.col-md-6.js-loading-card.active
                //- img.img-fluid(src="./assets/images/product-listing/product1.png" alt="Product1")
                include ../../mixins/product-cards.pug
                +product-card("./assets/images/product-listing/product1.png", "./assets/images/product-listing/product1.png", "Zapelle", "Pleat front cotton", "$39.95")
            li.col-md-6.js-loading-card
                +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png", "Elements", "Ruffle flora Print Crepe shift dress", "$39.95")
            li.col-md-6.js-loading-card
                +product-card("./assets/images/product-listing/product-3.png", "./assets/images/product-listing/product-3.png",  "Zapelle", "Pleat front cotton", "$39.95")
            li.col-md-6.js-loading-card
                +product-card("./assets/images/product-listing/product1.png", "./assets/images/product-listing/product1.png", "Elements", "Ruffle flora Print Crepe shift dress", "$39.95")
            li.col-md-6.js-loading-card
                +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png",  "Zapelle", "Pleat front cotton", "$39.95")
            li.col-md-6.js-loading-card
                +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png",  "Zapelle", "Pleat front cotton", "$39.95")
            li.col-md-6.js-loading-card
                +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png",  "Zapelle", "Pleat front cotton", "$39.95")
            li.col-md-6.js-loading-card
                +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png",  "Zapelle", "Pleat front cotton", "$39.95")
            li.col-md-6.js-loading-card
                +product-card("./assets/images/product-listing/product-2.png", "./assets/images/product-listing/product-2.png",  "Zapelle", "Pleat front cotton", "$39.95")
        

            li.col-md-6.js-loading-card
                +product-card("./assets/images/product-listing/product-4.png", "./assets/images/product-listing/product-4.png", "Elements", "Ruffle flora Print Crepe shift dress", "$39.95")
            li.col-md-6.js-loading-card
                +product-card("./assets/images/product-listing/product-5.png", "./assets/images/product-listing/product-5.png",  "Zapelle", "Pleat front cotton", "$39.95")
            
            li.col-md-6.js-loading-card
                +product-card("./assets/images/product-listing/product-6.png", "./assets/images/product-listing/product-6.png", "Elements", "Ruffle flora Print Crepe shift dress", "$39.95")
            li.col-md-6.js-loading-card
                +product-card("./assets/images/product-listing/product-7.png", "./assets/images/product-listing/product-7.png",  "Zapelle", "Pleat front cotton", "$39.95")

            li.col-md-6.js-loading-card
                +product-card("./assets/images/product-listing/product-8.png", "./assets/images/product-listing/product-8.png",  "Zapelle", "Pleat front cotton", "$39.95")
            