aside.side-filter.d-md-block.side-filter-sticky
    .btn-close
        img(src="./assets/images/product-listing/close.svg" alt="close button")
    h6.filter-title Filter Products by
    #accordion.mb-filter-wrapper.mt-4
        //START: COLORS
        .panel-card
            .panel-cardtitle.panel-clear-container.active
                span COLOR
                a(href="javascript:void(0);").clear-color clear
            .accordion-content.py-1
                ul.color-list
                    li.color-list__item.active
                        span.color-circle.gray
                    li.color-list__item
                        span.color-circle.blue
                    li.color-list__item
                        span.color-circle.black
                    li.color-list__item
                        span.color-circle.ecc
                    li.color-list__item
                        span.color-circle.gray-lght
                    li.color-list__item
                        span.color-circle.violt
                    li.color-list__item
                        span.color-circle.gold
                    li.color-list__item
                        span.color-circle.thick-vilot
        
        // START: FABRIC
        .panel-card
            .panel-cardtitle fabric
            .accordion-content.pb-1
                label.label-container
                    | Cotton Spandex
                    input(type="checkbox" checked="checked")
                    span.checkmark
                label.label-container
                    | Cotton
                    input(type="checkbox")
                    span.checkmark
                label.label-container
                    | Polyester Crepe de Chine
                    input(type="checkbox")
                    span.checkmark
                label.label-container
                    | Polyester
                    input(type="checkbox")
                    span.checkmark
                label.label-container
                    | Rayon
                    input(type="checkbox")
                    span.checkmark
                label.label-container
                    | Wool Arcylic Polyester
                    input(type="checkbox")
                    span.checkmark
        
        //START: PRICE
        .panel-card
            .panel-cardtitle Price
            .accordion-content.py-1
                label.label-container
                    | $50 - $80
                    input(type="checkbox" checked="checked")
                    span.checkmark
                label.label-container
                    | $50 - $80
                    input(type="checkbox")
                    span.checkmark
                label.label-container
                    | Above $100
                    input(type="checkbox")
                    span.checkmark
        
        //START: NECKLINE
        .panel-card
            .panel-cardtitle.panel-clear-container
                span Neckline
                a(href="javascript:void(0);").clear-select clear
            .accordion-content.py-1
                .d-flex
                    .neck-wrapper
                        input#check2.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                        label(for="check2" ).img-wrp
                            img.img50x50(src="./assets/images/style-img.png", alt="")
                            span.neck-type Petre Pan
                    .neck-wrapper
                        input#check3.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                        label(for="check3" ).img-wrp
                            img.img50x50(src="./assets/images/style-img.png", alt="")
                            span.neck-type Mandarin collar
                    .neck-wrapper
                        input#check4.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                        label(for="check4" ).img-wrp
                            img.img50x50(src="./assets/images/style-img.png", alt="")
                            span.neck-type Round Collar
        
        .panel-card
            .panel-cardtitle Sleevetype
            .accordion-content
        .panel-card
            .panel-cardtitle Length
            .accordion-content
        .panel-card
            .panel-cardtitle Styles
            .accordion-content
        .panel-card
            .panel-cardtitle Brand
            .accordion-content
        .panel-card
            .panel-cardtitle occasion
            .accordion-content
        .panel-card
            .panel-cardtitle Pattern
            .accordion-content
        .panel-card
            .panel-cardtitle category
            .accordion-content 