aside.side-filter.d-md-block.side-filter-sticky
    .sticky-inner-container
        .btn-close
            img(src="./assets/images/product-listing/close.svg" alt="close button")
        h6.filter-title Filter Products by
        #accordion.mb-filter-wrapper.mt-4
            //START: COLORS
            .panel-card
                .panel-cardtitle.panel-clear-container.active
                    span COLOR
                    a(href="javascript:void(0);").clear-color.js-check-clear.active clear
                .accordion-content
                    .color-container
                        label.label-container.color-list-item
                            input(type="checkbox" name="selectPlant" value="a" checked)
                            span.checkmark.checkmark--circle.gray
                                .checkborder
                        label.label-container.color-list-item
                            input(type="checkbox" name="selectPlant" value="a")
                            span.checkmark.checkmark--circle.blue
                                .checkborder
                        label.label-container.color-list-item
                            input(type="checkbox" name="selectPlant" value="a")
                            span.checkmark.checkmark--circle.black
                                .checkborder
                        label.label-container.color-list-item
                            input(type="checkbox" name="selectPlant" value="a")
                            span.checkmark.checkmark--circle.ecc
                                .checkborder
                        label.label-container.color-list-item
                            input(type="checkbox" name="selectPlant" value="a")
                            span.checkmark.checkmark--circle.gray-lght
                                .checkborder
                        label.label-container.color-list-item
                            input(type="checkbox" name="selectPlant" value="a")
                            span.checkmark.checkmark--circle.violt
                                .checkborder
                        label.label-container.color-list-item
                            input(type="checkbox" name="selectPlant" value="a")
                            span.checkmark.checkmark--circle.gold
                                .checkborder
                        label.label-container.color-list-item
                            input(type="checkbox" name="selectPlant" value="a")
                            span.checkmark.checkmark--circle.thick-vilot
                                .checkborder
                        //- li.color-list__item.active
                        //-     span.color-circle.gray
                        //- li.color-list__item
                        //-     span.color-circle.blue
                        //- li.color-list__item
                        //-     span.color-circle.black
                        //- li.color-list__item
                        //-     span.color-circle.ecc
                        //- li.color-list__item
                        //-     span.color-circle.gray-lght
                        //- li.color-list__item
                        //-     span.color-circle.violt
                        //- li.color-list__item
                        //-     span.color-circle.gold
                        //- li.color-list__item
                        //-     span.color-circle.thick-vilot
            
            // START: FABRIC
            .panel-card
                .panel-cardtitle.panel-clear-container
                    span fabric
                    a.clear-color.js-check-clear(href="javascript:void(0);") clear
                .accordion-content.pb-1
                    label.label-container.label-container--check
                        | Cotton Spandex
                        input(type="checkbox" name="selectPlant" value="a")
                        span.checkmark
                    label.label-container.label-container--check
                        | Cotton
                        input(type="checkbox" name="selectPlant" value="a")
                        span.checkmark
                    label.label-container.label-container--check
                        | Polyester Crepe de Chine
                        input(type="checkbox" name="selectPlant" value="a")
                        span.checkmark
                    label.label-container.label-container--check
                        | Polyester
                        input(type="checkbox" name="selectPlant" value="a")
                        span.checkmark
                    label.label-container.label-container--check
                        | Rayon
                        input(type="checkbox" name="selectPlant" value="a")
                        span.checkmark
                    label.label-container.label-container--check
                        | Wool Arcylic Polyester
                        input(type="checkbox" name="selectPlant" value="a")
                        span.checkmark
            
            //START: PRICE
            .panel-card
                .panel-cardtitle.panel-clear-container
                    span Price
                    a.clear-color.js-check-clear(href="javascript:void(0);") clear
                .accordion-content.py-1
                    label.label-container.label-container--check
                        | $50 - $80
                        input(type="checkbox" name="selectPlant" value="a")
                        span.checkmark
                    label.label-container.label-container--check
                        | $50 - $80
                        input(type="checkbox" name="selectPlant" value="a")
                        span.checkmark
                    label.label-container.label-container--check
                        | Above $100
                        input(type="checkbox" name="selectPlant" value="a")
                        span.checkmark
            
            //START: NECKLINE
            .panel-card
                .panel-cardtitle.panel-clear-container
                    span Neckline
                    a(href="javascript:void(0);").clear-color.js-check-clear clear
                .accordion-content.py-1
                    .d-flex.neck-container
                        .neck-wrapper
                            input#check1.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                            label(for="check1" ).img-wrp
                                img.img50x50.style-img(src="./assets/images/style-img.png", alt="")
                                span.neck-type Petre Pan
                        .neck-wrapper
                            input#check2.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                            label(for="check2" ).img-wrp
                                img.img50x50.style-img(src="./assets/images/style-img.png", alt="")
                                span.neck-type Mandarin collar
                        .neck-wrapper
                            input#check3.d-none.style-check(type="radio" name="neckline" data-src="./assets/images/women.png") 
                            label(for="check3" ).img-wrp
                                img.img50x50.style-img(src="./assets/images/style-img.png", alt="")
                                span.neck-type Round Collar
            
            .panel-card
                .panel-cardtitle Sleevetype
                .accordion-content
            .panel-card
                .panel-cardtitle Length
                .accordion-content
            .panel-card
                .panel-cardtitle Styles
                .accordion-content
            .panel-card
                .panel-cardtitle Brand
                .accordion-content
            .panel-card
                .panel-cardtitle occasion
                .accordion-content
            .panel-card
                .panel-cardtitle Pattern
                .accordion-content
            .panel-card
                .panel-cardtitle category
                .accordion-content

    // Apply filters
    .filter-bottom-fixed.d-block.d-md-none
        a.px-5.btn.btn--danger(href="#") apply filter