aside
    h6.filter-title Filter Products by
    #accordion.mt-4
        .panel-card
            .panel-cardtitle.active COLOR
            .accordion-content.pb-1
                ul.color-list
                    li.color-list__item
                        span.color-circle.gray
                    li.color-list__item
                        span.color-circle.blue
                    li.color-list__item
                        span.color-circle.black
                    li.color-list__item
                        span.color-circle.ecc
                    li.color-list__item
                        span.color-circle.gray-lght
                    li.color-list__item
                        span.color-circle.violt
                    li.color-list__item
                        span.color-circle.gold
                    li.color-list__item
                        span.color-circle.thick-vilot

        .panel-card
            .panel-cardtitle fabric
            .accordion-content.pb-1
                label.label-container
                    | Cotton Spandex
                    input(type="checkbox" checked="checked")
                    span.checkmark
                label.label-container
                    | Cotton
                    input(type="checkbox")
                    span.checkmark
                label.label-container
                    | Polyester Crepe de Chine
                    input(type="checkbox")
                    span.checkmark
                label.label-container
                    | Polyester
                    input(type="checkbox")
                    span.checkmark
                label.label-container
                    | Rayon
                    input(type="checkbox")
                    span.checkmark
                label.label-container
                    | Wool Arcylic Polyester
                    input(type="checkbox")
                    span.checkmark
        .panel-card
            .panel-cardtitle Price
            .accordion-content
                label.label-container
                    | $50 - $80
                    input(type="checkbox" checked="checked")
                    span.checkmark
                label.label-container
                    | $50 - $80
                    input(type="checkbox")
                    span.checkmark
                label.label-container
                    | Above $100
                    input(type="checkbox")
                    span.checkmark
        .panel-card
            .panel-cardtitle Neckline
            .accordion-content 
        .panel-card
            .panel-cardtitle Sleevetype
            .accordion-content
        .panel-card
            .panel-cardtitle Length
            .accordion-content
        .panel-card
            .panel-cardtitle Styles
            .accordion-content
        .panel-card
            .panel-cardtitle Brand
            .accordion-content
        .panel-card
            .panel-cardtitle occasion
            .accordion-content
        .panel-card
            .panel-cardtitle Pattern
            .accordion-content
        .panel-card
            .panel-cardtitle category
            .accordion-content 