aside
    h6.filter-title Filter Products by
    #accordion.mt-4
        .panel-card
            .panel-cardtitle.active COLOR
            .accordion-content
                ul.color-list
                    li.color-list__item
                        span.color-circle.gray
                    li.color-list__item
                        span.color-circle.blue
                    li.color-list__item
                        span.color-circle.black
                    li.color-list__item
                        span.color-circle.ecc
                    li.color-list__item
                        span.color-circle.gray-lght
                    li.color-list__item
                        span.color-circle.violt
                    li.color-list__item
                        span.color-circle.gold
                    li.color-list__item
                        span.color-circle.thick-vilot

        .panel-card
            .panel-cardtitle fabric
            .accordion-content
        .panel-card
            .panel-cardtitle Price
            .accordion-content
        .panel-card
            .panel-cardtitle Neckline
            .accordion-content 
        .panel-card
            .panel-cardtitle Sleevetype
            .accordion-content
        .panel-card
            .panel-cardtitle Length
            .accordion-content
        .panel-card
            .panel-cardtitle Styles
            .accordion-content
        .panel-card
            .panel-cardtitle Brand
            .accordion-content
        .panel-card
            .panel-cardtitle occasion
            .accordion-content
        .panel-card
            .panel-cardtitle Pattern
            .accordion-content
        .panel-card
            .panel-cardtitle category
            .accordion-content 