.modal.fade.size-modal.js-size-measure-modal-wrp(tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
  .modal-dialog.modal-sm.size-modal-dialog
    button.close-modal(data-dismiss="modal") &times;
    .modal-content.js-measure-content.measure-dialog
        .container.p-0
            .row.model-head
                .col-12.measure-card.pt-0
                    //- h4.head-text How to Measure?
                    p.head-text How to Measure?
                    .size-info-wrp.d-flex.flex-column.flex-md-row.mt-3
                        .img-wrp
                            img.img-fluid(src="./assets/images/product-listing/product-card/size-img.png", alt="size")
                        .info-wrp.pl-md-4.ml-md-2.pt-4.pt-md-0
                            h5 Chest 
                            p.sub-text Measure all the way around your torso immediately above your bust.
                .col-12.measure-card
                    //- h4.head-text How to Measure?
                    p.head-text How to Measure?
                    .size-info-wrp.d-flex.flex-column.flex-md-row.mt-3
                        .img-wrp
                            img.img-fluid(src="./assets/images/product-listing/product-card/size-img.png", alt="size")
                        .info-wrp.pl-md-4.ml-md-2.pt-4.pt-md-0
                            h5 Chest 
                            p.sub-text Measure all the way around your torso immediately above your bust.