.size-profile.mb-5.old-address
    h4.header-txt Size Profile 
    ul#myTab.nav.size-nav.mt-3.mt-md-4(role='tablist')
        li.nav-item
            a#steffy-tab.nav-link.size-tab.active(data-toggle='tab' href='#steffy' role='tab' aria-controls='home' aria-selected='true') Steffy
        li.nav-item
            a#tiffny-tab.nav-link.size-tab(data-toggle='tab' href='#tiffny' role='tab' aria-controls='profile' aria-selected='false') Tiffany
                                
    #myTabContent.tab-content.size-tab-content
        #steffy.tab-pane.fade.show.active
            .row.size-row
                .col-md-6
                    ul.row
                        li.col-6
                            p Shoulder - 20
                        li.col-6
                            p Chest - 36
                        li.col-6
                            p Waist - 75
                        li.col-6
                            p Wearing Waist - 75
                        li.col-6
                            p Upperarm - 25
                        li.col-6
                            p Inseam - 25
                .col-md-6
                    ul.row
                        li.col-6
                            p Bust - 35
                        li.col-6
                            p Underbust - 34
                        li.col-6 
                            p Hip - 36
                        li.col-6
                            p Thigh - 25
                        li.col-6 
                            p Outseam - 25
                        li.col-6
                            p Total Rise - 25
            h4 Hips point shoulder to
            .row
                .col-md-6
                    ul.row
                        li.col-6
                            p Shoulder - 20
                        li.col-6
                            p Chest - 36
                        li.col-6
                            p Waist - 75
                        li.col-6
                            p Wearing Waist - 75
                        li.col-6
                            p Upperarm - 25
                        li.col-6
                            p Inseam - 25
                .col-md-6
                    ul.row
                        li.col-12
                            p Bust - 35
                        li.col-md-12
                            p Underbust - 34
                        li.col-md-12
                            p Hip - 36
            .edit-wrp.mt-3
                    a.edit-txt.mr-2.mr-md-3(href="") 
                        i.icon-edit
                        span.pl-1 Edit Address
                    a.edit-txt.ml-2.ml-md-3(href="") 
                        i.icon-delete 
                        span Delete
                        
            //- ul.col-md-4
            //-     li Shoulder - 20
            //-     li Shoulder - 20
            //-     li Shoulder - 20
            //-     li Shoulder - 20
        #tiffny.tab-pane.fade
            .row.size-row
                .col-lg-6
                    ul.row
                        li.col-6
                            p Shoulder - 20
                        li.col-6
                            p Chest - 36
                        li.col-6
                            p Waist - 75
                        li.col-6
                            p Wearing Waist - 75
                        li.col-6
                            p Upperarm - 25
                        li.col-6
                            p Inseam - 25
                .col-lg-6
                    ul.row
                        li.col-6
                            p Bust - 35
                        li.col-6
                            p Underbust - 34
                        li.col-6 
                            p Hip - 36
                        li.col-6
                            p Thigh - 25
                        li.col-6 
                            p Outseam - 25
                        li.col-6
                            p Total Rise - 25
            h4 Hips point shoulder to
            .row
                .col-lg-6
                    ul.row
                        li.col-6
                            p Shoulder - 20
                        li.col-6
                            p Chest - 36
                        li.col-6
                            p Waist - 75
                        li.col-6
                            p Wearing Waist - 75
                        li.col-6
                            p Upperarm - 25
                        li.col-6
                            p Inseam - 25
                .col-lg-6
                    ul.row
                        li.col-12
                            p Bust - 35
                        li.col-md-12
                            p Underbust - 34
                        li.col-md-12
                            p Hip - 36
            .edit-wrp.mt-3
                    a.edit-txt.mr-2.mr-md-3(href="") 
                        i.icon-edit
                        span.pl-1 Edit Address
                    a.edit-txt.ml-2.ml-md-3(href="") 
                        i.icon-delete 
                        span Delete
    button.btn-text.mt-3.mt-md-4.py-2.px-3(type="button") + New Address