.accounts-contain
    .container.d-lg-flex.justify-content-end.position-relative
        include ../accounts/left-panel.pug
        +leftpanel('size')

        .address-management-rigt
            include ./account-size.pug
            include manage-size.pug