.products-header {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    width: 100%;
    transition: all 0.7s ease-in-out !important;

    @include bpmax("phone") {
        flex-direction: column-reverse;
    }
    &__label {
        @extend .fnt-xs;
        color: rgba($color: $card-title, $alpha: .7);
    }
    &__right-info {
        display: flex;
        position: relative;
      

        @include bpmax("phone") {
            padding-top: .8rem;
            padding-bottom: .8rem;
            justify-content: space-between;
            &::before, &::after {
                content: "";
                position: absolute;
                height: 1px;
                background: #e4e6e7;
                width: calc(100% + 2.4rem);
                left: -1.2rem;
                right: 0;
            }

            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
        }
    }
}

// only mobile

.product-filter-mob {
    display: none;
    @include bpmax("phone-lg") {
        display: block;
    }
}

.mobile-label {
    @include bpmax("phone-lg") {
        font-weight: 600;
        color: $black;
        letter-spacing: $letter-spacing03;
        text-transform: uppercase;
        margin-left: .3rem;
    } 
}

.filter-sort {
    @include bpmax("phone-lg") {
        position: relative;
        text-align: center;
    }
}

.filter-sort, .product-filter-mob {
    @include bpmax("phone-lg") {
        position: relative;
        padding-right: 1.5rem;
        margin-right: 1.5rem;
        width: 33.3%;
        &::after {
            content: "";
            position: absolute;
            height: 16px;
            width: 1px;
            background: #b5b5b5;
            top: 50%;
            transform: translateY(-50%);
        }
        &::after {
            right: 0;
        }
    }
}

// only Mobile end

.products-filter-view {
    position: relative;
    @include bpmax("phone-lg") {
        align-items: center;
        width: 33.3%;
    }
    @include bp("tab") {
        padding-right: .8rem;
        margin-right: .8rem;
        &::after {
            content: "";
            position: absolute;
            right: 0;
            height: 16px;
            width: 1px;
            background: #b5b5b5;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

// Grid and list-view styles info

.list-view-btn {
    margin: 0 .4rem;
    // Mobile Design
    @include bpmax("phone-lg") {
        .rect-box {
            &:nth-last-child(-n+1) {
                display: none;
            } 
        }
    }
}

.grid-view-btn {
    @include bpmax("phone-lg") {
        .rect-box {
            &:nth-last-child(-n+2) {
                display: none;
            } 
        }
    }
}

.grid-item li {
    width: 50%;
    flex: 0 0 50%;
    @include bp("tab") {
        width: 33.3%;
        flex: 0 0 33.3%;
    }
    @include bp("desktop") {
        width: 25.3%;
        flex: 0 0 25%;
    }
    /** mobile card-tag **/
    .card-tag{
        @include bpmax("phone-lg") {
            height: 27px;
            width: 27px;
            top: .6rem;
            left: .6rem;
            font-size: 9px;
            line-height: 18px;
        }
    }
}

.js-products li{
    margin-bottom: 1rem;
    @include bpmax("phone-lg") {
        padding: 0 .5rem;
    }
    @include bp("tab") {
        margin-bottom: 1.8rem;
    }
}

.rect-box {
    height: 15px;
    width: 12px;
    border: 1px solid $black;
    display: inline-block;
    margin-right: .09rem;
    @include bp("tab") {
        height: 8px;
        width: 4px;
    }
}

.view-item{
    &.active {
        transition: all .6s ease;
        .rect-box {
            background: $black;
        } 
    }
}

// Product-listing cards

.product-card {
    position: relative;
    &__view {
        position: relative;
        overflow: hidden;
    }
    &__body {
        padding-top: 1rem;
        padding-bottom: .8rem;
        padding-left: .2rem;
        display: flex;
        justify-content: space-between;
        .share {
            position: relative;
            margin-right: 15px;
           i{
            font-size: 18px !important;
           }
            .tooltip {
                padding: 14px 22px;
            }
        }
    }
    &__customize {
        position: absolute;
        left: 50%;
        opacity: 0;
        transition: all .3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, .9);
        // transform: translateX(-50%);
        padding: .5rem 2rem;
        transform: translate(-50%, -0px);
        @extend .fnt-sm;
        text-transform: uppercase;
        white-space: nowrap;
        color: $title-black;
    }
    .img-scale {
        transition: all .6s ease;
        transform: scale(1);
    }

    &:hover, &:focus {
        @include bp("tab") {
            .product-card__customize{
                transform: translate(-50%, -60px);
                opacity: 1;
            }
            .img-scale {
                transform: scale(1.1);
            }
        }
    }
}

.product-conatct {
    padding-top: .2rem;
    i{
        font-size: 16px;
        color: rgba(11, 10, 10, .5);
    }
}

// grid-view mobile changes

.product-card__customize {
    @include bpmax("phone-lg") {
        transform: translate(-50%, -60px);
        opacity: 1 !important;
        .img-scale {
            transform: scale(1.1);
        }
    }
}

.grid-item {
    .product-card__customize {
        @include bpmax("phone-lg") {
            padding: 0;
            left: auto;
            right: 0.5rem;
            height: 27px;
            width: 27px;
            border-radius: 50%;
            transform: translate(0%, -35px) !important;
            span {
                display: none;
            }
            img {
                height: 11px;
                width: 11px;
            }
        }
    }
}

.product-info {
    padding-right: 1rem;
}

.card-tag {
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background: $card-tag;
    top: 1rem;
    left: 1rem;
    @extend .fnt-xs;
    color: $title-black;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.product-name {
    font-size: 12px;
    line-height: 24px;
    display: block;
    color: $title-black;
    letter-spacing: $letter-spacing02;
}

.product-type {
    @extend .fnt-xs;
    display: block;
    color: #1a1b1d;
    letter-spacing: $letter-spacing01;
}

.product-cost {
    @extend .fnt-sm;
    font-weight: 600;
    color: $bnr-red;
    margin-top: .2rem;
    display: inline-block;
}


// Lazyloading on scroll images

// .js-loading-card {
//     opacity: 0;
//     transition: all 1.5s ease-in-out !important;

//     &.active {
//         opacity: 1;
//     }

//     &__img {
//         min-height: 100px;
//         transition: all .9s ease-in-out !important;
    
//         @media (min-width: 768px) {
//             min-height: 200px;
//         }
//     }
// }

// Product filters-side sticky

.side-filter-sticky {
    width:255px;
    max-width: 100%;
    background: $white;
    z-index: 1;
    // transition: .8 ease all;
    @include bp("tab") {
        width: 150px;
    }
    @include bp("tab-lg") {
        width: 210px;
    }
    @include bp("desktop-1200") {
        width: 255px;
    }
}

.sticky-block {
    @include bpmax("phone-lg") {
        position: sticky;
        top: 0;
        z-index: 998;
    }
}

.sticky-left {
    @include bpmax("phone-lg") {
        position: sticky;
        top: 0;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .sticky-left {
        position: fixed;
        top: 0;
    }
}