.products-header {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    width: 100%;
    transition: all 0.7s ease-in-out !important;

    @media (max-width: 767px) {
        position: sticky;
        top: 0;
        z-index: 998;
    }

    @include bpmax("phone") {
        flex-direction: column-reverse;
    }
    &__label {
        @extend .fnt-xs;
        color: rgba($color: $card-title, $alpha: .7);
        .dropdown-select, .caret {
            @include bpmax("phone-lg") {
                display: none;
            }
        }
    }
    &__right-info {
        display: flex;
        position: relative;
      

        @include bpmax("phone") {
            padding-top: .8rem;
            padding-bottom: .8rem;
            justify-content: space-between;
            &::before, &::after {
                content: "";
                position: absolute;
                height: 1px;
                background: #e4e6e7;
                width: calc(100% + 2.4rem);
                left: -1.2rem;
                right: 0;
            }

            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
        }
    }
}

// only mobile

.product-filter-mob {
    display: none;
    @include bpmax("phone-lg") {
        display: block;
    }
}

.mobile-label {
    @include bpmax("phone-lg") {
        font-weight: 600;
        color: $black;
        letter-spacing: $letter-spacing03;
        text-transform: uppercase;
        margin-left: .3rem;
    } 
}


// Sort by filter Both Mobile and Desktop

.filter-sort {
    position: relative;
    @include bpmax("phone-lg") {
        text-align: center;
    }
    #dLabel {
      border-radius: 4px;
      background-color: #fff;
      text-align: left;
      color: #ccc;
      border: 0;
      cursor: pointer;
    }
    .caret {
        @include bp("tab") {
            float: right;
            margin-top: 9px;
            display: block;
            margin-left: 2px;
            vertical-align: middle;
            border-top: 4px dashed;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
    }
    .dropdown-menu {
        margin: 0;
        border: none;
        //   min-width: auto !important;
        right: 0;
        @include bp("tab") {
            text-align: end;
            box-shadow: 0 1px 7px rgba(0, 0, 0, 0.09);
            min-width: 8.5rem !important;
            padding: 0;
            left: initial !important;
            transform: translate3d(15px, 22px, 0px) !important;
            padding: .3rem .8rem;
        }
    }
    .dropdown button {
        &:hover, &:focus {
            outline: 0;
            border: none;
        }
    }
    .dropdown.open button#dLabel {
        border: solid 1px #666;
        border-bottom: none;
    }
    .dropdown.open ul {
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.09);
        background-color: #ffffff;
        border: none;
    }
    .dropdown-menu li {
        color: #3f4145 ;
        font-size: 14px ;
        line-height: 24px;
        cursor: pointer;
        display: inline-block;
        border: none;
        transition: all 0.3s ease;
        @include bp("tab") {
            padding: 5px 0;
            font-weight: 400;
            font-size: 13px ;
            line-height: 23px;
            border-bottom: 1px solid transparent;
            &:hover {
                // background-color: #ccc;
                border-bottom: 1px solid $black;
            }
        }
    }
    .btn-close {
       display: none;
    }
    // ONLY FOR MOBILE
    @include bpmax("phone-lg") {
        .dropdown{
            display: block;
            position: fixed;
            top: 0;
            height: 40%;
            width: 100%;
            text-align: left;
            padding: 1.5rem 1.5rem;
            border-radius: 0;
            z-index: 10000;
            background: $white;
            left: 0;
            right: 0;
            transform: translateY(-100%);
            transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
            .dropdown-menu {
                position: relative !important;
                display: block;
                width: 100%;
                background: transparent;
                top: 0;
                li {
                    border-bottom: 1px solid #e4e6e7;
                    padding: {
                        top: .8rem;
                        bottom: .8rem;
                    }
                }
            }
            &.active{
                transform: translateY(0%);
            }
            .btn-close {
               display: block;
            }
        }
    }
}

// sorty by popup and overlay
@include bpmax("phone-lg") {
    .overlay-show{
        position: fixed;
        background: rgba(0, 0, 0, .8);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        transition: all 0.3s cubic-bezier(.4,0,.2,1);
    }
    .scroll {
        overflow: hidden;
    }
}

.filter-sort, .product-filter-mob {
    @include bpmax("phone-lg") {
        position: relative;
        padding-right: 1.5rem;
        margin-right: 1.5rem;
        width: 33.3%;
        &::after {
            content: "";
            position: absolute;
            height: 16px;
            width: 1px;
            background: #b5b5b5;
            top: 50%;
            transform: translateY(-50%);
        }
        &::after {
            right: 0;
        }
    }
}

// only Mobile end

.products-filter-view {
    position: relative;
    @include bpmax("phone-lg") {
        align-items: center;
        width: 33.3%;
    }
    @include bp("tab") {
        padding-right: .8rem;
        margin-right: .8rem;
        &::after {
            content: "";
            position: absolute;
            right: 0;
            height: 16px;
            width: 1px;
            background: #b5b5b5;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

// Grid and list-view styles info

.list-view-btn {
    margin: 0 .4rem;
    // Mobile Design
    @include bpmax("phone-lg") {
        .rect-box {
            &:nth-last-child(-n+1) {
                display: none;
            } 
        }
    }
}

.grid-view-btn {
    @include bpmax("phone-lg") {
        .rect-box {
            &:nth-last-child(-n+2) {
                display: none;
            } 
        }
    }
}

// .grid-item li {
//     width: 50%;
//     flex: 0 0 50%;
//     @include bp("tab") {
//         width: 33.3%;
//         flex: 0 0 33.3%;
//     }
//     @include bp("tab-lg") {
//         width: 25.3%;
//         flex: 0 0 25%;
//     }
// }

.grid-item {
    margin-left: -10px;
    margin-right: -10px;

    li {
        max-width: 50%;
        flex: 0 0 50%;
        padding-left: 10px;
        padding-right: 10px;
    
        @include bp("tab") {
            max-width: 33.3%;
            flex: 0 0 33.3%;
        }
        @include bp("desktop-1200") {
            max-width: 25%;
            flex: 0 0 25%;
        }
        /** mobile card-tag **/
        .card-tag{
            @include bpmax("phone-lg") {
                height: 27px;
                width: 27px;
                top: .6rem;
                left: .6rem;
                font-size: 9px;
                line-height: 18px;
            }
        }
    }
}

.js-products li{
    margin-bottom: 1rem;
    transition: all .4s ease-in-out;
    @include bpmax("phone-lg") {
        padding: 0 .5rem;
    }
    @include bp("tab") {
        margin-bottom: 1.8rem;
    }
}

.rect-box {
    height: 15px;
    width: 12px;
    border: 1px solid $black;
    display: inline-block;
    margin-right: .09rem;
    @include bp("tab") {
        height: 8px;
        width: 4px;
    }
}

.view-item{
    &.active {
        transition: all .6s ease;
        .rect-box {
            background: $black;
        } 
    }
}

// Product-listing cards

.product-card {
    position: relative;
    width: 100%;

    &__view {
        position: relative;
        overflow: hidden;
    }
    &__body {
        padding-top: 1rem;
        padding-bottom: .8rem;
        padding-left: .2rem;
        display: flex;
        justify-content: space-between;
        .share {
            cursor: pointer;
            position: relative;
            margin-right: 15px;
           i{
            font-size: 18px !important;
           }
            .tooltip {
                padding: 14px 22px;
            }
        }
    }
    &__customize {
        position: absolute;
        left: 50%;
        opacity: 0;
        transition: all .3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, .9);
        // transform: translateX(-50%);
        padding: .5rem 2rem;
        transform: translate(-50%, -0px);
        z-index: 11;
        @extend .fnt-sm;
        text-transform: uppercase;
        white-space: nowrap;
        color: $title-black;
    }
    .img-scale {
        transition: all .6s ease;
        transform: scale(1);
        width: 100%;
    }

    &:hover, &:focus {
        @include bp("tab-lg") {
            .product-card__customize{
                transform: translate(-50%, -60px);
                opacity: 1;
            }
            .img-scale {
                transform: scale(1.1);
            }
        }
    }
}

.product-conatct {
    padding-top: .2rem;
    i{
        font-size: 16px;
        color: rgba(11, 10, 10, .5);
    }
}

// grid-view mobile changes

.product-card__customize {
    @include bpmax("tab-sm") {
        transform: translate(-50%, -60px);
        opacity: 1 !important;
        .img-scale {
            transform: scale(1.1);
        }
    }
}

.grid-item {
    .product-card__customize {
        @include bpmax("tab-sm") {
            padding: 0;
            left: auto;
            right: 0.5rem;
            height: 27px;
            width: 27px;
            border-radius: 50%;
            transform: translate(0%, -35px) !important;
            span {
                display: none;
            }
            img {
                height: 11px;
                width: 11px;
            }
        }
    }
}

.product-info {
    padding-right: 1rem;
}

.card-tag {
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background: $card-tag;
    top: 1rem;
    left: 1rem;
    @extend .fnt-xs;
    color: $title-black;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    @include bp("tab") {
        top: .6rem;
        left: .6rem;
    }
    @include bp("tab-lg") {
        top: 1rem;
        left: 1rem;
    }
}

.product-name {
    font-size: 12px;
    line-height: 24px;
    display: block;
    color: $title-black;
    letter-spacing: $letter-spacing02;
    font-weight: 600;
}

.product-type {
    @extend .fnt-xs;
    display: block;
    color: #1a1b1d;
    letter-spacing: $letter-spacing01;
}

.product-cost {
    @extend .fnt-sm;
    font-weight: 600;
    color: $bnr-red;
    margin-top: .2rem;
    display: inline-block;
}


// Lazy loading on scroll images

.js-loading-card {
    opacity: 0;
    // transition: all 1.5s ease-in-out !important;
    &.active {
        opacity: 1;
    }

    // &__img {
    //     min-height: 100px;
    //     // transition: all 1.5s ease-in-out !important;
    
    //     @media (min-width: 768px) {
    //         min-height: 200px;
    //     }
    // }
}

// Product filters-side sticky

.side-filter-sticky {
    width:255px;
    max-width: 100%;
    background: $white;
    z-index: 1;
    // transition: .8 ease all;
    @include bp("tab") {
        width: 150px;
    }
    @include bp("tab-lg") {
        width: 210px;
    }
    @include bp("desktop-1200") {
        width: 255px;
    }
}

.sticky-block {
    @include bpmax("phone-lg") {
        position: sticky;
        top: 0;
        z-index: 998;
    }
}

.sticky-left {
    @include bpmax("phone-lg") {
        position: sticky;
        top: 0;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .sticky-left {
        position: fixed;
        top: 0;
    }

        
    .sticky-block {
        @media (max-width: 767px) {
            position: fixed;
            top: 0;
            z-index: 998;
        }
       
    }
}

//Custom style popop
.saved-styles {
    &__img {
        height: 350px;

        @media (min-width: 768px) { 
            height: 300px;
        }

        @media (min-width: 992px) { 
            height: 400px;
        }

        @media (min-width: 1400px) { 
            height: 600px;
        }

        img {
            height: 100%;
            // object-fit: contain;

        }
       
    }

   &__subImages {
       background-color: #ffffff;
       position: absolute;
       bottom: 0;
       right: 0;
       height: 0;
       padding-right: 25px;
       transition-property: height;
       transition-duration: .8s;
       transition-timing-function: ease-in-out;
        overflow-y: auto;

        @media (min-width: 768px) { 
            // height: 300px;
            padding: 0 25px;
        }

        @media (min-width: 800px) { 
            // height: 300px;
        }

        @media (min-width: 992px) { 
            // height: 400px;
        }
        

        @media (min-width: 1300px) { 
            // height: 400px;
        }

        @media (min-width: 1400px) { 
            // height: 550px;
        }


        .slide-item {
            max-width: 100%;
            min-width: auto;
            margin: 5% !important;
            text-align: center;
            
            @media (min-width: 768px) {
                max-width: 45%;
                min-width: 45%;
                margin: 2.5% 5% 2.5% 0 !important;
                float: left;
            }

            @media (min-width: 992px) {
                max-width: 35%;
                min-width: 35%;
                margin: 2.5% 5% 2.5% 0 !important;

            }

            .card-wrp {
                width: 100%;
            }

        .style-card {
                height: 240px !important;

                @media (min-width: 992px) {
                    height: 250px !important;
                }

                @media (min-width: 1400px) {
                    height: 350px !important;
                }

                img {
                    height: 100%;
                    //  object-fit: contain;
                }
            }

            &:nth-child(2n) {
                @media (min-width: 768px) and (max-width: 991px) {
                    margin-right: 0 !important;
                }
            }

            &:nth-child(3n) {
                @media (min-width: 992px) {
                    margin-right: 0 !important;
                }
            }
        }
    }
}

.saved-styles-footer {
    border-top: 1px solid #e4e4e4;
    text-align: center;

    &__btn {
        padding: 15px;

        .create-more-styles {
            opacity: 0.88;
            color: $title-black;
            background: inherit;
            border: 1px solid #e4e4e4;
            min-width: 181px;
        }
    }
}



.dyanamic-img-data {
    position: relative;
    max-width: 100%;
    min-width: 100%;
    margin: 5% !important;
    text-align: center;
    
    
    @media (min-width: 768px) {
        max-width: 45%;
        min-width: 45%;
        margin: 2.5% 5% 2.5% 0 !important;
        float: left;
    }

    @media (min-width: 992px) {
        max-width: 30%;
        min-width: 30%;
        margin: 2.5% 5% 2.5% 0 !important;

    }


    &__src {
        width: 100%;
        height: 300px;
        padding: 10px;
        border: 1px solid #e4e4e4;

        img {
            max-height: 100%;
            object-fit: cover;
        }
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        pointer-events: all;
        font-size: 30px;
        line-height: 18px;
        cursor: pointer;
        z-index: 9;
    }

    &__info {
        color: #2e333d;
        font-size: 11px;
        font-weight: 400;
    }
    
}

.save-style-model {
    
    .saved-styles-footer {
        a:hover {
            color: #ffffff !important;
        }
    }
}

.save-item-transition {
 
        height: 100%;
        transition-property: height;
        transition-duration: .8s;
        transition-timing-function: ease-in-out;
    
}
.mbl-height {
    @media (max-width: 767px) {
        height: 300px;
    }
}