.products-header {
    display: flex;
    justify-content: space-between;
    &__label {
        @extend .fnt-xs;
        color: rgba($color: $card-title, $alpha: .7);
    }
    &__right-info {
        display: flex;
    }
}

.products-filter-view {
    position: relative;
    padding-right: .8rem;
    margin-right: .8rem;
    &::after {
        content: "";
        position: absolute;
        right: 0;
        height: 16px;
        width: 1px;
        background: #b5b5b5;
        top: 50%;
        transform: translateY(-50%);
    }
}

.list-view-btn {
    margin: 0 .4rem;
}

.grid-item li {
    width: 25.3%;
    flex: 0 0 25%;
}

.js-products li{
    margin-bottom: 1.8rem;
}

.rect-box {
    height: 8px;
    width: 4px;
    border: 1px solid $black;
    display: inline-block;
    margin-right: .09rem;
}


// Product-listing cards

.product-card {
    position: relative;
    &__view {
        position: relative;
        overflow: hidden;
    }
    &__body {
        padding-top: 1rem;
        padding-bottom: .8rem;
        padding-left: .2rem;
        display: flex;
        justify-content: space-between;
    }
    &__customize {
        position: absolute;
        left: 50%;
        opacity: 0;
        transition: all .3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, .9);
        // transform: translateX(-50%);
        padding: .5rem 2rem;
        transform: translate(-50%, -0px);
        @extend .fnt-sm;
        text-transform: uppercase;
        white-space: nowrap;
    }
    .img-scale {
        transition: all .6s ease;
        transform: scale(1);
    }

    &:hover, &:focus {
        .product-card__customize{
            transform: translate(-50%, -60px);
            opacity: 1;
        }
        .img-scale {
            transform: scale(1.1);
        }
    }
}

.product-info {
    padding-right: 1rem;
}

.card-tag {
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background: $card-tag;
    top: 1rem;
    left: 1rem;
    @extend .fnt-xs;
    color: $title-black;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.product-name {
    font-size: 12px;
    line-height: 24px;
    display: block;
    color: $title-black;
    letter-spacing: $letter-spacing02;
}

.product-type {
    @extend .fnt-xs;
    display: block;
    color: #1a1b1d;
    letter-spacing: $letter-spacing01;
}

.product-cost {
    @extend .fnt-sm;
    font-weight: 600;
    color: $bnr-red;
    margin-top: .2rem;
    display: inline-block;
}
