.filter-title {
  @extend .fnt-xs;
  font-family: $opensans;
  letter-spacing: $letter-spacing03;
  font-weight: 600;
  text-transform: uppercase;
}

#accordion {
    max-width: 400px;
    margin: 0 auto;
    
    .panel-cardtitle {
        @extend .fnt-xs;
        font-weight: 700;
        color: $title-black;
        letter-spacing: 1px;
        margin-bottom: 1rem;
        cursor: pointer;
        text-transform: uppercase;
        position: relative;

        &::before, &::after {
            content: "";
            position: absolute;
            background: $black;
            top: 50%;
            transform: translateY(-50%);
        }
        &::before {
            width: 1px;
            height: 12px;
            right: 0px;
        }
        &::after {
            width: 12px;
            height: 1px;
            right: -5px;
            transition: all .6s ease;
        }

       &.active {
          & + .accordion-content {
             min-height: 1px;
            //  visibility: visible;
            display: block;
            transition: min-height .6s ease;
            //  padding: {
            //     top: 20px;
            //     bottom: 20px;
            //  }
          }
          &::before {
            display: none;
          }
       }
    }
    
  .accordion-content {
  //    max-height: 0;
      margin-bottom: 10px;
  //    visibility: hidden;
  //    transition: visibility 0.3s;
      transition: min-height .3s ease;
      display: none;
  }
}

 // Colors
 .color-list {
     padding-top: .5rem;
     &__item{
        display: inline-block;
        margin: 0 .8rem .6rem 0;
        cursor: pointer;
        &.active {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                top: -4px;
                left: 50%;
                transform: translateX(-50%);
                border: 2px solid rgba(168, 173, 181, 0.29);
            }
        }
    }
 }

 .color-circle {
     height: 22px;
     width: 22px;
     border-radius: 50%;
     display: block;
 }

 .gray {
    background: #f5f1ee;
 }
 .blue{
    background: #427bf0;
}
.black {
    background: #17191f;
 }
.ecc {
    background: #4ecceb;
 }
.gray-lght {
    background: #eff1f5;
 }
.violt {
    background: #af6bfa;
}
.gold {
    background: #dfc17b;
}
.thick-vilot {
    background: #cdd1d7;
}

// Checkbox

.label-container {
  display: block;
  position: relative;
  padding-left: 1.8rem;
  margin-bottom: .7rem;
  @extend .fnt-xs;
  color: $text-black;
  cursor: pointer;
  user-select: none;
  letter-spacing: 0.18px;

//   &:hover input ~ .checkmark {
//     background-color: #ccc;
//   }

  input:checked ~ .checkmark {
    background-color: $bnr-red;
    border-color: $bnr-red;
  }
  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 1px solid #e4e5e6;
  border-radius: 2px;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.label-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

// clear filter

.panel-clear-container {
  display: flex;
  justify-content: space-between;
  &.active {
    .clear-select, .clear-color {
      display: block;
    }
  }
}

.clear-select, .clear-color {
  text-transform: capitalize;
  margin-right: 1rem;
  color: $bnr-red;
  text-decoration: underline;
  position: absolute;
  right: 0;
  display: none;
  &:hover {
    color: $bnr-red;
  }
}