.filter-title {
  @extend .fnt-xs;
  font-family: $opensans;
  letter-spacing: $letter-spacing03;
  font-weight: 600;
  text-transform: uppercase;
  @include bpmax("phone-lg") {
    font-size: 14px;
    line-height: 24px;
    border-bottom: 1px solid #e4e6e7;
    text-align: center;
    padding: {
      top: 1rem;
      bottom: 1rem;
    }
    font-weight: 700;
  }
}

.sticky-inner-container {
  @include bp("tab") {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: .3rem;
  }
}

// Accordian start
#accordion {
    max-width: 400px;
    margin: 0 auto;
    
    .panel-cardtitle {
        @extend .fnt-xs;
        font-weight: 700;
        color: $title-black;
        letter-spacing: 1px;
        margin-bottom: 1.2rem;
        cursor: pointer;
        text-transform: uppercase;
        position: relative;

        &::before, &::after {
            content: "";
            position: absolute;
            background: $black;
            top: 50%;
            transform: translateY(-50%);
        }
        &::before {
            width: 1px;
            height: 12px;
            right: 5px;
        }
        &::after {
            width: 12px;
            height: 1px;
            right: 0px;
            transition: all .6s ease;
        }

       &.active {
          & + .accordion-content {
             min-height: 1px;
            //  visibility: visible;
            display: block;
            transition: min-height .6s ease;
            //  padding: {
            //     top: 20px;
            //     bottom: 20px;
            //  }
          }
          &::before {
            display: none;
          }
       }
    }
    
  .accordion-content {
  //    max-height: 0;
      margin-bottom: 10px;
  //    visibility: hidden;
  //    transition: visibility 0.3s;
      transition: min-height .3s ease;
      display: none;
  }
}

.panel-card {
  @include bpmax("phone-lg") {
    border-bottom: 1px solid #e4e6e7;
    margin-bottom: 1rem;
    &:last-child{
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}

// Checkbox
.label-container {
  display: block;
  position: relative;
  padding-left: 1.8rem;
  margin-bottom: .7rem;
  @extend .fnt-xs;
  color: $text-black;
  cursor: pointer;
  user-select: none;
  letter-spacing: 0.18px;

  &--check{
    input:checked ~ .checkmark {
      background-color: $bnr-red;
      border-color: $bnr-red;
    }
  }
  input:checked ~ .checkmark {
    .checkborder{
      height: 34px;
      width: 34px;
      border-radius: 50%;
      /* background: black; */
      position: absolute;
      top: -4px;
      border: 2px solid rgba(168, 173, 181, 0.29);
      left: 50%;
      transform: translateX(-50%);
      @include bp("tab") {
        height: 30px;
        width: 30px;
      }
    }
  }

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 1px solid #e4e5e6;
  border-radius: 2px;

  &--circle {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: none;
    top: 0 !important;
    @include bpmax("phone-lg") {
      height: 26px;
      width: 26px;
    }
  }
}

// Color checkbox

.color-container {
  // padding-top: .5rem;
  padding-left: .3rem;
  @include bpmax("phone-lg") {
    max-width: 250px;
    margin-right: 1.2rem;
  }
}

.color-list-item {
  display: inline-block !important;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: block;
  margin: 0 .8rem .6rem 0;
  padding-left: 0;
  cursor: pointer;

  @include bpmax("phone-lg") {
    height: 26px;
    width: 26px;
  }

  @include bp("tab") {
    margin: 0 .6rem .6rem 0;
  }
  
  @include bp("tab-lg") {
    margin: 0 .8rem .6rem 0;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid rgba(168, 173, 181, 0.29);
    border-width: 0 !important;
  }
}

.gray {
  background: #f5f1ee;
}
.blue{
  background: #427bf0;
}
.black {
  background: #17191f;
}
.ecc {
  background: #4ecceb;
}
.gray-lght {
  background: #eff1f5;
}
.violt {
  background: #af6bfa;
}
.gold {
  background: #dfc17b;
}
.thick-vilot {
  background: #cdd1d7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.label-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.label-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

// clear filter

.panel-clear-container {
  display: flex;
  justify-content: space-between;
  &.active {
    .clear-select, .js-clear {
      display: block;
    }
  }
}

.clear-select, .clear-color {
  text-transform: capitalize;
  margin-right: 1rem;
  color: $bnr-red;
  text-decoration: underline;
  position: absolute;
  right: 0;
  display: none;
  &:hover {
    color: $bnr-red;
  }
}

.js-check-clear {
  display: none;
  &.active {
    display: block;
  }
}

// Filters Apply and checking in mobile 



.side-filter {
  @media (min-width: 768px) {
    position: sticky;
    top: 0;
  }

  @include bpmax("phone-lg") {
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    overflow-x: hidden;
    // overflow-x: auto;
    // overflow-y: scroll;
  }
}

.side-filter {
  @include bpmax("phone-lg") {
    transform: translateX(-100%);
    transition: transform .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    &.active {
      transform: translateX(0);
    }
  }
}

.sticky-inner-container {
  @include bpmax("phone-lg") {
    position: relative;
    height: 90%;
    overflow-y: scroll;
    overflow-x: auto;
  }
}

.mb-filter-wrapper {
  @include bpmax("phone-lg") {
    padding: {
      left: 2rem;
      right: 2rem;
      bottom: 1rem;
    }
  }
}

.btn-close {
  display: none;
  @include bpmax("phone-lg") {
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
    display: block;
  }
}

//Side-sticky Fixed bottom

.filter-bottom-fixed {
  @include bpmax("phone-lg") {
    background: $white;
    border-top: 1px solid #e4e6e7;
    padding: 1rem;
    text-align: right;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }
}