.product-modal.modal.fade.failure-popup.pop-up(tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
  .modal-dialog
    button.close-modal(data-dismiss="modal") &times;
    .modal-content
        img(src="../assets/images/cart/payment-fail.svg", alt="")
        h2 Order failed
        p Unfortunately we have an issue with your payment. Please 
            a(href="#" data-dismiss="modal") try again
            | . 