.product-modal.modal.fade.payment-popup.pop-up(tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
  .modal-dialog.modal-lg
    button.close-modal(data-dismiss="modal") &times;
    .modal-content  
      .payment-popupcontent
        h3 Pay with
        .nav.nav-tabs(role='tablist')
          a.nav-item.nav-link.active(data-toggle='tab', href='#pay-card', role='tab') Credit Card
          a.nav-item.nav-link(data-toggle='tab', href='#pay-pal', role='tab')
            img(src="../assets/images/cart/paypal.png", alt="Paypal")
        .tab-content
          #pay-card.tab-pane.fade.show.active(role='tabpanel')
            form.payment-form
              .d-flex
                .form-group
                  label Card Number*
                  input.payment-form__number(required="required" data-parsley-creditcard="" type="tel" data-parsley-error-message="Please enter a valid card number")
                .form-group
                  label MM/YY*
                  input.payment-form__expiry(required="required" data-parsley-expirydate="" type="tel" data-parsley-error-message="Invalid date")
                .form-group
                  label CVV*
                  input.payment-form__cvv(required="required" data-parsley-cvv="" type="password" maxlength="3" data-parsley-error-message="Invalid CVV")

              .form-group.w-100
                input(type="checkbox" name="save-check" id="save-check")
                label(for="save-check") Save these details for future purchases

              button.payment-subbtn.checkout-btn(type="submit") Confirm Payment - 
                span $173.74
              
          #pay-pal.tab-pane.fade(role='tabpanel')
            p By clicking on Confirm payment you will be redirected to the payment gateway, where you will be asked to enter your payment details.
            .form-group.w-100.mb-0
              input(type="checkbox" name="save-check" id="save-check")
              label(for="save-check") Remember your PayPal details for future purchases.
            a.paypal-btn(href="#")
              img(src="../assets/images/cart/paypal-btn.png", alt="")


        