.product-modal.modal.fade.video-popup.pop-up(tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
  .modal-dialog
    button.close-modal(data-dismiss="modal") &times;
    .modal-content
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UsDw2aBLIfc" frameborder="0" showinfo="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>