section.sec-form
    .container
        .row.m-0
            .col-lg-8.accounts-form-c
                h5 Drop a Message
                form.accounts-form(action="")
                    .row
                        .col-md-6
                            label.form-label First Name
                            input.form-input(type="text" required) 
                        .col-md-6
                            label.form-label Email
                            input.form-input(type="text" required) 
                    .row
                        .col-md-6
                            label.form-label Style ID
                            input.form-input(type="text") 
                        .col-md-6
                            label.form-label Order ID
                            input.form-input(type="text") 
                    .row
                        .col-12
                            label.form-label Message
                            textarea.form-input.textarea()
                    .seperator
                    .row
                        .col-12.text-center.text-lg-left
                            button.form-button.m-0.js-help-submit Submit

            .col-lg-4.accounts-help-c
                .help-box
                    h6 Need more assistance?
                    p We are available if you have any questions!
                    .d-flex
                        a(href="tel:5551234567") 
                            .icon-phone.icon
                            p 855 374 2584 
                        p.m-0.d-none.d-md-inline ( Mon - Fri 8.00am to 4.00pm PST )
