.accounts-contain.gifts
    .container.d-lg-flex.justify-content-end.position-relative
        include left-panel.pug
        +leftpanel('coupons')

        .accounts-contain__right
            h6.title-small Gift Coupons & Cards
            ul.gift-card-tab
                li Gift Coupon
                li.js-gift-card Gift Cards
            .gift-card-box
                .d-md-flex.justify-content-between.align-items-center.mb-9
                    p.text-desc Gift Coupon ID
                    .coupon-box
                        p.js-code 6EST1642JkAu
                        a.js-copy-code(href="javascript:void(0)") Copy
                        p.indication Code copied!
                p.text-desc Value 
                    span $
                    span 20.00
                    | , Valid Till 
                    span 04/30/2020
                p.text-desc Minimum order value after all deductions required to use the coupon.
            .gift-card-box
                .d-md-flex.justify-content-between.align-items-center.mb-9
                    p.text-desc Gift Coupon ID
                    .coupon-box
                        p.js-code 6EST1642JkAu
                        a.js-copy-code(href="javascript:void(0)") Copy
                        p.indication Code copied!
                p.text-desc Value 
                    span $
                    span 20.00
                    | , Valid Till 
                    span 04/30/2020
                p.text-desc Minimum order value after all deductions required to use the coupon.
            .seperator
            h6.title-small#scroll-target Gift Cards
            .gift-card-box
                .d-md-flex.justify-content-between.align-items-center.mb-9
                    p.text-desc Gift Coupon ID
                    .coupon-box
                        p.js-code 6EST1642JkAu
                        a.js-copy-code(href="javascript:void(0)") Copy
                        p.indication Code copied!
                p.text-desc Value 
                    span $
                    span 20.00
                    | , Valid Till 
                    span 04/30/2020
                p.text-desc Minimum order value after all deductions required to use the coupon.
            .gift-card-box
                .d-md-flex.justify-content-between.align-items-center.mb-9
                    p.text-desc Gift Coupon ID
                    .coupon-box
                        p.js-code 6EST1642JkAu
                        a.js-copy-code(href="javascript:void(0)") Copy
                        p.indication Code copied!
                p.text-desc Value 
                    span $
                    span 20.00
                    | , Valid Till 
                    span 04/30/2020
                p.text-desc Minimum order value after all deductions required to use the coupon.
            
