.accounts-contain
    .container.d-lg-flex.justify-content-end.position-relative
        include left-panel.pug
        +leftpanel('orders')

        .accounts-contain__right.acc-orders
            .acc-orders__card
                h2 Current Order
                .acc-orders__cardbox
                    .acc-orders__cardhead
                        p Order number - 
                            span #1338681
                        p Total price - 
                            span $303.0
                        p Placed on - 
                            span 4th Apr 2020
                        .acc-orders__links
                            a(href="accounts-help.html")
                                i.icon-help
                                label Help

                    .acc-orders__progress
                        .acc-orders__progressbar(data-value="75")
                            .status
                        
                        .acc-orders__progresslevel
                            .acc-orders__stage.active
                                .stage-status
                                    i &times;
                                    span
                                p Production Done
                            .acc-orders__stage.partial-active
                                .stage-status
                                    i
                                        img(src="./assets/images/shipment.svg", alt="")
                                    span
                                p Shipment
                            .acc-orders__stage
                                .stage-status
                                    i
                                        img(src="./assets/images/delivery.svg", alt="")
                                    span
                                p Delivery before Feb 11

                    .acc-orders__cardbody.row
                        h3 Order contain 3 items
                        a.full-link(href="accounts-orders-current.html")
                        .col-xl-4.col-sm-6
                            .order-item
                                .order-item__img
                                    img(src="./assets/images/cart/cart-img.png", alt="")
                                .order-item__details
                                    label Zapelle
                                    h4 Cotton Poplin Two-tone Tiered Shift Dress
                                    p.price $59.95
                        .col-xl-4.col-sm-6
                            .order-item
                                .order-item__img
                                    img(src="./assets/images/cart/cart-img.png", alt="")
                                .order-item__details
                                    label Zapelle
                                    h4 Cotton Poplin Two-tone Tiered Shift Dress
                                    p.price $59.95
                        .col-xl-4.col-sm-6
                            .order-item
                                .order-item__img
                                    img(src="./assets/images/cart/cart-img.png", alt="")
                                .order-item__details
                                    label Zapelle
                                    h4 Cotton Poplin Two-tone Tiered Shift Dress
                                    p.price $59.95

            .acc-orders__card
                h2 Previous Orders
                .acc-orders__cardbox
                    .acc-orders__cardhead
                        p Order number - 
                            span #1338681
                        p Total price - 
                            span $303.0
                        p.delivered Delivered - 
                            span 4th Apr 2020
                        .acc-orders__links
                            a(href="#")
                                i.icon-star
                                label Rate Order
                            a(href="accounts-orders-return.html")
                                i.icon-return
                                label Return

                    .acc-orders__cardbody.row
                        h3 Order contain 4 items
                        a.full-link(href="accounts-orders-past.html")
                        .col-xl-4.col-sm-6
                            .order-item
                                .order-item__img
                                    img(src="./assets/images/cart/cart-img.png", alt="")
                                .order-item__details
                                    label Zapelle
                                    h4 Cotton Poplin Two-tone Tiered Shift Dress
                                    p.price $59.95
                        .col-xl-4.col-sm-6
                            .order-item
                                .order-item__img
                                    img(src="./assets/images/cart/cart-img.png", alt="")
                                .order-item__details
                                    label Zapelle
                                    h4 Cotton Poplin Two-tone Tiered Shift Dress
                                    p.price $59.95
                        .col-xl-4.col-sm-6
                            .order-item
                                .order-item__img
                                    img(src="./assets/images/cart/cart-img.png", alt="")
                                .order-item__details
                                    label Zapelle
                                    h4 Cotton Poplin Two-tone Tiered Shift Dress
                                    p.price $59.95
                        .col-xl-4.col-sm-6
                            .order-item
                                .order-item__img
                                    img(src="./assets/images/cart/cart-img.png", alt="")
                                .order-item__details
                                    label Zapelle
                                    h4 Cotton Poplin Two-tone Tiered Shift Dress
                                    p.price $59.95

                .acc-orders__cardbox
                    .acc-orders__cardhead
                        p Order number - 
                            span #1338681
                        p Total price - 
                            span $303.0
                        p.delivered Delivered - 
                            span 4th Apr 2020
                        .acc-orders__links
                            a(href="#")
                                i.icon-star
                                label Rate Order
                            a(href="accounts-orders-return.html")
                                i.icon-return
                                label Return

                    .acc-orders__cardbody.row
                        h3 Order contain 3 items
                        a.full-link(href="accounts-orders-past.html")
                        .col-xl-4.col-sm-6
                            .order-item
                                .order-item__img
                                    img(src="./assets/images/cart/cart-img.png", alt="")
                                .order-item__details
                                    label Zapelle
                                    h4 Cotton Poplin Two-tone Tiered Shift Dress
                                    p.price $59.95
                        .col-xl-4.col-sm-6
                            .order-item
                                .order-item__img
                                    img(src="./assets/images/cart/cart-img.png", alt="")
                                .order-item__details
                                    label Zapelle
                                    h4 Cotton Poplin Two-tone Tiered Shift Dress
                                    p.price $59.95
                        .col-xl-4.col-sm-6
                            .order-item
                                .order-item__img
                                    img(src="./assets/images/cart/cart-img.png", alt="")
                                .order-item__details
                                    label Zapelle
                                    h4 Cotton Poplin Two-tone Tiered Shift Dress
                                    p.price $59.95
