.accounts-contain.profile
    .container.d-lg-flex.justify-content-end.position-relative
        include left-panel.pug
        +leftpanel('profile')

        .accounts-contain__right
            include personal-info.pug