.panel.panel--inner-info
    h1.panel__heading Personal Information
    //START: FORM INFO
    form
        .row.form-panel
            .col-md-5.field
                label.form-label(for="") Email ID
                input.border-0(type="text" value="steffyjoseph@gmail.com")

            .col-md-4.field
                label.form-label(for="") Password
                input.border-0(type="password" value="Manjunatha")
            
            .col-md-3.field
                a.fnt-xxs.learn-link(href="javascript:void(0);") Change Password

        .row.form-panel
            .col-md-5.field
                label.form-label(for="") Name
                input.border-0(type="text" value="Steffy Joseph")

            .col-md-5.field
                label.form-label(for="") Phone Number
                input.border-0(type="text" value="+1 8727376727")
        
            

