<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("About")

  body
    include ./base/discount-bar.pug
    include ./base/header.pug

    main
      include ./layouts/about/main.pug

    include ./base/footer.pug