<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("About us")

  body
    include ./base/header.pug

    main
      .d-block.m-auto.container.container-web
        h2 A bad ass Webpack 4 boilerplate that uses Pug, Scss and ES6+

    include ./base/footer.pug