<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("Accounts-Personal")

  body
    //START: HEADER
    include ./base/discount-bar.pug
    include ./base/header.pug
    +header()

    //START: MAIN
    main
      include ./layouts/accounts/my-profile-main.pug

    include ./base/footer.pug