<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("My orders")

  body
    include ./base/header.pug
    +header("repeat","white")

    main
      include ./layouts/accounts/my-orders-current.pug

    include ./base/footer.pug