<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("Account-sign")

  body
    //START: HEADER
    include ./base/header.pug
    +header()

    //START: MAIN
    main
        //START: ACCOUNT SIZE
        include ../pug/layouts/account-size/main.pug

        //START: SIZE POPUP
        include ./layouts/product-listing/size-modal.pug

    include ./base/footer.pug