<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("Affiliate")

  body
    include ./base/header.pug
    +header()

    main
      include ./layouts/static/affiliate.pug

    include ./base/footer.pug