<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("Checkout")

  body.checkout-body
    include ./layouts/cart-checkout/checkout-header.pug

    main
      include ./layouts/cart-checkout/checkout.pug
      include ./components/address-pop-up.pug
      include ./components/payment-popup.pug
      include ./components/orderfail-popup.pug

    include ./layouts/cart-checkout/checkout-footer.pug