<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("Checkout")

  body.checkout-body
    include ./base/discount-bar.pug
    include ./base/header.pug
    +header("repeat","white")

    main
      include ./layouts/cart-checkout/checkout.pug
      include ./components/address-pop-up.pug
      include ./components/payment-popup.pug
      include ./components/orderfail-popup.pug

    include ./base/footer.pug