<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("Checkout")

  body
    include ./base/discount-bar.pug
    include ./base/header.pug
    +header("repeat","white")

    main
      include ./base\address-pop-up.pug
      include ./layouts/cart-checkout/checkout.pug

    include ./base/footer.pug