<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("Contest")

  body
    include ./base/header.pug
    +header()

    main
      include ./layouts/static/contest.pug

    include ./base/footer.pug