<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("Form Template")

  body
    include ./base/header.pug
    +header("repeat","white")

    main.maintp9
      include ./layouts/form-page/main.pug

    include ./base/footer.pug