<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("How it works")

  body
    include ./base/header.pug
    +header()

    main
      include ./layouts/static/how-it-works.pug
      include ./components/video-popup.pug

    include ./base/footer.pug