<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("Home")

  body
    include ./base/discount-bar.pug
    include ./base/header.pug
    +header()

    main
      include ./layouts/home/main.pug

    include ./base/footer.pug