<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("Media Speaks")

  body
    include ./base/header.pug
    +header("repeat","white")

    main
      include ./layouts/static/media-speaks.pug

    include ./base/footer.pug