<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("Order placed")

  body
    include ./base/header.pug
    +header("repeat","white")

    main
      include ./layouts/cart-checkout/order-placed.pug

    include ./base/footer.pug