<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("Productlisting")

  body
    //- include ./base/discount-bar.pug
    //- include ./base/header.pug
    // Main
    main
      include ./layouts/product-listing/main.pug
    include ./base/footer.pug