<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("Product-Details")

  body
    include ./base/header.pug
    +header()
    main.product-details
      
      //START: PRODUCT-DETAILS 
      include ./layouts/product-listing/prduct-details.pug

      //START: RECENT VIEW CARDS
      include ./layouts/product-listing/cards.pug

      //START: PRODUTC CUSTOMIZE POPUP
      include ./layouts/product-listing/product-modal.pug

      //START: SIZE POPUP
      include ./layouts/product-listing/size-modal.pug

      //START: SIZE MEASURE
      include ./layouts/product-listing/size-measure.pug

      //START: PRODUCT DETAILS MODAL
      include ./layouts/product-listing/product-details-model.pug

      //START: REVIEW 
      include ./layouts/product-listing/review.pug
     

      //START: PRODUCT IMGS-SLIDER MODAL
      include ./layouts/product-listing/img-model.pug
      include ./layouts/product-listing/save-style-model.pug

    include ./base/footer.pug