<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("Product Listing")

  body
    include ./base/discount-bar.pug
    include ./base/header.pug
    +header("repeat")
    // Main
    main.maintp9
      include ./layouts/product-listing/main.pug
      include ./layouts/product-listing/product-listing-model.pug
      include ./layouts/product-listing/save-style-model.pug

    include ./base/footer.pug
