<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("Repeat-customer")

  body
    include ./base/discount-bar.pug
    include ./base/header.pug
    +header("repeat")

    main
      include ./layouts/home/main.pug
      
      // whole-sale
      include ./layouts/home/whole-sale.pug
      include ./components/video-popup.pug


    include ./base/footer.pug