<!DOCTYPE html>
html(lang="en")

  head
    include ./base/head.pug
    +head("Customer Speaks")

  body
    include ./base/header.pug
    +header("repeat","white")

    main.maintp9
      include ./layouts/static/customer-speaks.pug

    include ./base/footer.pug