mixin dropdown(text)
    .drop-container.mb-2.mb-md-3
        .drop-title
            span.selection-label=text
            i.js-size-model.icon-info.pl-1
              
            .select-style
                //- span.triangle-icon
                select.txt-gry-12.select_box
                    option(disabled selected) select
                    option(value='saab') Saab
                    option(value='mercedes') Mercedes
                    option(value='audi') Audi
