mixin dropdown(text)
    .drop-container.mb-3
        .drop-title
            span.seletion-label=text
            i.icon-info.ml-1.icon-modify
            //- img.pl-1(src="./assets/images/i.png", alt="")
        .select-style
            span.triangle-icon
            select.txt-gry-12
                option(disable) select
                option(value='saab') Saab
                option(value='mercedes') Mercedes
                option(value='audi') Audi
