mixin dropdown(text)
    .drop-container.mb-2.mb-md-3
        .drop-title
            span.selection-label=text
            i.js-size-model.icon-info.pl-1
              
            .select-style
                //- span.triangle-icon
                select.txt-gry-12.select_box
                    option(disabled selected) select
                    option(value='saab') 10
                    option(value='mercedes') 12
                    option(value='audi') 13
                    option(value='audi') 14
                    option(value='audi') 15
                    option(value='audi') 16
                    option(value='audi') 17