.cart-contain
    .container.cart-contain-wrap
        .row
            .col-8.cart-content
                .cart-content__wrap
                    .cart-content__head
                        h2 Your Shopping Bag
                        p
                            span 2
                            | items

                        .cart-table__head
                            p Item
                            p Price
                            p Qty
                            p Remove

                    table.cart-content__body
                        tr
                            td.cart-content__item
                                .cart-content__img
                                    img(src="./assets/images/cart/cart-img.png", alt="")
                                .cart-content__details
                                    label Zapelle
                                    h3 Cotton Poplin Two-tone Tiered Shift Dress
                                    .cart-color
                                        span Color: 
                                        p Crimson red/hot pink
                                    .cart-size
                                        span Size
                                        .standard-size
                                            p Standard Size: 
                                                span M-10
                                            p Height: 
                                                span 5.4

                                    .cart-style
                                        span Style
                                        p As Shown


                            td.cart-content__price
                                p $59.95
                                p $82.95

                            td.cart-content__qty
                                p(data-text="QTY") 1

                            td.cart-content__remove
                                a(href="#") Remove

                        tr
                            td.cart-content__item
                                .cart-content__img
                                    img(src="./assets/images/cart/cart-img.png", alt="")
                                .cart-content__details
                                    label Zapelle
                                    h3 Cotton Poplin Two-tone Tiered Shift Dress
                                    .cart-color
                                        span Color: 
                                        p Crimson red/hot pink
                                    .cart-size
                                        span Size

                                        .custom-size
                                            p Height: 
                                                span 5.4
                                            p Length of Arm: 
                                                span 35
                                            p Upperarm: 
                                                span 36
                                            p Hip: 
                                                span 35
                                            p Waist: 
                                                span 75
                                            p Underbust: 
                                                span 20
                                            p Bust: 
                                                span 36
                                            p Chest: 
                                                span 36
                                            p Shoulder: 
                                                span 75
                                            p HPS to Bust: 
                                                span 75
                                            p HPS to Waist:
                                                span 75
                                            P HPS to Knee
                                                span 75
                                        a.d-md-none(href="#") Show more
                                    .cart-style
                                        span Style
                                        p As Shown


                            td.cart-content__price
                                p $59.95
                                p $82.95

                            td.cart-content__qty
                                p(data-text="QTY") 1

                            td.cart-content__remove
                                a(href="#") Remove

                .cart-content__info
                    p If the sale is not completed now, and meanwhile if an item that is shown in your cart goes out of stock, the eShakti website will automatically remove such item from your shopping cart.

            .col-4.cart-panel
                .cart-panel__card
                    div.cart-panel__cost
                        .row.align-items-center
                            p.col-8.cost-label Subtotal (
                                span 2 
                                |   items)
                            span.col-4 $99.99
                        .row.align-items-center 
                            p.col-8.cost-label Customisation Charges
                            span.col-4 $18.0
                    div.cart-panel__total
                        .row.align-items-center
                            .col-8
                                h4 Estimated Total
                                p Shipping charges will be  added in checkout
                            span.col-4 $117.9
                    div.cart-panel__submit
                        a.checkout-btn(href="#") Proceed to Checkout
                        p
                            i.icon-offer 
                            | Register and get 35% OFF on your purchase

                .cart-panel__card
                    h4 Shipping Information
                    p Shipping charges are calculated based on prices before discounts.
                    a.checkout-link(href="#") View Shipping Information

                .cart-panel__card
                    h4 Need Help?
                    p We are available if you have any questions!
                    a.checkout-link(href="#") Contact Us