footer.checkout-footer
    .container
        .bottom-footer.text-center
            .bottom-footer__links
                a(href="#") Terms of use
                a(href="#") Privacy Policy
                a(href="#") Shipping and Handling

            p © Copyright 2020 eShakti
