header.web-header.checkout-header
    .container
        a.go-back(href="cart.html")
            span Return to Shopping Bag
        .web-header__logo
            a(href="index.html")
                img(src="./assets/images/logo.svg", alt="")