.cart-contain
    .container.cart-contain-wrap.checkout-contain-wrap
        h1.page-title Checkout
        .row
            .col-8.cart-content.checkout-content
                .cart-content__wrap
                    .checkout-content__section
                        h2 Delivery Details
                        p Delivery between Mar 2nd - Mar 6th

                        .checkout-content__address
                            .address-box
                                h4 Shipping Details
                                p Emilia Clarke
                                    br
                                    | 400 Hartford Avenue, Mount street,
                                    br
                                    | Bellingham MA 200198.
                            .address-box
                                h4 Billing Details
                                p Emilia Clarke
                                    br
                                    | 400 Hartford Avenue, Mount street,
                                    br
                                    | Bellingham MA 200198.

                            a.change-link(href="#" data-toggle='modal', data-target='.address') Change Address

                    .checkout-content__section
                        h2 Order-Item Details
                        p (
                            span 2
                            |  items)

                        table.checkout-content__table
                            tr
                                td.cart-content__item
                                    .cart-content__img
                                        img(src="../assets/images/cart/cart-img.png", alt="")
                                    .cart-content__details
                                        label Zapelle
                                        h3 Cotton Poplin Two-tone Tiered Shift Dress
                                        .cart-color
                                            span Color: 
                                            p Crimson red/hot pink
                                        .cart-size
                                            span Size
                                            .standard-size
                                                p Standard Size: 
                                                    span M-10
                                                p Height: 
                                                    span 5.4

                                        .cart-style
                                            span Style
                                            p As Shown


                                td.cart-content__price
                                    p $59.95
                                    p $82.95

                            tr
                                td.cart-content__item
                                    .cart-content__img
                                        img(src="../assets/images/cart/cart-img.png", alt="")
                                    .cart-content__details
                                        label Zapelle
                                        h3 Cotton Poplin Two-tone Tiered Shift Dress
                                        .cart-color
                                            span Color: 
                                            p Crimson red/hot pink
                                        .cart-size
                                            span Size

                                            .custom-size
                                                p Height: 
                                                    span 5.4
                                                p Length of Arm: 
                                                    span 35
                                                p Upperarm: 
                                                    span 36
                                                p Hip: 
                                                    span 35
                                                p Waist: 
                                                    span 75
                                                p Underbust: 
                                                    span 20
                                                p Bust: 
                                                    span 36
                                                p Chest: 
                                                    span 36
                                                p Shoulder: 
                                                    span 75
                                                p HPS to Bust: 
                                                    span 75
                                                p HPS to Waist:
                                                    span 75
                                                P HPS to Knee
                                                    span 75

                                        .cart-style
                                            span Style
                                            p As Shown


                                td.cart-content__price
                                    p $59.95
                                    p $82.95
                        

            .col-4.cart-panel.checkout-panel
                .cart-panel__card
                    div.checkout-panel__promo
                        h4 Enter a promo or gift card
                            .web-tooltip
                                i.icon-info
                                .web-tooltip__content
                                    div
                                        p 1. Only one gift coupon can be applied to an order. However, you can apply multiple Gift Cards.
                                        p 2. These codes have limited time validity and will expire if not used within the validity period.
                        form.row.m-0
                            .col-8.text-group.p-0
                                input(type="text")
                                .checkout-panel__couponwrap
                                    .coupon-group
                                        h4 Gift Coupons
                                        .form-group
                                            input(type="radio" value="16EST1642JkAu" id="coupon-1" name="cart-coupons")
                                            label(for="coupon-1") $20.00 OFF Valid Till Apr 30, 2020 Minimum Order Value $40.00 [16EST1642JkAu]
                                        .form-group
                                            input(type="radio" value="26EST1642JkAu" id="coupon-2" name="cart-coupons")
                                            label(for="coupon-2") $20.00 OFF Valid Till Apr 30, 2020 Minimum Order Value $40.00 [26EST1642JkAu]
                                    .card-group
                                        h4 Gift Cards
                                        .form-group
                                            input(type="checkbox" value="15EST67273eQT" id="card-1" name="card-1")
                                            label(for="card-1") $15.00 OFF Valid Till Apr 30, 2020 [15EST67273eQT]
                                        .form-group
                                            input(type="checkbox" value="25EST67273eQT" id="card-2" name="card-2")
                                            label(for="card-2") $15.00 OFF Valid Till Apr 30, 2020 [25EST67273eQT]
                            .col-4.submit-group.p-0
                                input(type="submit" value="Apply")
                    div.checkout-panel__suggest
                        .suggest-head(data-toggle="collapse" data-target="#suggest-content")
                            h4 For Special instruction on your order
                            p Shipping charges will be  added in checkout
                        .suggest-content#suggest-content.collapse
                            form
                                textarea.suggest-content__box It would be really helpful if I can get the product 2 days before christmas
                                input.suggest-content__save(type="submit" value="Save")
                                a.suggest-content__cancel(href="#") Cancel
                            //- p It would be really helpful if I can get the product 2 days before christmas
                    div.cart-panel__cost
                        .row.align-items-center
                            p.col-8.cost-label Subtotal (
                                span 2 
                                |  items)
                            span.col-4 $99.99
                        .row.align-items-center 
                            p.col-8.cost-label Customisation Charges
                            span.col-4 $18.0
                        .row.align-items-center 
                            p.col-8.cost-label GST
                            span.col-4 $27.80
                        .row.align-items-center 
                            p.col-8.cost-label Shipping Charges
                            span.col-4 $12.95
                    div.cart-panel__total
                        .row.align-items-center
                            .col-8
                                h4 Total Price
                            span.col-4 $173.74
                        a.checkout-btn(href="#") Pay Now
                        