.cart-contain
    .container.cart-contain-wrap.checkout-contain-wrap
        h1.page-title Checkout
        .row
            .col-8.cart-content.checkout-content
                .order-success
                    img(src="./assets/images/cart/order-placed.svg", alt="")
                    h3 Order placed successfully
                    p Thank you for your order. You will receive shortly a copy of this order receipt via mail. If you wish to make any changes to a confirmed order (address,size or coupon/discounts), please contact our customer support at 
                        a(href="mailto:customerchampion@eshakti.com") customerchampion@eshakti.com
                        |  within 24hours from order confirmation.

                    .order-success__bottom
                        p Order Number
                            span #1344434
                        p Order Placed
                            span 12 Mar 2020

                .cart-content__wrap
                    .checkout-content__section
                        h2 Delivery Details
                        p Delivery between Mar 2nd - Mar 6th

                        .checkout-content__address.orderplaced-content__address
                            .address-box
                                h4 Shipping Details
                                p Emilia Clarke
                                    br
                                    | 400 Hartford Avenue, Mount street,
                                    br
                                    | Bellingham MA 200198.
                            .address-box
                                h4 Billing Details
                                p Emilia Clarke
                                    br
                                    | 400 Hartford Avenue, Mount street,
                                    br
                                    | Bellingham MA 200198.

                            a.change-link.d-none(href="#") Change Address

                    .checkout-content__section
                        h2 Order-Item Details
                        p (
                            span 2
                            |  items)

                        table.checkout-content__table
                            tr
                                td.cart-content__item
                                    .cart-content__img
                                        img(src="./assets/images/cart/cart-img.png", alt="")
                                    .cart-content__details
                                        label Zapelle
                                        h3 Cotton Poplin Two-tone Tiered Shift Dress
                                        .cart-color
                                            span Color: 
                                            p Crimson red/hot pink
                                        .cart-size
                                            span Size
                                            .standard-size
                                                p Standard Size: 
                                                    span M-10
                                                p Height: 
                                                    span 5.4

                                        .cart-style
                                            span Style
                                            .cart-style-custom
                                                p Neckline: 
                                                    span As shown, boat neck
                                                p Sleeve type: 
                                                    span As shown, elbow length sleeves
                                                p Length: 
                                                    span Full length with 3 inches heels on
                                            a.d-md-none(href="#") Show more

                                td.cart-content__price
                                    p $59.95
                                    p $82.95

                            tr
                                td.cart-content__item
                                    .cart-content__img
                                        img(src="./assets/images/cart/cart-img.png", alt="")
                                    .cart-content__details
                                        label Zapelle
                                        h3 Cotton Poplin Two-tone Tiered Shift Dress
                                        .cart-color
                                            span Color: 
                                            p Crimson red/hot pink
                                        .cart-size
                                            span Size

                                            .custom-size
                                                p Height: 
                                                    span 5.4
                                                p Length of Arm: 
                                                    span 35
                                                p Upperarm: 
                                                    span 36
                                                p Hip: 
                                                    span 35
                                                p Waist: 
                                                    span 75
                                                p Underbust: 
                                                    span 20
                                                p Bust: 
                                                    span 36
                                                p Chest: 
                                                    span 36
                                                p Shoulder: 
                                                    span 75
                                                p HPS to Bust: 
                                                    span 75
                                                p HPS to Waist:
                                                    span 75
                                                P HPS to Knee
                                                    span 75
                                            a.d-md-none(href="#") Show more
                                        .cart-style
                                            span Style
                                            p As Shown


                                td.cart-content__price
                                    p $59.95
                                    p $82.95
                        

            .col-4.cart-panel.orderplace-panel
                .cart-panel__card
                    .cart-panel__cost
                        h4 Order Summary
                        .row.align-items-center
                            p.col-8.cost-label Subtotal (
                                span 2 
                                |  items)
                            span.col-4 $99.99
                        .row.align-items-center 
                            p.col-8.cost-label Customisation Charges
                            span.col-4 $18.0
                        .row.align-items-center 
                            p.col-8.cost-label GST
                            span.col-4 $27.80
                        .row.align-items-center 
                            p.col-8.cost-label Shipping Charges
                            span.col-4 $12.95
                        .row.align-items-center 
                            p.col-8.cost-label Coupons Discount
                            span.col-4 - $27.95
                    .orderplace-panel__total
                        .row.align-items-center 
                            p.col-8 Total Price
                            span.col-4 $173.74
                    