/** footer start **/

$circle-clr : #f5f5f5;

.fnt-lxs {
    font-size: 12px;
    line-height: 22px;

    @include bp("tab") {
        font-size: 13px;
        line-height: 23px;
    }
}

.main-footer {
    padding: 1.8rem 0;
    position: relative;

    @include bpmax("phone-lg") {
        text-align: center;
        margin-bottom: .6rem;
    }

    @include bp("tab") {
        padding: 35px 0 30px;
    }

    @include bp("desktop") {
        padding: 65px 0 40px;
    }

    @include bp("desktop-1200") {
        padding: 75px 0 50px;
    }

    @include bpmax("phone") {
        margin-bottom: 0;
        padding-bottom: 2.8rem;
    }

    &__heading {
        font-size: 14px;
        line-height: 22px;
        font-family: $opensans;

        @extend .fnt-700;
    }

    /** footer nav-list **/
    &__list {
        @include bpmax("tab") {
            margin-top: .8rem;
        }

        @include bpmax('phone') {
            margin-top: 0;
        }

        &__item {
            @extend .fnt-lxs;

            margin-bottom: .8rem;

            &:last-child {
                margin-bottom: 0;
            }

            @include bpmax("tab") {
                margin-bottom: .6rem;
            }

            @include bpmax('phone') {
                margin-bottom: 5px;
            }
        }
    }

    &__linkwrap {
        display: flex;
        justify-content: space-between;

        @include bpmax('tab-mid') {
            margin-bottom: 20px;
        }

        @include bpmax('phone-lg') {
            flex-wrap: wrap;
            margin-bottom: 30px;
        }
    }

    &__linkbox {
        @include bpmax('phone-lg') {
            width: 50%;
            margin-top: 20px;

            &:nth-of-type(-n+2) {
                margin-top: 0;
            }
        }

        @media only screen and (max-width: 479.9px) {
            text-align: left;
            margin-top: 15px;

            &:nth-of-type(odd) {
                padding-right: 15px;
            }

            &:nth-of-type(even) {
                padding-left: 15px;
            }
        }
    }

    .accredition-img {
        @include bpmax('phone-lg') {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        a {
            text-align: center;
            color: $black;
            font-weight: 600;
            font-size: 8px;
            position: relative;
            display: inline-block;
            overflow: hidden;
            border-radius: 6px;

            &:hover {
                .accr-content {
                    opacity: 1;
                }
            }
        }
        
        img {
            height: 38px;
            width: auto;
        }

        .accr-content {
            position: absolute;
            background: $black;
            color: $white;
            text-align: center;
            line-height: 1.3;
            left: 0;
            top: 0;
            width: 100%;
            height: calc(100% - 12px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            opacity: 0;
            font-weight: normal;
            border-radius: 6px;

            span {
                color: #ffffdd;
            }
        }

        // @media only screen and (max-width: 479.9px) {
        //     height: 28px;        
        // }
    }

    

    .location-dropmodal {
        font-size: 13px;
        letter-spacing: 0.4px;
        line-height: 1.4;
        text-transform: uppercase;
        padding: 6px 22px 6px 8px;
        color: $title-black;
        position: relative;
        min-width: 116px;
        text-align: left;
        border-bottom: 1px solid #5f5f5f;
        border-radius: 0 !important;

        @include bpmax('tab-mid') {
            margin-left: 20px;
            padding: 4px 20px 4px 4px;
            min-width: 90px;
            font-size: 12px !important;
            margin-bottom: 15px;
        }

        &::after {
            content: "\e902";
            font-family: 'icomoon';
            color: #282727;
            position: absolute;
            right: 0;
            font-size: 6px;
            top: 50%;
            transform: translateY(-50%);
            line-height: 1;
            margin-bottom: 6px;
        }
    }
}

// App links

.app-block-list {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include bp("tab") {
        justify-content: flex-start;
    }

    @include bp("tab-lg") {
        justify-content: flex-end;
    }

    @include bpmax("tab-mid") {
        justify-content: center;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    @include bpmax("phone") {
        margin-top: 25px;
        margin-bottom: 20px;
    }

    @media only screen and (max-width: 479.9px) {
        margin-top: 20px;
        margin-bottom: 15px;

        img {
            height: 32px;
            width: auto;
        }
    }
}
.footer-link {
    color: $black;
}

/** Social-list info **/

.social-list {
    display: flex;

    @include bp("tab") {
        justify-content: flex-start;
    }

    @include bp("tab-lg") {
        justify-content: flex-end;
    }

    @include bpmax("tab-mid") {
        justify-content: center;
    }

    &__item {
        margin-right: 1.5rem;

        &:last-child {
            margin-right: 0;
        }

        @media only screen and (max-width: 479.9px) {
            margin-right: 10px;
        }
    }

    i {
        color: $black;
        font-size: 16px;
    }
}

.social-circle {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: $circle-clr;

    @media only screen and (max-width: 479.9px) {
        height: 32px;
        width: 32px;
    }

    @extend .flex-center;
}

/** Copyrights **/

.bottom-footer {
    background: $black;
    color: $white;
    padding: .8rem 0;
    letter-spacing: $letter-spacing04;

    @extend .fnt-lxs;

    p {
        opacity: 0.7;
        line-height: 1.9;
    }
}

.country-modal {
    .modal-dialog {
        width: 830px;
        max-width: calc(100% - 120px);

        @include bpmax('phone-lg') {
            max-width: calc(100% - 70px);
            margin: 1.25rem auto;
        }

        @include bpmax('phone') {
            max-width: calc(100% - 50px);
            margin: 1rem auto;
            left: -8px;
        }
    }

    .modal-content {
        padding: 70px;
        border-radius: 0;

        @include bpmax('desktop-1200') {
            padding: 40px;
        }

        @include bpmax('tab-mid') {
            padding: 30px;
        }

        @include bpmax('phone-lg') {
            padding: 15px;
        }

        @include bpmax('phone') {
            padding: 10px;
        }

        span.close {
            position: absolute;
            font-weight: 100;
            font-size: 36px;
            line-height: 20px;
            padding: 10px;
            left: 100%;
            color: white;
            opacity: 1;
            text-shadow: none;
            top: -10px;

            @include bpmax('tab') {
                font-size: 26px;
                padding: 7px;
                top: -11px;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 25%;
                margin-top: 35px;
                display: flex;

                &:nth-of-type(-n+4) {
                    margin-top: 0;
                }

                @include bpmax('desktop') {
                    margin-top: 20px;
                }

                @include bpmax('tab-mid') {
                    width: 33.33%;
                    margin-top: 15px;

                    &:nth-of-type(4) {
                        margin-top: 15px;
                    }
                }

                @include bpmax('phone') {
                    width: 50%;
                    margin-top: 10px;

                    &:nth-of-type(3),
                    &:nth-of-type(4) {
                        margin-top: 10px;
                    }
                }
            }
        }

        input[type="radio"] {
            display: none;

            &:checked + label {
                background-color: rgba(216, 216, 216, 0.3);
                border-color: rgb(243, 243, 243);
            }
        }

        label {
            padding: 7px 12px;
            display: flex;
            align-items: center;
            transition: all 0.3s ease;
            border: 1px solid transparent;
            width: auto;
            margin-bottom: 0;

            @include bpmax('phone-lg') {
                padding: 5px 7px;
            }

            @include bpmax('phone-lg') {
                font-size: 13px;
            }

            @include bpmax('phone') {
                font-size: 12px;
            }

            &:hover {
                border-color: #e0e0e0;
            }

            img {
                width: 26px;
                height: 26px;
                border-radius: 50%;
                margin-right: 12px;

                @include bpmax('phone-lg') {
                    width: 23px;
                    height: 23px;
                    margin-right: 8px;
                }

                @include bpmax('phone') {
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }
            }
        }
    }
}



.main-footer {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: calc(100% - 30px);
        left: 15px;
        border-top: 1px solid #393939;
        top: 0;
        // bottom: -4rem;

        // @include bpmax('desktop') {
        //     bottom: -50px;
        // }
    
        // @include bpmax('tab-mid') {
        //     bottom: -45px;
        // }
    
        // @include bpmax('phone') {
        //     bottom: -35px;
        // }
    }
}