.popup-template {
    background-color: rgba(250,250,250,0.9);

    .close {
        position: absolute;
        right: -35px;
        top: 5px;
        font-size: 25px;
        font-weight: 100;
        color: #a3abb0;
        cursor: pointer;
        opacity: 1;
        text-shadow: none;

        &:after {
            content: "";
            position: absolute;
            height: 32px;
            width: 32px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 1px;
            border: 1px solid #a3abb0;
            border-radius: 50%;
        }

        @include bpmax('tab-mid') {
            right: 10px;
            top: 0;
        }
    }

    .modal-body {
        height: 100%;
        padding: 35px;

        @include bpmax('tab-mid') {
            padding: 15px 5px;
        }

        @media only screen and (max-width: 992px) and (min-width: 800px)  {
            padding: 35px 10px;
        }
    }

    .modal-dialog {
        max-width: 850px;

        @include bpmax('tab-mid') {
            padding: 35px 0;
        }

        @media(max-width: 991px) {
            max-width: 95%;
        }
    }

    .modal-content {
        border-radius: 0;
        max-height: calc(100vh - 50px);
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.form-template {
    h6 {
        font-size: 24px;
        margin: 0;
        font-weight: 600;
        font-family: $opensans;
    }

    p {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .form-group {
        margin-bottom: 30px;

        @include bpmax('tab-mid') {
            margin-bottom: 22px;
        }

        label {
            color: #797b7e;
            display: block;
            margin-bottom: 6px;
            line-height: 18px;
        }

        input,
        select {
            color: #2e333d;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            border: 1px solid #dadcde;
            background-color: #ffffff;
            padding: 0 16px;
            width: 100%;
            border-radius: 0;
            height: 45px;
        }

        textarea {
            color: #2e333d;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            border: 1px solid #dadcde;
            background-color: #ffffff;
            padding: 16px;
            width: 100%;
            border-radius: 0;
            height: 90px;
            resize: none;
        }

        input[type="radio"],
        input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        input[type="checkbox"] {
            & + label {
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 18px;
                    height: 18px;
                    border: 1px solid #b6b9bd;
                    background-color: $white;
                    transition: all 0.2s ease;
                    border-radius: 2px;
                }

                &::before {
                    content: "\e911";
                    font-family: 'icomoon';
                    position: absolute;
                    opacity: 0;
                    left: 3px;
                    z-index: 1;
                    font-size: 9px;
                    top: 0;
                    color: $white;
                    transition: all 0.2s ease;
                }
            }

            &:checked + label {
                &::after {
                    border-color: #f25c50;
                    background-color: #f25c50;
                }

                &::before {
                    opacity: 1;
                }
            }
        }

        input[type="radio"] {
            & + label {
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 17px;
                    height: 17px;
                    border-radius: 50%;
                    border: 1px solid #a3adb2;
                    background-color: transparent;
                    transition: all 0.2s ease;
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 3px;
                    top: 3px;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    background-color: $bnr-red;
                    transition: all 0.2s ease;
                    opacity: 0;
                }
            }

            &:checked + label {
                &::after {
                    border-color: $bnr-red;
                }

                &::before {
                    opacity: 1;
                }
            }
        }

        .check-group,
        .radio-group {
            position: relative;
            width: 25%;

            label {
                position: relative;
                padding-left: 25px;
                color: #2a2a2a;
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 0;
                cursor: pointer;
                margin-bottom: 10px;
            }

            @media(max-width: 767px) {
                width: 100%;
            }
        }
    }

    button {
        color: $white;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        height: 45px;
        background-color: #f25c50;
        min-width: 115px;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 0 30px;

        &.white {
            border: 1px solid #141313;
            background-color: #ffffff;
            color: #2e333d;
        }
    }

    .select_wrap {
        width: 100%;
        border: none;
        height: 45px;

        @media(max-width: 991px) {
            max-width: 100%;
        }

        select {
            display: block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
        }

        span {
            color: $title-black;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            border: 1px solid #dadcde;
            background-color: #ffffff;
            padding: 13px 10px;
            width: 100%;
            height: 45px;

            @media(max-width: 991px) {
                max-width: 100%;
            }

        }

        &.open:after,
        &:after {
            top: 48%;
        }

        .overlay {
            height: 100%;
            width: 100%;
        }

        ul {
            width: 100%;
            max-width: 300px;
            left: 0;

            @media(max-width: 991px) {
                max-width: 100%;
            }

            li {
                font-size: 13px;
                padding: 10px 15px;
                line-height: 1.4;

                &:first-child {
                    display: none;
                }

                &:nth-child(2) {
                    border: 1px solid #cdcecf;
                }
            }
        }

    }
}

.bttn-style {
    color: $white;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    height: 45px;
    background-color: #f25c50;
    min-width: 115px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0 30px;
}
