

.discount-bar {
	font-size: 11px;
	line-height: 1.64;
	color: $title-black;
	text-align: center;
	padding: 11px;
	letter-spacing: 0.2px;

	a {
		@extend .fnt-700;
		color: $bnr-red;

		&::after,
		&::before {
			content: " ";
			white-space: pre;
		}

		&:last-of-type:not(:first-of-type) {
			color: $title-black;
			font-weight: normal;
			text-decoration: underline;
			margin-left: 3px;

			&:hover {
				text-decoration: underline !important;
			}

			&::after,
			&::before {
				display: none;
			}
		}
	}
}

.web-header {
	padding: 15px 25px;
	position: absolute;
	width: 100%;
	transition: all 0.3s ease;
	top: 0;
	z-index: 100;

	@include bpmax('tab-mid') {
		top: 0 !important;
	}

	&.menu-hover,
	&.white-header {
		background: $white;
	}

	@media only screen and (min-width: 1300px) {
		padding: 23px 35px;
	}

	@include bpmax('phone-lg') {
		padding: 10px 25px;
	}

	@media only screen and (max-width: 369.9px) {
        padding-right: 15px;
		padding-left: 15px;
    }

	.hamburger-menu {
		padding: 5px;
		display: flex;
		flex-direction: column;
		margin-right: 25px;
		margin-left: -5px;
		
		
		@include bpmax('phone-lg') {
			margin-right: 15px;
		}

		@include bpmax('phone') {
			margin-right: 10px;
		}

		span {
			display: inline-block;
			width: 20px;
			height: 2.4px;
			border-radius: 2px;
			background: $black;
			margin-top: 3px;

			&:first-of-type {
				margin-top: 0;
			}
		}
	}

	&.sticky {
		padding: 7px 25px;
		position: fixed;
		top: 0 !important;
		background: white;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
		z-index: 1000;

		@media only screen and (max-width: 369.9px) {
			padding-right: 15px;
			padding-left: 15px;
		}

		.web-header__logo {
			padding: 3px 25px;
			height: 48px;

			@include bpmax('desktop') {
				padding: 3px 0px;
			}
			
			@include bpmax('phone-lg') {
				padding: 6px 0px;
			}

			@media only screen and (max-width: 349.9px) {
				height: 42px;
			}
		}

		.web-header__menulinks {
			margin-top: 10px;
		}
		
		@media only screen and (min-width: 1300px) {
			padding: 10px 35px;

			.web-header__menulinks {
				margin-top: 15px;
			}
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.overlay {
			position: fixed;
			width: 100vw;
			height: 100vh;
			left: 0;
			top: 0;
			z-index: 1;
		}

		@include bpmax('tab-mid') {
			.account-menu {
				display: none;
			}
		}

	}

	&__bottom {
		position: relative;

		.web-header__logo,
		.close {
			display: none;
		}

		@include bpmax('tab-mid') {
			height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
			background: $white;
			transform: translateX(-100%);
			transition: all ease 0.4s;
			padding: 60px 35px 0;
			overflow-y: auto;

			.web-header__logo {
				position: absolute;
				top: 15px;
				left: 35px;
				display: block;
				cursor: pointer;
			}
			
			.close {
				position: absolute;
				top: 15px;
				right: 35px;
				display: block;
				cursor: pointer;
				
				span {
					font-weight: 100;
					font-size: 40px;
					line-height: 1;
				}
			}

			&.show {
				transform: translateX(0);
			}

			.account-info {
				padding-left: 15px;

				a {
					border: none;
					padding: 0;
					font-weight: 400 !important;
					font-size: 13px;
					margin-bottom: 25px;
					text-transform: capitalize;
					color: #4d5156;
				}

				li:last-child {
					a {
						color: #4d5156;
						font-size: 14px;
						font-weight: 600 !important;
						letter-spacing: 0.58px;
						text-transform: uppercase;
						padding-top: 20px;
						margin-top: -5px;
						border-top: 1px solid #e4e6e7;
						width: 100%;
						margin-left: -15px;
					}
				}
			}

			.account-title {
				color: #333333;
				font-size: 14px;
				display: flex;
				align-items: center;
				text-transform: uppercase;
				letter-spacing: 0.5px;
				padding: 20px 0;
				font-weight: 600 !important;
			}

			.web-header__menulinks {
				margin-top: 0;
				display: block;

				a {
					font-size: 14px;
					padding: 20px 0;
					border-bottom: 1px solid #e4e6e7;
				}
				
				&>li.dropdown-menulink {
					position: relative;

					&::after {
						content: "";
						height: 2px;
						width: 16px;
						background-color: #333333;
						position: absolute;
						right: 20px;
						top: 29px;
						border-radius: 2px;
					}
					
					&::before {
						content: "";
						height: 16px;
						width: 2px;
						background-color: #333333;
						position: absolute;
						right: 27px;
    					top: 21.5px;
						border-radius: 2px;
						transition: all ease 0.4s;
					}
					
					&:hover > a::after {
						display: none;
					}

					.dropdown-menucontain {
						position: relative;
						width: 100%;
						transform: none;
						left: unset;
						top: unset;
						height: 0;
						opacity: 0;
						transition: all ease 0.2s;

						.dropdown-menuwrap {
							width: 100%;
							margin: 0;
							padding: 0;
							border: none;

							&__box {
								width: 100%;
								margin-bottom: 20px;
								height: 0;

								h3 {
									margin: 0;
									padding: 5px 0;
									font-weight: 700;
								}

								a {
									border: none;
									padding: 5px 0;
									font-weight: 400 !important;
								}
							}

							.web-link {
								margin: 0;
    							border-bottom: 0;
							}
						}
					}

					&.show-menu {
						border-bottom: 1px solid #e4e6e7;

						.dropdown-menuwrap__box {
							height: auto;
						}

						&::before {
							transform: rotate(90deg);
						}

						a {
							border: none;
						}

						.dropdown-menucontain {
							height: auto;
							opacity: 1;
						}
					}
				}

			}

			
			.account-menu {
				display: block;
				margin: 0 -35px;
				padding: 20px 35px;
				border-bottom: 1px solid #e4e6e7;

				span {
					display: none;
				}

				a {
					p {
						font-weight: 700;
						color: #333333;
						font-size: 14px;
						display: flex;
						align-items: center;
						text-transform: uppercase;
						letter-spacing: 0.5px;
					}
				}
			}
		}

		@media only screen and (max-width: 369.9px) {
			padding: 60px 20px 0;

			.web-header__logo {
				left: 20px;
			}

			.close {
				right: 20px;
			}

			.account-menu {
				margin: 0 -20px;
				padding: 20px 20px;
				a {
				}
			}
		}
	}
	
	&__logo {
		padding: 5px 25px;
		height: 52px;

		@include bpmax('desktop') {
			padding: 5px 0px;
		}

		@include bpmax('tab-mid') {
			display: flex;
    		align-items: center;
		}

		@include bpmax('phone-lg') {
			padding: 8px 0;
			height: 46px;
		}

		@media only screen and (max-width: 349.9px) {
			height: 42px;
			padding: 6px 0;
		}

		a {
			height: 100%;
		}

		img {
			height: 100%;
		}
	}

	&__search {
		width: 382px;
		position: relative;

		.close-search {
			display: none;
			width: 35px;
			height: 35px;
			margin-left: auto;
			text-align: center;
			line-height: 33px;
			font-size: 22px;
			border: 1px solid #c2cfd4;
			border-radius: 50%;
			color: #a3abb0;
			margin-top: 20px;
			margin-right: 20px;
			cursor: pointer;

			@include bpmax('phone-lg') {
				display: block;
			}

			@include bpmax('phone') {
				margin-top: 16px;
				margin-right: 16px;
				width: 32px;
				height: 32px;
				line-height: 30px;
			}
		}

		@include bpmax('desktop') {
			width: 340px;
		}

		@include bpmax('tab-mid') {
			width: 300px;
		}

		input[type="text"] {
			width: 100%;
			background: transparent;
			border: none;
			line-height: 1.4;
			border-bottom: 1px solid #606060;
			font-size: 13px;
			padding: 5px 15px 7px 30px;

			@include bpmax('phone-lg') {
				padding-left: 32px;
				padding-right: 0;
				width: 70%;
				margin: 0 auto;
				display: block;
				margin-top: 30px;
				font-size: 18px;
				background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 24.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3e%3cpath d='M15.2,14.2l-3.3-3.3c0.9-1.1,1.4-2.5,1.4-4c0-3.5-2.8-6.3-6.3-6.3C3.5,0.6,0.6,3.5,0.6,7c0,3.5,2.8,6.3,6.3,6.3 c1.4,0,2.8-0.5,4-1.4l3.3,3.3c0.1,0.1,0.3,0.2,0.5,0.2c0.4,0,0.7-0.3,0.7-0.7C15.4,14.5,15.3,14.3,15.2,14.2z M11.9,7 c0,2.7-2.2,5-5,5c-2.7,0-5-2.2-5-5c0-2.7,2.2-5,5-5C9.7,2,11.9,4.2,11.9,7z'/%3e%3c/svg%3e ");
				background-repeat: no-repeat;
				background-size: 18px;
				background-position: 0 center;
			}

			@include bpmax('phone') {
				width: 85%;
				margin-top: 20px;
				font-size: 14px;
				background-size: 15px;
				padding-left: 28px;
			}
		}

		@include bpmax('phone-lg') {
			width: 40px;
			margin-left: auto;
			margin-left: auto;
			padding-right: 10px;
			padding-left: 10px;
			transition: all 0.3s ease;
			cursor: pointer;
			height: 27px;

			.search-screen {
				position: fixed;
				width: 100vw;
				height: 100vh;
				left: 0;
				top: -105vh;
				background: rgba(255, 255, 255, 0.95);
				z-index: 1;
				transition: all 0.3s ease;
				touch-action: none;

				> * {
					touch-action: auto;
				}
			}

			&.search-open {
				z-index: 2;
				cursor: default;

				// input[type="text"] {
				// 	padding: 3px 0 5px 0;
				// }

				// [type="submit"] {
				// 	pointer-events: all;
				// }

				.search-screen {
					top: 0;
				}
			}
		}

		@include bpmax('phone') {
			padding-right: 35px;
			padding-left: 10px;
		}

		&::-ms-input-placeholder {
			color:#15171a;
			opacity: 0.28;
			transition: opacity 0.3s ease;
		}

		&::-moz-placeholder {
			color:#15171a;
			opacity: 0.28;
			transition: opacity 0.3s ease;
		}

		&::-webkit-input-placeholder {
			color:#15171a;
			opacity: 0.28;
			transition: opacity 0.3s ease;
		}

		[type="submit"] {
			padding: 0;
			background: transparent;
			position: absolute;
			border: none;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			font-size: 16px;

			@include bpmax('phone-lg') {
				left: auto;
				right: 10px;
				font-size: 18px;
				margin-top: 1px;
				color: #333333;
				pointer-events: none;
			}

			@include bpmax('phone-lg') {
				font-size: 16px;
			}
		}
	}

	&__toplinks {
		display: flex;
		align-items: center;

		p {
			max-width: 110px;
			overflow: hidden;
			text-overflow: ellipsis;

			@include bpmax('tab-mid') {
				display: none;
			}
		}

		@include bpmax('tab-mid') {
			padding-top: 5px;
		}

		li {
			position: relative;

			&:hover {
				.profile-dropdown {
					top: calc(100% - 5px);
					opacity: 1;
					pointer-events: all;
				}
			}

			@media only screen and (max-width: 1299.9px) {
				margin-left: 40px;
			}

			@media only screen and (min-width: 1300px) {
				margin-left: 53px;
			}

			@include bpmax('tab') {
				margin-left: 30px;
			}

			@include bpmax('phone-lg') {
				margin-left: 15px;
			}

			@include bpmax('phone') {
				margin-left: 10px;
			}

			&:first-of-type {
				@include bp('tab') {
					margin-left: 0;
				}
			}
		}

		a {
			color: $menu-black;
			font-size: 12px;
			display: flex;
			align-items: center;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			@extend .fnt-500;

			span {
				position: relative;
				
				sup {
					position: absolute;
					background: $bnr-red;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					color: $white;
					top: -5px;
					right: 3px;
					line-height: 15px;
					text-align: center;

					@include bpmax('phone-lg') {
						top: -7px;
						right: 1px;
					}
				}
			}

			i {
				font-size: 20px;
				margin-right: 10px;

				@include bpmax('phone-lg') {
					font-size: 18px;
				}

				@include bpmax('phone') {
					font-size: 16px;
				}
			}
		}
	}

	&__menulinks {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		margin-bottom: 5px;

		@media only screen and (min-width: 1300px) {
			margin-top: 30px;
		}

		a {
			color: $menu-black;
			font-size: 12px;
			display: flex;
			align-items: center;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			@extend .fnt-600;
		}

		.seperator {
			width: 1px;
			height: auto;
			background: $black;
		}
	}

	.profile-dropdown {
		padding-top: 10px;
		position: absolute;
		right: -5px;
		z-index: 1;
		opacity: 0;
		top: calc(100% + 3px);
		transition: all 0.2s ease-in;
		pointer-events: none;

		ul {
			padding: 15px 20px;
			white-space: nowrap;
			background: $white;
			box-shadow: 0 1px 7px rgba(0, 0, 0, 0.09);
	
			li {
				margin: 0;
				margin-top: 7px;
				display: flex;
				justify-content: flex-end;
	
				&:first-of-type {
					margin-top: 0;
				}
	
				a {
					padding: 1.5px 0;
					justify-content: flex-end;
					border-bottom: 1px solid transparent;
					transition: all 0.2s ease;
	
					&:hover {
						border-color: inherit;
					}
				}
			}
		}
	}
	
}

.dropdown-menulink {
	&:hover {
		.dropdown-menucontain {
			transform: translate(-50%, -25px);
			opacity: 1;
			pointer-events: all;
		}

		> a::after {
			opacity: 1;
			bottom: -14px;
		}
	}

	> a {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			background: #333333;
			bottom: -20px;
			opacity: 0;
			transition: all 0.3s ease;
			z-index: 1;
		}
	}
}

.dropdown-menucontain {
    position: absolute;
    width: 100vw;
    left: 50%;
    transform: translate(-50%, -10px);
    top: calc(100% + 20px);
    opacity: 0;
	transition: all 0.2s ease;
	pointer-events: none;
}

.dropdown-menuwrap {
	background: #ffffff;
    width: 100vw;
	padding: 35px 0;
	margin-top: 17px;
	border-top: 1px solid #e0e0e0;

	@include bpmax('desktop-1200') {
		padding: 30px 0;
	}

	&__box {
		padding: 0 15px;

		h3 {
			color: $menu-black;
			font-family: $opensans;
			font-size: 14px;
			font-weight: 600;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			margin-bottom: 18px;

			@include bpmax('desktop-1200') {
				margin-bottom: 15px;
			}
		}

		li {
			margin-top: 12px;

			@include bpmax('desktop-1200') {
				margin-top: 9px;
			}

			@include bpmax('desktop') {
				margin-top: 7px;
			}

			&:first-of-type {
				margin-top: 0;
			}
		}

		a {
			text-transform: none;
			padding: 2px 0;
			border-bottom: 1px solid transparent;
			transition: all 0.3s ease;
			display: inline-block;

			&:hover {
				border-bottom: 1px solid;
			}
		}
	}

	&__img {
		width: 225px;
		position: relative;

		@include bpmax('desktop') {
			width: 170px;
		}

		img {
			width: 100%;
		}

		.full-link {
			border: none !important;
		}
	}

	.web-link {
		display: table;
		margin: 50px auto 20px;

		@include bpmax('desktop-1200') {
			margin: 30px auto 15px;
		}
	}
}

.offer-bar {
	background-color: $white;
	position: relative;
	z-index: 20;
	
	&__head {
		padding: 11px 120px;
		background-color: $white;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 0.22px;
		line-height: 1.5;
		text-align: center;
		color: $title-black;
		border-bottom: 1px solid #e4e6e7;
	}
	
	&__toggle {
		color: $title-black;
		font-size: 10px;
		font-weight: 700;
		letter-spacing: 0.18px;
		line-height: 1.8;
		text-transform: uppercase;
		position: absolute;
		right: 40px;
		top : 11px;
		padding-right: 17px;
		cursor: pointer;

		&::after {
			content: "";
			height: 2px;
			width: 10px;
			background-color: #333333;
			position: absolute;
			right: 0;
			top: 7px;
			border-radius: 2px;
		}
		
		&::before {
			content: "";
			height: 10px;
			width: 2px;
			background-color: #333333;
			position: absolute;
			right: 4px;
			top: 3px;
			border-radius: 2px;
			transition: all ease 0.4s;
		}
	}

	@include bpmax('tab-mid') {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100vw;
		transition: all ease 0.4s;
		transform: translateY(calc(100% - 40px));
		z-index: 10;
		padding: 11px 0;
		box-shadow: 0px -6px 25px -13px rgba(0, 0, 0, 0.5);
	
		&__head {
			text-align: left;
			padding: 0 90px 0 15px;
			border-bottom: none;
		}

		&__toggle {
			top: 11px;
			right: 15px;
		}
	}
}

.offer-bar-c {
	padding-top: 23px;
	padding-bottom: 23px;
	background-color: $white;
	position: absolute;
    left: 0;
    top: 100%;
	transform: translateY(-150%);
	transition: all ease 0.4s;
	opacity: 0;
	z-index: -1;
	
	.web-link {
		margin-top: 8px;
		font-size: 11px;
		line-height: 1.6;
	}


	@include bpmax('tab-mid') {
		padding: 11px 0;
		background-color: $white;
		position: relative;
		left: unset;
		top: unset;
		transform: none;
		opacity: 1;

		.web-link {
			display: none;
		}
	}
}

.offer-bar-card {
	padding: 15px 27px 10px;
	background-color: #7c7c7c;
	min-width: 350px;
	min-height: 130px;

	h6 {
		color: $white;
		font-family: $opensans;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 0.25px;
		line-height: 1.28;
		text-transform: uppercase;
		margin-bottom: 17px;
		text-align: center;
	}

	.price {
		color: $white;
		font-size: 28px;
		font-weight: 700;
		letter-spacing: 0.51px;
		margin-bottom: 13px;
	}
	
	.code {
		color: $white;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.25px;
		text-transform: uppercase;
		border: 1px dashed $white;
		padding: 10px 43px;
		margin-bottom: 13px;
		max-width: 185px;
	}

	.date,
	.copy-code {
		color: $white;
		font-size: 9px;
		font-weight: 700;
		letter-spacing: 0.16px;
		line-height: 18px;
	}

	.copy-code {
		cursor: pointer;
	}

	&.sale {
		p {
			color: $white;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 0.25px;
			line-height: 18px;
		}

		.sale-price {
			display: flex;

			p {
				font-weight: 400;
			}

			h6 {
				color: $white;
				font-size: 66px;
				font-weight: 900;
				letter-spacing: 1.2px;
				font-family: $playfair;
				line-height: 0.7;
				margin-left: -12px;
			}

			.percentage {
				width: 20px;
				font-weight: 600;
			}
		}

		.conditions {
			opacity: 0.71;
			font-size: 9px;
			font-weight: 700;
			letter-spacing: 0.16px;
			margin-top: -10px;
			text-align: right;
		}
	}

	@include bpmax('tab-mid') {
		padding: 11px 20px;
		min-width: 250px;
		width: 280px;
		min-height: 100px;
		height: 105px;
	
		h6 {
			font-size: 11px;
			margin-bottom: 12px;
		}
	
		.price {
			font-size: 20px;
			margin-bottom: 10px;
		}
		
		.code {
			font-size: 12px;
			padding: 6px 20px;
			margin-bottom: 10px;
		}
	
		.date,
		.copy-code {
			font-size: 9px;
			line-height: 14px;
		}

		&.sale {
			p {
				font-size: 11px;
				line-height: 14px;
			}
	
			.sale-price {
				display: flex;
	
				p {
					font-weight: 400;
				}
	
				h6 {
					font-size: 52px;
					letter-spacing: 0.95px;
					line-height: 0.7;
					margin-left: -12px;
				}
	
				.percentage {
					width: 16px;
				}
			}
	
			.conditions {
				font-size: 7px;
				letter-spacing: 0.13px;
				margin-top: -10px;
				text-align: right;
			}
		}
	}
}

.offer-bar.show {
	.offer-bar__toggle {
		&::before {
			transform: rotate(90deg);
		}
	}

	.offer-bar-c {
		transform: translateY(0);
		opacity: 1;
	}

	@include bpmax('tab-mid') {
		transform: none;
	}
}