// Neck info

// When it's cheked add this

.style-check:checked {
    & +.img-wrp  {
        border: 1px solid #f25c50;
    }
}

// Neckline checkbox

.neck-container {
    max-width: 255px;
    overflow-x: auto;
    // overflow-y: auto;
}

.neck-wrapper {
    max-width: 50px;
    text-align: center;
    margin-right: 1.8rem;
    @include bp("tab") {
        margin-right: 1rem;
    }
    @include bp("tab-lg") {
        margin-right: 1.8rem;
    }
}

.neck-type {
    font-size: 10px;
    line-height: 14px;
    display: block;
    color: rgba($color: #787d83, $alpha: .87);
    margin-top: .5rem;
}

.img50x50 {
    height: 50px;
    width: 50px;
    object-fit: contain;
    @include bp("tab") {
        height: 45px;
        width: 45px;
    }
    @include bp("tab-lg") {
        height: 50px;
        width: 50px;
    }
}