
.panel {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.06);
    background-color: $white;

    &--inner-info{
        padding: 2rem 2.8rem;
    }

    &__heading {
        font-size: 14px;
        line-height: 22px;
        color: $selection-label;
        font-family: $opensans;
        font-weight: 700 !important;
    }
    
}