.banner-container {
    padding-bottom: 22.5%;
    position: relative;
    height: auto;
    display: block;
    &__view {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: 100%;
    }
}

// Background patch

.delivery-patch {
    @extend .fnt-sm;
    text-align-last: center;
    padding-top: .8rem;
    padding-bottom: .8rem;
    color: $title-black;
    &__date {
        color: $bnr-red;
        font-weight: 600;
    }
}

// Product alert

.product-alert {
    display: none;
    text-align: center;
    color: #4c4f52;
    font-size: 11px;
    padding: {
      top: .5rem;
      bottom: .5rem;
    }
    // When its added the cheked class 
    &.class-cheked {
      display: block;
      margin-bottom: 1.5rem;
    }
  }
  
.text-hilght {
    font-weight: 600;
    color: #131415;
}