.banner-container {
    padding-bottom: 22.5%;
    position: relative;
    height: auto;
    display: block;
    &__view {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: 100%;
    }
}

.bg-banner-content {
  background: #fcfcfc;
  &__heading {
    font-size: 26px;
    line-height: 36px;
  }
  p {
    color: $card-title;
  }
  &__container {
    max-width: 250px;
    margin: 0 auto;
    @include bp("tab") {
      max-width: 350px;
    }
    padding: {
      top: 2rem;
      bottom: 2rem;
    };
  }
}

// Background patch

.delivery-patch {
  @extend .fnt-sm;
  text-align-last: center;
  padding-top: .8rem;
  padding-bottom: .8rem;
  color: $title-black;
  &__date {
    color: $bnr-red;
    font-weight: 600;
  }
  p{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    @include bp("tab") {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

// Product alert

.product-alert {
    display: none;
    text-align: center;
    color: #4c4f52;
    font-size: 11px;
    padding: {
      top: .5rem;
      bottom: .5rem;
    }
    // When its added the cheked class 
    &.class-cheked {
      display: block;
      margin-bottom: 1.5rem;
    }
  }
  
.text-hilght {
    font-weight: 600;
    color: #131415;
}