
//Share social
.share {
    position: relative;
    .icon-share {
        cursor: pointer;
        font-size: 14px;
        // line-height: 24px;
        @include bp("tab") {
            font-size: 16px;
            // line-height: 26px;
        }
    }

    // Tooltip-share
    .tooltip-share {
        // transition: ease-in-out all .6s;
        pointer-events: none;
        opacity: 0;
        padding: 14px 20px ;
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.09);
        background-color: #ffffff;
        position: absolute;     
        top: calc(100% - 140px);
        // transform: translate(-100%,-100%);
        right: 10px;
        padding-top: 0;
        z-index: 15;

        &--right {
            top: calc(100% - 145px);
            right: 15px;
            @include bp("tab") {
                top: calc(100% - 160px);
            }
        }

        &__item {
            margin-top: 14px;
        }
        .facebook {
            .tip-icon{ 
                background-color: #3b5998;
                &::before {
                    font-size: 12px;
                }
            }
        }
        .twitter {
            .tip-icon{ 
                background-color: #55acee;
                &::before {
                    font-size: 9px;
                }
            }
        }
        .tip-icon{
            margin-right: 10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: relative;
            &::before {
                top: 50%;
                font-size: 12px;
                position: absolute;
                color: #ffffff;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
     
        .icon-pinterest{
            background-color: #cb2027;
            position: relative;
        }   
    }
    &:hover {
        .tooltip-share {
            opacity: 1;
            transition: ease-in-out all .3s;
            pointer-events: all;
        }
    }
}
