.pop-up {
    .parsley-min,
    .parsley-custom-error-message {
        padding-top: 4px;
        color: #f75d51;
        font-size: 9px;
        font-weight: 400;
    }
    .fade {
        @media screen and (min-width:992px ){
            opacity: 1 !important;
          
        }
    }
    .close-modal {
        top: 8px;
        left: calc(100% - 42px )!important ;
        @media screen and (min-width:768px ){
            left: calc(100% + 14px )!important ;
        //    top: -3px;
   
        }
    }
    .pop-head {
        font-style: $opensans !important;
        color: $title-black;
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 22px;
        @media screen and (min-width:768px ){
            font-size: 18px;
   
        }
    }
    .return {
        background-color: #f9f9f9;
        padding: 22px 22px 32px;
        @media screen and (min-width:768px ){
            padding: 6.625rem 6.875rem 6.875rem  8.75rem;
            
        }
        @media screen and (min-width:992px ){
            padding: 6.625rem 4.875rem 6.875rem  4.75rem;
            
        }
        @media screen and (min-width:1336px ){
            padding: 6.625rem 6.875rem 6.875rem  8.75rem;
            
        }
    }
    .new-customer {
        padding: 22px 22px 32px;
        @media screen and (min-width:768px ){
            padding: 6.625rem  8.75rem 6.875rem  6.875rem;
            
        }
        @media screen and (min-width:992px ){
            padding: 6.625rem  4.75rem 6.875rem  4.875rem;
        
        }
        @media screen and (min-width:1336px ){
            padding: 6.625rem  8.75rem 6.875rem  6.875rem;
            
        }
    }
    
     .modal-dialog {
        overflow: visible !important;
        @media screen and (max-width:767px){
            margin-top: 123px;

        }
        @media screen and (min-width:992px){
            max-width: 930px;

        }

         @media screen and (min-width:1336px){
             max-width: 1110px;
             
            }
        
    }

    .form-group {
        margin-bottom: 23px;
    }

    label {
        color: #2e333d;
        font-size: 13px;
        font-weight: 400;
        display: block;
        margin-bottom: 5px;
        line-height: 18px;
        
    }

    .form-input {
        width: 100%;
        height: 50px;
        font-size : 14px;
        padding: 10px;
        border: 1px solid #dadcde;
        background-color: #ffffff;
        height: 44px;

        @media(max-width: 991px) {
            max-width: 100%;
        }
        
    }
    .link-pop {
        color: #3f4145;;
        font-size: 12px;
        font-weight: 400;
        text-decoration: underline;
    }
    .add-text {
        color: #40454f;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
    .modal-content{
        overflow: auto !important;
        box-shadow: none !important;
        background-color: #ffffff;
        @media screen and (max-width:991px ){
            padding-top: 80px !important;
        }

    }
    .add-offer {
        i {
            font-size: 18px;
        }
    }
    .sign-up {
        .active {
            border-radius: 2px;
            background-color: #f4f4f4 !important;
        }
    }

    .select_wrap {
        width: 100%;
        max-width: 300px;
        border: none;
        height: 44px;
        
        @media(max-width: 991px) {
            max-width: 100%;
        }
        
        span {
            color: $title-black;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            border: 1px solid #dadcde;
            background-color: #ffffff;
            padding: 13px 10px;
            width: 100%;
            max-width: 300px;
            height: 44px;

            @media(max-width: 991px) {
                max-width: 100%;
            }

        }
        
        &.open:after,
        &:after {
            top: 48%;
        }
        
        .overlay {
            height: 100%;
            width: 100%;
        }
        
        ul {
            width: 100%;
            max-width: 300px;
            left: 0;

            @media(max-width: 991px) {
                max-width: 100%;
            }
            
            li {
                font-size: 13px;
                padding: 10px 15px;
                line-height: 1.4;
                
                &:first-child {
                    display: none;
            }

            &:nth-child(2) {
                border: 1px solid #cdcecf;
            }
        }
    }

    }
    
}
.address {
 
    .select-style select:focus {
        outline: none;
    }
    .triangle-icon {
        position: absolute;
        right: 12px;
        top: 18px;
        // transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 6px solid #a1a1a1;
    }
    .select-style {
        position: relative;
        padding: 0;
        overflow: hidden;
        background-color: #ffffff;
        
    }
    
    .select-style select {
        cursor: pointer;
        padding: 5px 8px;
        // width: 130%;
        border: none;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid #cdcecf;
    }
    .modal-content {
        padding: 22px 22px 32px;
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        @media screen and (min-width:768px ){
            padding: 62px 15px;
        }

    }
    .from-wrapper {
        width: 100%;
        max-width: 660px;
    }
    .shop-info {
        color: #6b717c;
        font-size: 10px;
        font-weight: 400;
    }
    .change-address {
        padding-bottom: 24px;
        border-bottom: 1px solid #dadcde;
        @media screen and (min-width:768px ){
            border-top: 1px solid #dadcde;
            padding: 24px 0;
            
        }
    }
    .address-checkbox:not(:checked) {
        & ~ .label-container  {
            display: block;
        }
    }
  
    .change-address-form {
        display: none;
        margin-top: 30px;
    }
}