// Overiding bootstrap styles

.favourite-tabs {
    .nav-item {
        margin-bottom: 0;
    }
    .nav-link {
        border: none !important;
        background: transparent;
        @extend .fnt-xs;
        color: #797b7e;
        padding: .45rem 1rem;
        
        &:hover, &.active {
            border-radius: 2px;
            border: none !important;
        }
        &:hover {
            color: #797b7e;
        }
        &.active {
            color: $white;
            background: $bnr-red;
            font-weight: 600;
        }
    }

}

//Tabs content

.tab-content__cards {
    padding-top: 1.2rem;
    padding-bottom: 5rem;
    @include bp("tab") {
        padding-bottom: 3rem;
    }
    @include bp("tab-lg") {
        padding-bottom: 5rem;
    }
}