
/** section paddings **/

.section-padding4 {
    padding: 4rem 0;

    @include bpmax('desktop') {
        padding: 50px 0;
    }

    @include bpmax('tab-mid') {
        padding: 45px 0;
    }

    @include bpmax('phone') {
        padding: 35px 0;
    }
}
