section.home-cards.home-cards--white
    .container
        .home-cards__box-lg(style="background-image: url('assets/images/home/card-img1.jpg')")
            .home-cards__content
                h3.home-cards__title.h3heading Styled for work
                p.home-cards__desc Professional work styles, fashions & outfits for the modern woman!
        
        .position-relative
            span.home-cards__tag.white-text Brands we offer
            .js-homecard-slider.swiper-container.white-text
                .swiper-wrapper
                    .swiper-slide
                        .home-cards__slide(style="background-image: url('assets/images/home/card-img2.jpg')")
                            .home-cards__content
                                h3.home-cards__title.h3heading Wayward Fancies
                                p.home-cards__desc Free-spirited, bohemian prints, styling and color.
                    .swiper-slide
                        .home-cards__slide(style="background-image: url('assets/images/home/card-img1.jpg')")
                            .home-cards__content
                                h3.home-cards__title.h3heading Wayward Fancies
                                p.home-cards__desc Free-spirited, bohemian prints, styling and color.
                    .swiper-slide
                        .home-cards__slide(style="background-image: url('assets/images/home/card-img2.jpg')")
                            .home-cards__content
                                h3.home-cards__title.h3heading Wayward Fancies
                                p.home-cards__desc Free-spirited, bohemian prints, styling and color.
                .swiper-pagination

section.home-cards.home-cards--grey
    .container
        .row
            .col-sm-6
                .home-cards__box-sm(style="background-image: url('assets/images/home/card-img3.jpg')")
                    .home-cards__content
                        h3.home-cards__title.h3heading Sweater Knits
                        p.home-cards__desc Fully fashioned & custom-knitted just for you.
            .col-sm-6
                .home-cards__box-sm(style="background-image: url('assets/images/home/card-img4.jpg')")
                    .home-cards__content
                        h3.home-cards__title.h3heading Bridal Collections
                        p.home-cards__desc Explore the unique designs & patterns made for you.
            .col-sm-6
                .home-cards__box-md.text-center(style="background-image: url('assets/images/home/card-img5.jpg')")
                    .home-cards__content.white-text
                        h3.home-cards__title.h3heading Party
                        p.home-cards__desc Fun, fashionable and elegant party dresses.
            .col-sm-6
                .home-cards__box-md(style="background-image: url('assets/images/home/card-img6.jpg')")
                    .home-cards__content
                        h3.home-cards__title.h3heading LBD
                        p.home-cards__desc Fully fashioned, custom-knitted just for you.
                