section.home-contest
    .container
        .row.align-items-center
            .col-sm-5.home-contest__text
                h3.h3heading Something Happened
                p ‘Something Happened’ is a contest that helps us hear your stories. We also reward the best of them. Here are the winning entries of our last contest. We hope you will share your special eShakti story in the current Something Happened Contest.
                a.web-link(href="#") How to enter contest
            .col-sm-7.home-contest__img
                .home-contest__imgbox(style="background-image: url('assets/images/home/contestant-img1.jpg')")
                    .home-contest__namebox
                        p.name Natasha Howard
                        label.prize First Prize
                .home-contest__imgbox(style="background-image: url('assets/images/home/contestant-img2.jpg')")
                    .home-contest__namebox
                        p.name Natasha Howard
                        label.prize First Prize