section.home-feedback
    .container
        h2.section-heading Feedback of the day
        .js-homefeed-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .home-feedback__box
                        p.quote I could write about all the wonderful features of eShakti, such as the creative and varied clothing designs, the well-designed and informative product descriptions on the website, the ease of ordering, the lovely packaging and super quick delivery.
                        p.author Dorothea Parrish , PA
                .swiper-slide
                    .home-feedback__box
                        p.quote I could write about all the wonderful features of eShakti, such as the creative and varied clothing designs, the well-designed and informative product descriptions on the website, the ease of ordering, the lovely packaging and super quick delivery.
                        p.author Dorothea Parrish , PA
                .swiper-slide
                    .home-feedback__box
                        p.quote I could write about all the wonderful features of eShakti, such as the creative and varied clothing designs, the well-designed and informative product descriptions on the website, the ease of ordering, the lovely packaging and super quick delivery.
                        p.author Dorothea Parrish , PA
