
.home-cards__media
    .home-cards__boxdata.responsive-bgimage(data-src="assets/images/home/cards-media.jpg", data-sm-src="assets/images/home/cards-media-sm.jpg")
        .home-cards__content
            h3.home-cards__title.h3heading eShakti Fx
            p.home-cards__desc Check out the various styles you can have in a few clicks.
            a(href="#")
                i.icon-play
                | Play video
