section
    .container
        .row
            .col-md-10.offset-md-1.col-xl-6.offset-xl-3
                h3.section-heading Real fashion for Real people
                p eShakti as seen on Customers / Bloggers