section.section-padding4
    .container
        .row
            .col-md-10.offset-md-1.col-xl-6.offset-xl-3.text-center.mb-3.mb-md-0
                h3.section-heading.txt-primary.mx-5.mx-md-0 Real fashion for Real people
                p.section-des eShakti as seen on Customers / Bloggers
        
        //START:CARDS INFO
        .row.mt-3.mt-sm-4.mt-md-5
            .js-fashion-slider.swiper-container
                .swiper-wrapper
                    .col-md-4.swiper-slide
                        a(href="javascript:void(0);").ekt-card
                            picture.ekt-card__view
                                source(srcset="./assets/images/home/fashion/fashion2.png")
                                img.img310x456(src="./assets/images/home/fashion/fashion2.png" alt="Fashion")
                            //START:CART-CONTENT
                            .ekt-card__box.ekt-card__inner-content
                                h6.ek-card-title JUST LOVE A DRESS THAT WAS CUSTOMIZED
                                blockquote
                                    span.author-quotes New blog post Don't you just love a dress that was customized just for you?! Well anyone can have this for…
                                    div.author-info
                                        span.fnt-600 Rebecca Harasym, US
                                        img.img14x14(src="./assets/images/home/insta-gradient.svg" alt="Instagradient")
                    
                    .col-md-4.swiper-slide
                        a(href="javascript:void(0);").ekt-card
                            picture.ekt-card__view
                                source(srcset="./assets/images/home/fashion/fashion3.png")
                                img.img310x456(src="./assets/images/home/fashion/fashion2.png" alt="Fashion")
                            //START:CART-CONTENT
                            .ekt-card__box.ekt-card__inner-content
                                h6.ek-card-title JUST LOVE A DRESS THAT WAS CUSTOMIZED
                                blockquote
                                    span.author-quotes New blog post Don't you just love a dress that was customized just for you?! Well anyone can have this for…
                                    div.author-info
                                        span.fnt-600 Rebecca Harasym, US
                                        img.img14x14(src="./assets/images/home/insta-gradient.svg" alt="Instagradient")
                    
                    .col-md-4.swiper-slide
                        a(href="javascript:void(0);").ekt-card
                            picture.ekt-card__view
                                source(srcset="./assets/images/home/fashion/fashion1.png")
                                img.img310x456(src="./assets/images/home/fashion/fashion2.png" alt="Fashion")
                            //START:CART-CONTENT
                            .ekt-card__box.ekt-card__inner-content
                                h6.ek-card-title JUST LOVE A DRESS THAT WAS CUSTOMIZED
                                blockquote
                                    span.author-quotes New blog post Don't you just love a dress that was customized just for you?! Well anyone can have this for…
                                    div.author-info
                                        span.fnt-600 Rebecca Harasym, US
                                        img.img14x14(src="./assets/images/home/insta-gradient.svg" alt="Instagradient")