section
    .container
        .row
            .col-12
                .sale-info
                    .sale-info__banner
                        picture
                            source(srcset="../assets/images/home/banner-holesale.png")
                            img(src="../assets/images/home/banner-holesale.png" alt="wholesale-Banner")
                    .sale-info__content
                        h3 eShakti is now available for wholesale
                        p Let us help you grow your business.

            //- .sale-banner(style="background-image: url('aasets/image/home/banner-holesale.png')")