@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&display=swap');

@font-face {
    font-family: 'icomoon';
    src:  url('../assets/fonts/icomoon.eot');
    src:  url('../assets/fonts/icomoon.eot#iefix') format('embedded-opentype'),
      url('../assets/fonts/icomoon.ttf') format('truetype'),
      url('../assets/fonts/icomoon.woff') format('woff'),
      url('../assets/fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
[class^="icon-"], [class*="icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-account::before {
    content: "\e900";
}
.icon-cart::before {
    content: "\e901";
    font-size: 110%;
}
.icon-dropdown::before {
    content: "\e902";
}
.icon-facebook::before {
    content: "\e903";
}
.icon-instagram::before {
    content: "\e904";
}
.icon-pinterest::before {
    content: "\e905";
}
.icon-search::before {
    content: "\e906";
}
.icon-tumblr::before {
    content: "\e907";
}
.icon-twitter::before {
    content: "\e908";
}
.icon-wishlist::before {
    content: "\e909";
}
.icon-mail::before {
    content: "\e90a";
    color: #f25c50;
}
.icon-quote::before {
    content: "\e90b";
    color: #f5f5f5;
}
.icon-play::before {
    content: "\e90c";
    color: #e05d21;
}
.icon-share::before {
    content: "\e916";
}
.icon-starfill::before {
    content: "\e90d";
    color: #abb2b8;
}
.icon-info::before {
    content: "\e90e";
    color: #979797;
}
.icon-star::before {
    content: "\e90f";
    color: #979797;
}
.icon-custom::before {
    content: "";
    width: 1em;
    height: 1em;
    background: url('../assets/images/custom.svg');
    background-size: cover;
    background-position: center;
    display: inline-block;
}
.icon-offer::before {
    content: "\e910";
    color: #f25c50;
}
.icon-tickmark::before {
    content: "\e911";
}
.icon-fillwishlist::before {
    content: "\e912";
}