/*
Color Codes
*/

$bnr-black: #202225;
$bnr-red: #f25c50;
$menu-black: #333333;
$title-black: #2e333d;
$text-black: #3f4145;



/*
  Media Query min-width Breakpoints
*/
$xs: 320px;
$sm: 576px;
$lg: 992px;
$tab: 768px;
$xl: 1200px;
$sxl: 1600px;
$mxl: 1900px;
$desktop: 1024px;
$desktop-lg: 1440px;

$white: #ffffff;
$black: #000000;

$playfair : 'Playfair Display', serif;
$opensans : 'Open Sans', sans-serif;



/*
 Media Query Breakpoints end
*/

//Font variables


// Letter spacing

$letter-spacing01: 0.1px;

$letter-spacing02: 0.2px;

$letter-spacing03: 0.3px;

$letter-spacing04: 0.4px;


// Borders

$footer-brder:#393939;


// cards

$card-title: #15171a;
