
.section-des {
    color: $text-black;
}

.img310x456{
    width: 240px;
    max-height: 100%;
    max-width: 100%;

    @include bp("tab-lg") {
        width: 310px;
    }
}

.img14x14 {
    height: 14px;
    width: 14px;
}

// blockquotes

blockquote {
    margin-bottom: 0;
}

.author-quotes {
    letter-spacing: $letter-spacing01;
    font-style: italic;
    line-height: 1.46;
    height: 57px;
    overflow: hidden;
    display: inline-block;
}

.author-info {
    letter-spacing: $letter-spacing02;
    color: $black;
    display: flex;
    align-items: center;
    margin-top: 15px;
    line-height: 1.46;

    span {
        margin-right: 12px;
    }
}

.home-fashion-slider {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: calc(100% - 30px);
        left: 15px;
        border-top: 1px solid #393939;
        bottom: -4rem;

        @include bpmax('desktop') {
            bottom: -50px;
        }
    
        @include bpmax('tab-mid') {
            bottom: -45px;
        }
    
        @include bpmax('phone') {
            bottom: -35px;
        }
    }
}
